.box
  h1 h1. Auth0 heading
  h2 h2. Auth0 heading
  h3 h3. Auth0 heading
  h4 h4. Auth0 heading
  h5 h5. Auth0 heading

p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue. Vestibulum id ligula porta felis euismod semper.

