/*==========  Breadcrumb  ==========*/
ul.breadcrumb
  margin: 0;
  padding: 0;
  font-size: 11px;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 10px;
  background: none;
  border-radius: 0;
  margin-bottom: 20px;
  text-transform: uppercase
  letter-spacing: 1px;

  &>li+li:before
    content: "";
    padding: 0;
  li
    display: inline-block
    padding: 0;
    margin: 0;
    margin-right: 10px;
    font-size: 11px;


/*==========  Subheader  ==========*/
.sub-header
  border-radius: 3px;
  margin-bottom: 40px;
  background-color: color_blue;
  background: linear-gradient(120deg, darken(color_red, 40%) 0%, color_blue 100%); /* W3C */
  font-weight: bold
  font-size: 12px;
  color: white;
  a 
    color: white;

  span.sub-header-text, .external-links a
    padding: 14px 20px;
    display: inline-block

  .btn 
    line-height: 32px
    font-size: 12px;
    background: none;
    border: 0;
    border-radius: 0;
    border-right: 1px solid #ccc;
    text-transform: none
    background: linear-gradient(180deg, transparent 30%, rgba(0,0,0,.8) 100%); /* W3C */
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    letter-spacing: .5px;

    position: relative;
    text-align: left;
    padding-left: 20px;
    padding-right: 40px;
    letter-spacing: 0.5px;
    display: inline-block

    span 
      position: absolute;
      right: 20px;
      top: 20px;

    &:hover 
      background: linear-gradient(180deg, transparent 0%, rgba(0,0,0,.8) 100%); /* W3C */
      color: white;


    &.dropdown-toggle 
      color: white; 

    &:focus
      outline: none;

  .dropdown 
    display: inline-block
  .dropdown-menu
    
    li 
      margin: 0;

    .divider 
      margin: 10px 0;
      font-size: 14px;  

  ul.external-links
    display: inline-block
    float: right;
    li
      float: left
      display: inline-block
      color: white;
      font-size: 12px;
      padding: 0;
      margin: 0;
      a
        opacity: .6;
        &:hover
          opacity: 1;


  &.sub-header-dropdown
    background: #5D676F;

/*==========  Center title block  ==========*/

.center-title-block
  text-align: center
  max-width: 680px;
  padding: 0;
  margin: auto;
  margin-bottom: 80px;
  max-width: 600px;
  margin-bottom: 40px

  .icon-badge
    margin-bottom: 10px;
  

  h2
    color: block;
    font-weight: 300;
    margin: 10px 0;
  p
    color: #798291;
    // line-height: 2;
    font-size: 1.2rem;
    margin-top: 0;
    color: rgba(0,0,0,.5)

  img
    margin-top: 17px
    height: 26px;

    &.help-circle
      margin-top: -5px




/*==========  Big Tabs  ==========*/
.big-tabs
  text-transform: uppercase
  font-size: 10px;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  margin: 0;
  margin-bottom: 40px;
  li
    display: inline-block
    float: none;
    font-weight: bold
    margin: 0;
    border: 1px solid darken(color_blue_light, 20%);
    margin-left: -1px;

    &:first-child
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    
    &:last-child
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;

    a
      color: darken(color_blue_light, 20%);
      line-height: 32px;
      display: inline-block
      padding: 0 30px;

    &.active
      a
        background: darken(color_blue_light, 20%);
        color: white;


/*==========  Browser  ==========*/

.browser-window 
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0,0,0,.5);
  width: 800px;
  margin:auto;
  margin-top:20px;
  overflow:hidden;
  border:1px solid #C1C2C2;

  .browser-inside {
    overflow:hidden;
    padding:10px;
    background-position: top center;
    height: 400px;
    background-size: cover;
  }

  .browser-top {
    padding:7px 0;
    position:relative;
    background: #f1f1f1;
    background: -moz-linear-gradient(top, #E9E9E9 3%, #d8d8d8 100%);
    background: -webkit-gradient(left top, left bottom,color-stop(3%, #E9E9E9), color-stop(100%, #d8d8d8));
    background: -webkit-linear-gradient(top, #E9E9E9 3%, #d8d8d8 100%);
    background: -o-linear-gradient(top, #E9E9E9 3%, #d8d8d8 100%);
    background: -ms-linear-gradient(top, #E9E9E9 3%, #d8d8d8 100%);
    background: linear-gradient(to bottom, #E9E9E9 3%, #d8d8d8 100%);  
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.76);
    -moz-box-shadow:    inset 0px 1px 1px 0px rgba(255, 255, 255, 0.76);
    box-shadow:         inset 0px 1px 1px 0px rgba(255, 255, 255, 0.76);  
    
    overflow:hidden;
    border-bottom:2px solid #BDBCC1;
  }

  .browser-top > div {
    float:left;
  }


  .browser-toolbar {
    padding-left:12px;
    padding-top:6px;
  }

  .browser-toolbar > span {
    display:inline-block;
    float:left;
    width:12px;
    height:12px;
    margin-right:7px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;  
    cursor:pointer;

  }

  .browser-toolbar span.first {
    background:#FF5F4F;
  }

  .browser-toolbar span.second {
    background:#F9C206;
  }

  .browser-toolbar span.third {
    background:#19CC32;
  }


  .browser-nav {
    overflow:hidden;
  }

  .browser-nav > span {
    display:inline-block;
    float:left;
    background:#FBFBFB;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; 
    height:23px;
    padding:0 8px;
    cursor:pointer;
    color:#B4B4B4;
    border-bottom:1px solid #CECECE;
  }
  .browser-nav > span:hover {
    background:#f2f2f2;
    color:#666;
  }
  .browser-nav > span i {
      font-size:14px;
      line-height: 30px;
      display: inline-block
      position: relative;
      top: 5px
      text-align: center;
  }

  .browser-nav span.active {
    color:#707070;
  }

  .browser-nav span.prev {
    margin-right:1px;
    margin-left:7px;
  }

  .browser-nav span.next {
    margin-right:7px;
  }

  .browser-nav span.address {
    width:400px;
    margin-left:75px;
    display:inline-block;
    background:#fff;
    line-height:23px;
    text-align:center;
    position:relative;
    padding-top: 3px;
  }

  .browser-nav span.address > input {
    font-size:12px;
    color:#505050;
    border:none;
    background:none;
    text-align:center;
    position:relative;
    width:300px;
  }

  .browser-nav span.address > input:focus {
    outline:none;
  }

  .browser-nav span.address > input.class {
    text-align:left;
  }

  .browser-nav span.address > i {
    position:absolute;
    right:5px;
    top:7px;
    font-size:11px;
    color:#010101;
  }

  .browser-nav.right {
    float:right !important;
    margin-right:35px;
  }

  .browser-nav span.share {
    margin-right:7px;
  }

  .browser-nav span.tabs {
    position:relative;
    width:26px;
    padding-left: 6px;
  }

  .browser-nav span.tabs span {
    height:7px;
    width:7px;
    border:1px solid #B4B4B4;
    display:inline-block;
    position:absolute;
    background:#FBFBFB;
  }

  .browser-nav span.tabs span.front {
    top:8px;
    left:6px;
    z-index:6;
  }

  .browser-nav span.tabs span.behind {
    top:6px;
    left:8px;
    z-index:5;
  }

  .browser-nav span.tabs:hover span {
    border:1px solid #666;
  }

  span.new {
    cursor:pointer;
    position:absolute;
    right:0;
    bottom:0;
    background:#CACACA;
    width:23px;
    height:23px;
    text-align:center;
    line-height:23px;
    border-top:1px solid #C1C2C2;
    border-left:1px solid #C1C2C2;
  }

  span.new:hover {
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow:         inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  }
  span.new .plus {
    position:absolute;
    background:#b0b0b0;
    display:inline-block;
  }


/*==========  Quotes  ==========*/
.quotes
  text-align: center
  padding: 20px 0;
  blockquote
    border: 0;
    padding-left: 0;
    margin-bottom: 0;
    opacity: 0;
    display: none
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 0;

    p
      font-size: 24px;
      font-weight: 100;
      line-height: 140%;
      font-style: italic
      color: #333;

    author
      font-weight: bold
      font-size: 13px;
      margin-bottom: 10px;
      display: inline-block

    &.active
      opacity: 1;
      display: block
  img
    border-radius: 100px;
    width: 48px;
    margin: 0 10px;
    opacity: .4;
    cursor: pointer;

    &.active
      opacity: 1;


/*==========  Tip  ==========*/
.tip
  a
    font-weight: bold
    color: white;
    border-color: white !important;
  .tip-inner
    max-width: 300px;




/*==========  Footer  ==========*/
footer.site-footer
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  padding: 20px 0;
  color: #999;
  nav 
    text-align: right
    float: right
    li 
      display: inline-block
      margin-left: 30px;
  a 
    color: #999;

  .col-md-11
    float: right

@media screen and (max-width: 992px)
  footer.site-footer
    .col-md-11
      float: none;
    nav 
      float: none;
      display: block
      clear:both;
      text-align: left;
      margin: 0;
      padding: 0;
      margin-bottom: 14px;
      ul 
        margin: 0;
        border-bottom: 1px solid #f1f1f1;

        padding: 0;
      li
        display: block
        margin: 0;
      a 
        display: block
        border-top: 1px solid #f1f1f1;
        margin: 0;
        padding: 14px 0;



/*==========  Banner  ==========*/
.banner
  color: white;
  text-align: center
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden
  background-color: #14204d;
  background: linear-gradient(180deg, color_blue 0%, color_blue_light 200%); /* W3C */
  padding:80px 0;

  h1
    color: white;
    font-size: 2.5rem;
    font-weight: 300
    margin-bottom: 0;

  p
    max-width: 580px;
    font-size: 1.4rem;
    margin: auto;
    margin-top: 10px;
    color: rgba(255,255,255,.8);

  i
    font-size: 50px;
    -webkit-animation: icon_banner 1s;
    position: relative;

  a 
    color: color_blue_light;
    font-weight: bold
  .btn
    margin-top: 10px;

  em
    display: block
    font-size: 12px;
    margin-top: 4px;
    letter-spacing: 1px;


  .icon-banner
    border: 2px solid white;
    border-radius: 100px;
    line-height: 90px;
    width: 80px;
    height: 80px;
    font-size: 36px;
    display: inline-block

@keyframes icon_banner
  from
    top: -100px;
    opacity: 0;
  to
    opacity: 1;
    top: 0;


@media screen and (min-width: 992px)
  .header-dark .banner
    padding-top:160px;

@media screen and (max-width: 660px)
  .banner
    padding: 20px 0;
    h1
      font-size: 36px


/*==========  Sidebar Box  ==========*/
.sidebar-box
  max-width: 230px;
  border: 1px solid #eee;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 14px 20px;
  list-style: none;
  font-size: 14px;

  strong
    text-transform: uppercase
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
    display: block
    letter-spacing: 1px;
    color: #999;

  ul
    padding: 0;
    margin: 0;

    list-style: none;

    a
      color: #666;

      &:hover
        color: black;

    li
      line-height: 32px;
      margin: 0;

      li 
        margin: 0;

      i:before
        content: "\e16f";
        font-family: "budicon-font" !important;
        speak: none;
      i
        width: 10px;
        height: 10px;
        display: inline-block
        font-family: "budicon-font" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        margin-right: 8px;
        position: relative;
        top: 2px;
        height: 14px;
        // background: red;

      &.selected
        a
          color: black !important;
          // font-weight: bold;



/*==========  Browser lite  ==========*/
.browser-lite
  border: 1px solid lighten(color_grey, 50%);
  border-radius: 3px;
  overflow: hidden
  .browser-toolbar
    border-bottom: 1px solid lighten(color_grey, 50%);
    overflow: hidden
    padding: 14px;
    i 
      background: lighten(color_grey, 50%);
      border-radius: 100px;
      float: left
      display: inline-block
      width: 12px;
      height: 12px;
      margin-right: 8px;
      margin-top: 4px;

      &.r 
        background: #FC625C;
      &.y
        background: #FDBC40;
      &.g
        background: #34C849;

    .input 
      width: 70%;
      height: 20px;
      border-radius: 3px;
      margin: auto;
      background: lighten(color_grey, 50%);
      margin-top: 0px;
      font-size: 10px;
      color: #999;
      line-height: 20px;

    .button 
      background: lighten(color_grey, 50%);
      border-radius: 3px;
      height: 20px;
      width: 20px;
      margin-left: 6px;
      float: right
      display: block

/*==========  Try Banner  ==========*/
.try-banner
  text-align: center
  background: #f9f9f9;
  margin: 80px 0;
  padding: 50px 20px 44px 20px;
  border-radius: 3px;
  span
    font-size: 30px;
    font-weight: 100;
    display: inline-block
  .btn
    margin-left: 20px;
    margin-top: -20px;
  .copy
    color: #666;
    margin-top: 30px;

@media screen and (max-width: 660px)

  .try-banner
    padding: 20px;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
    span
      display: block
      margin-bottom: 20px;
    .btn
      display: inline-block
      width: 100%;
      display: block
      white-space: normal;
      margin: 0;