@charset "UTF-8";

@import 'vars.styl';

// Vendor
@import 'node_modules/bootstrap-styl/bootstrap/index.styl';
@import 'node_modules/animate.css/animate.min.css';

// CSS
@import 'css/budicon/budicon.fixed.css';
@import 'css/grid/index.styl';
@import 'css/buttons/index.styl';
@import 'css/logos/index.styl';
@import 'css/typography/index.styl';

// Components
@import 'components/sidebar-box/index.styl';
@import 'components/banner/index.styl';
@import 'components/big-tabs/index.styl';
@import 'components/breadcrumb/index.styl';
@import 'components/browser/index.styl';
@import 'components/center-title-block/index.styl';
@import 'components/footer/index.styl';
@import 'components/navs/index.styl';
@import 'components/sidebar-box/index.styl';
@import 'components/sub-header/index.styl';

// JS
@import 'js/modal/index.styl';
@import 'js/popover/index.styl';
@import 'js/prettify/index.styl';
@import 'js/quotes/index.styl';
@import 'js/tooltip/index.styl';
@import 'js/try-banner/index.styl';


.bg-grey
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  background: none;


.help-circle
  max-height: 14px;
  max-width: 14px;
  opacity: .2;
  margin-left: 4px;
  position: relative;
  top: -2px;

  &:hover
      opacity: 1;

section.section
  margin-bottom: 80px;


@media screen and (max-width: 992px)


  .zopim
    display: none

