@charset "UTF-8";

@import 'vars.styl';

@import 'bootstrap.min.css';

@import 'animate.css';

@import 'budicon/budicon.fixed.css';

@import 'css.styl';

@import 'components.styl';

html
  font-size: 14px;

body
  overflow-x: hidden

.container
  max-width: 1016px;

.banner-container
  position: relative;

.banner-container {
  display: block;
  -webkit-animation-name: appear;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: ease-in;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bg-grey
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  background: none;

.container.spacing-content
  padding-top:  80px  ;
  padding-bottom: 80px;


.help-circle
  max-height: 14px;
  max-width: 14px;
  opacity: .2;
  margin-left: 4px;
  position: relative;
  top: -2px;

  &:hover
      opacity: 1;

section.section
  margin-bottom: 80px;

span.icon-badge
  background: color_grey;
  width: 60px;
  height: 60px;
  border-radius: 3px;
  display: inline-block
  color: color_red;
  font-size: 30px;
  line-height: 72px;

.narrow-content
  max-width: 680px;
  margin: auto;
  text-align: center;
  font-size: 120%;
  p
    color: #666;
  ul
    padding-left: 0;
    &.ul-inline
      margin: 20px 0;
      li
        background: url('/homepage/img/icon-checkmark.png') left 4px no-repeat;
        display: inline-block
        padding-left: 30px;
        margin: 0 20px;

    &.ul-large
      text-align: left;

    li
      margin-bottom: 20px;
      background: url('/homepage/img/icon-checkmark.png') left 4px no-repeat;
      padding-left: 30px;
      list-style: none;



/*==========  Prettyprint  ==========*/

pre.code-snippet.prettyprint
  background: rgba(255,255,255,.96);
  border: 0;
  border-left: 30px solid #f1f1f1;
  color: #333;
  font-size: 11px;
  font-family: monospace;
  line-height: 20px;
  margin-bottom: 0;
  padding: 10px 10px 10px 2px ;
  border-radius: 3px;
  box-shadow: 0 1px 6px rgba(0,0,0,.4);
  list-style: dotted;
  // overflow: hidden

  ol
    margin: 0;
    padding: 0;
    color: #999;
    width: 600px;

  li.L1, li.L3, li.L5, li.L7, li.L9
    background: none;
  li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8
    list-style: inherit;
  li
    padding-left: 10px;
    margin: 0;

.pln
  color: #000


@media screen {
  .str {
    color: #080
  }

  .kwd {
    color: #008
  }

  .com {
    color: #800
  }

  .typ {
    color: #606
  }

  .lit {
    color: #066
  }

  .pun, .opn, .clo {
    color: #660
  }

  .tag {
    color: #008
  }

  .atn {
    color: #606
  }

  .atv {
    color: #080
  }

  .dec, .var {
    color: #606
  }

  .fun {
    color: red
  }
}

@media print, projection {
  .str {
    color: #060
  }

  .kwd {
    color: #006;
    font-weight: bold
  }

  .com {
    color: #600;
    font-style: italic
  }

  .typ {
    color: #404;
    font-weight: bold
  }

  .lit {
    color: #044
  }

  .pun, .opn, .clo {
    color: #440
  }

  .tag {
    color: #006;
    font-weight: bold
  }

  .atn {
    color: #404
  }

  .atv {
    color: #060
  }
}

pre.prettyprint {
  padding: 20px ;
  border: 0 ;
}

pre.prettyprint.prettyprinted{
  border: 0 !important;
  padding: 20px !important;
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0
}

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: none
}

li.L1, li.L3, li.L5, li.L7, li.L9 {
  background: #eee
}


@media screen and (max-width: 992px)
  .quotes blockquote
    min-height: 10px;
    position: static;

  .zopim
    display: none

