.alert.alert-success
  strong Well done!
  |  You successfully read this important <a href="https://auth0.com/">alert link</a> message.

.alert.alert-success
  button(type="button" class="close" data-dismiss="alert" aria-label="Close")
    span(aria-hidden="true") &times;
  strong Well done!
  |  You successfully read this important <a href="https://auth0.com/">alert link</a> message.
    
.alert.alert-info
  strong Heads up!
  |  This alert needs your <a href="https://auth0.com/">alert link</a>, but it's not super important.
  
.alert.alert-warning
  strong Warning!
  |  Better check yourself, you're not <a href="https://auth0.com/">alert link</a> looking too good.
  .actions.pull-right
    button.btn.btn-sm.btn-warning Action
  
.alert.alert-danger
  strong Oh snap!
  |  Change a few things up and try submitting again. <a href="https://auth0.com/">alert link</a>.

.alert.alert-warning
  button(type="button" class="close" data-dismiss="alert" aria-label="Close")
    span(aria-hidden="true") &times;
  strong Multiline!
  |  Use this type of alert if you want to display a large text with button/s at the end.
  |  You can even add a close button.
  .actions
    button.btn.btn-sm.btn-warning Add
    button.btn.btn-sm.btn-warning Edit
    button.btn.btn-sm.btn-warning Delete

.alert.alert-global.alert-success
  strong Well done!
  |  You successfully read this important <a href="https://auth0.com/">alert link</a> message.
    
.alert.alert-global.alert-info
  strong Heads up!
  |  This alert needs your <a href="https://auth0.com/">alert link</a>, but it's not super important.
  
.alert.alert-global.alert-warning
  strong Warning!
  |  Better check yourself, you're not <a href="https://auth0.com/">alert link</a> looking too good.

.alert.alert-global.alert-danger
  strong Oh snap!
  |  Change a few things up and try submitting again. <a href="https://auth0.com/">alert link</a>.