/*==========  Tip  ==========*/
.tip
  a
    font-weight: font-weight-bold
    color: white;
    border-color: white !important;
  .tip-inner
    max-width: 300px;


@media screen and (max-width: 992px)
  footer.site-footer
    .col-md-11
      float: none;
    nav 
      float: none;
      display: block
      clear:both;
      text-align: left;
      margin: 0;
      padding: 0;
      margin-bottom: 14px;
      ul 
        margin: 0;
        border-bottom: 1px solid #f1f1f1;
        padding: 0;
      li
        display: block
        margin: 0;
      a 
        display: block
        border-top: 1px solid #f1f1f1;
        margin: 0;
        padding: 14px 0;

