.header-dark
  header.site-header
    nav.navbar.navbar-default(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            h1.navbar-brand
              a(href='/')
                span Auth0
            a.no-basic.hiring.animated.bounce.hidden-sm.hidden-xs.hidden-md(href='/jobs') We&apos;re hiring!
          #navbar-collapse.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-left.no-basic
              li.li-why
                a(href='/why-auth0') Why Auth0
              li.li-how
                a(href='/how-it-works') How It Works
              li.li-pricing
                a(href='/pricing') Pricing
              li.dropdown
                span.btn-dro(role='button', data-toggle='dropdown')
                  | More
                  i.icon-budicon-460
                ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
                  li
                    a(href='/lock') Lock
                  li
                    a(href='/passwordless') Passwordless
                  li
                    a(href='/wordpress') WordPress
                  li.divider
                  li
                    a(href='/about') About
                  li
                    a(href='/blog') Blog
                  li
                    a(href='/customers') Customers
                  li
                    a(href='/resources') Resources
                  li
                    a(href='/partners') Partners
                  li
                    a(href='/opensource') Open Source
                  li
                    a(href='/jobs') Jobs
                  li
                    a(href='/press') Press
            ul.nav.navbar-nav.navbar-right
              li.li-docs.no-basic
                a(href='/support') Help &amp; Support
              li.li-docs.no-basic
                a(href='/docs') Documentation
              li
                a.signin-button.login(href='https://manage.auth0.com') Open Dashboard
                
section.jumbotron.has-header
  h2: img(src='/lib/logos/img/icon-styleguide.svg')
  h1 Jumbotron
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit quis risus eget urna mollis consectetur adipiscing elit.
  .btn.btn-success.btn-lg Try auth0 for free

.container
  h1 Sample content
  p Is it possible to control man’s mental evolution so as to make him proof against the psychosis of hate and destructiveness?
  p Here I am thinking by no means only of the so-called uncultured masses. Experience proves that it is rather the so-called “intelligentsia” that is most apt to yield to these disastrous collective suggestions, since the intellectual has no direct contact with life in the raw but encounters it in its easiest, synthetic form — upon the printed page. … But … here we have the best occasion of discovering ways and means to render all armed conflicts impossible.
  p I know that in your writings we may find answers, explicit or implied, to all the issues of this urgent and absorbing problem. But it would be of the greatest service to us all were you to present the problem of world peace in the light of your most recent discoveries, for such a presentation well might blaze the trail for new and fruitful modes of action.
        
footer.site-footer
  .container
    .logo
      img(src="https://cdn.auth0.com/styleguide/latest/lib/logos/img/badge.png", width="30")

    .footer-grid
      .column
        .item
          h6 Product
        .item
          a(href="https://auth0.com/pricing") Pricing
        .item
          a(href="https://auth0.com/why-auth0") Why Auth0
        .item
          a(href="https://auth0.com/how-it-works") How It Works

      .column
        .item
          h6 Company
        .item
          a(href="https://auth0.com/about") About Us
        .item
          a(href="https://auth0.com/blog") Blog
        .item
          a(href="https://auth0.com/jobs") Jobs
        .item
          a(href="https://auth0.com/press") Press

      .column
        .item
          h6 Security
        .item
          a(href="https://auth0.com/availability-trust") Availability & Trust
        .item
          a(href="https://auth0.com/security") Security
        .item
          a(href="https://auth0.com/whitehat") White Hat

      .column
        .item
          h6 Learn
        .item
          a(href="https://support.auth0.com") Help & Support
        .item
          a(href="https://auth0.com/docs") Documentation
        .item
          a(href="https://auth0.com/opensource") Open Source


      .column
        .item
          h6 Extend
        .item
          a(href="https://auth0.com/lock") Lock
        .item
          a(href="https://auth0.com/wordpress") WordPress
        .item
          a(href="https://auth0.com/docs/apiv2") API Explorer

      .contact
        .column
          .item
            h6 Contact
          .item.item-text
            | 10900 NE 8th Street
            br
            | Suite 700
            br
            | Bellevue, WA   98004

        .column.no-heading
          .item
            a(href="tel:+18882352699") +1 (888) 235-2699
            a(href="tel:+14253126521") +1 (425) 312-6521
          .item.item-phone-label Support
          .item
            a(href="tel:+14255599554") +1 (425) 559-9554

    .colophon
        .column
          .social
            .twitter
              iframe.twitter(allowtransparency="true", frameborder="0", scrolling="no", src="//platform.twitter.com/widgets/follow_button.html?screen_name=auth0")

            .facebook
              iframe.facebook(src='//www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fgetauth0&width&layout=button_count&action=like&show_faces=false&show_count=false&share=false&height=21&appId=507756515938786', scrolling='no', frameborder='0', allowtransparency='true')

        .column
          ul.list-inline.text-right
            li
              a(href="https://auth0.com/privacy") Privacy Policy

            li
              a(href="https://auth0.com/terms") Terms of Service

            li
              - var currentYear = new Date().getFullYear();
              span &copy; 2013-#{currentYear} Auth0&reg; Inc. All Rights Reserved.
