// Colors

.color
  // height: 200px;
  background: red;
  border-radius: 3px;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  padding-top: 100px;

  span
    font-size: 16px;
    display: block
    margin-bottom: 10px;

  strong
    display: block
    text-transform: uppercase

  &.color-blue
    background: color_blue;

  &.color-blue-light
    background: color_blue_light;

  &.color-red
    background: color_red;

  &.color-grey
    background: color_grey;
    color: #333;