doctype html5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Styleguide

    link(href='index.css', rel='stylesheet')
    link(href='styleguide.css', rel='stylesheet')
    link(rel="shortcut icon", href="img/favicon.png")
    link(href="https://cdn.auth0.com/web-header/latest/standalone.css", rel='stylesheet')
    script(type='text/javascript', src='//cdn.auth0.com/web-header/latest/standalone.min.js')


    script(type='text/javascript', src='//use.typekit.net/iws6ohy.js')
    script.
      try{Typekit.load();}catch(e){}


  body

    header.site-header.clearfix
    script(type='text/javascript').
      (function() {
        var header = new WebHeader({ base_url: 'https://auth0.com' });
        header.render('header.site-header');
      })();

    .container
      .sub-header
        span.sub-header-text Version
          strong#styleguide-version
            |  #{version}


        ul.external-links
          li
            a(href='https://github.com/auth0/styleguide', target='_blank') View on Github

    .container
      .row
        .col-md-3

          .sidebar-box
            strong General

            ul

              li
                a(href='#get-started')
                  i
                  span Get Started

          .sidebar-box
            strong Branding
            ul
              li
                a(href='#logos')
                  i
                  span Logos

              li
                a(href='#colors')
                  i
                  span Colors

              li
                a(href='#information')
                  i
                  span Information

          .sidebar-box
            strong CSS
            ul

              li
                a(href='#typography')
                  i
                  span Typography

              li
                a(href='#buttons')
                  i
                  span Buttons
              li
                a(href='#icons')
                  i
                  span Icons




          .sidebar-box
            strong Components
            ul

              li
                a(href='#header')
                  i
                  span Header


              li
                a(href='#footer')
                  i
                  span Footer

              li
                a(href='#sub-header')
                  i
                  span Sub Header


              li
                a(href='#banner')
                  i
                  span Banner

              li
                a(href='#Modal')
                  i
                  span Modal


        .col-md-9.text-content


          h1
            a(name="get-started") Get Started

          p In order to use the styleguide, you can use from cdn as follow:

          pre.prettyprint  &lt;link href=&quot;https://cdn.auth0.com/styleguide/latest/index.css&quot; rel=&quot;stylesheet&quot; /&gt;

          hr

          h1
            a(name="branding") Branding

          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac erat lectus. Vestibulum non accumsan turpis, ut tristique libero. Pellentesque tincidunt leo vel mauris rutrum, sit amet pretium dui imperdiet.

          h4
            a(name="logos") Logos
          

          h5.styled
            a(name="colors") Colors
          include css/colors/index

          hr

          a(name="css")
            h1 CSS

          h5.styled
            a(name="typography") Typography
          include css/typography/index


          h5.styled
            a(name="buttons") Buttons
          include css/buttons/index


          h5.styled
            a(name="icons") Icons

          include css/budicon/icons

          hr

          a(name="components")
            h1 Components

            h5.styled
              a(name="sub-header") Sub Header
            include components/sub-header/index


            h5.styled
              a(name="footer") Footer
            include components/footer/index

    
            h5.styled
              a(name="banner") Banner

            include components/footer/index

            h5.styled
              a(name="modal") Modal
            include js/modal/index


            h5.styled
              a(name="center-title-content") Center Title Content
            include components/center-title-block/index


            h5.styled
              a(name="try-banner") Try Auth0

            include js/try-banner/index


            h5.styled
              a(name="quotes") Quotes

            include js/quotes/index



    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")

    script(src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
