doctype html5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Styleguide

    link(href='css/index.css', rel='stylesheet')
    link(href='css/styleguide.css', rel='stylesheet')
    link(rel="shortcut icon", href="img/favicon.png")


    script(type='text/javascript', src='//use.typekit.net/iws6ohy.js')
    script.
      try{Typekit.load();}catch(e){}



  body
    header.site-header
      nav.navbar.navbar-default(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
                
            h1.navbar-brand
              a(href="/")
                span Auth0

          #navbar-collapse.collapse.navbar-collapse

            ul.nav.navbar-nav.navbar-left
              li.li-why
                a(href="/why-auth0") Why Auth0
              li.li-how
                a(href="/how-it-works") How It Works
          
              li.li-pricing
                a(href="/pricing") Pricing


            ul.nav.navbar-nav.navbar-right

              li.li-docs
                a(href="https://docs.auth0.com") Documentation


              li.dropdown
                span(role='button', data-toggle='dropdown', data-target='#').btn-dro More
                  i.icon-budicon-460
                ul.dropdown-menu(role='menu', aria-labelledby='dLabel').animated

                  li
                    a(href="/lock") Lock

                  li
                    a(href="/opensource") Open Source    
                  
                  li.divider              

                  li 

                    a(href="/about") About



                  li
                    a(href="/customers") Customers

                  li
                    a(href="https://auth0.com/blog") Blog

              li
                a.signin-button(href="javascript:login()").login Login

              li
                a.signin-button(href="javascript:signup()").btn.btn-sm.signup Sign Up


    .container
      .sub-header
        span.sub-header-text Version 
          strong#styleguide-version 
    
        ul.external-links
          li
            a(href='https://github.com/auth0/styleguide', target='_blank') View on Github
    
    .container
      .row
        .col-md-3


          .sidebar-box
            strong General
          
            ul 

              li 
                a(href='#get-started')
                  i
                  span Get Started
        

          .sidebar-box
            strong Branding
            ul 
              li 
                a(href='#logos')
                  i
                  span Logos

              li 
                a(href='#colors')
                  i
                  span Colors

              li 
                a(href='#information')
                  i
                  span Information
    
    

          .sidebar-box
            strong CSS
            ul 

              li 
                a(href='#typography')
                  i
                  span Typography

              li 
                a(href='#buttons')
                  i
                  span Buttons
              li 
                a(href='#icons')
                  i
                  span Icons




          .sidebar-box
            strong Components
            ul

              li
                a(href='#header')
                  i
                  span Header


              li
                a(href='#footer')
                  i
                  span Footer

              li
                a(href='#sub-header')
                  i
                  span Sub Header


              li
                a(href='#banner')
                  i
                  span Banner


        .col-md-9.text-content


          h1 
            a(name="get-started") Get Started

          p In order to install auth0-styleguide, you can use Bower and then add this line:

          pre.prettyprint  &lt;link href=&quot;auth0-styleguide/index.css&quot; rel=&quot;stylesheet&quot; /&gt;

          hr 

          h1 
            a(name="branding") Branding


          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac erat lectus. Vestibulum non accumsan turpis, ut tristique libero. Pellentesque tincidunt leo vel mauris rutrum, sit amet pretium dui imperdiet.

          h4 
            a(name="logos") Logos
          h5.styled Horizonal version 
          .row 
            .col-xs-6

              .logo-branding 
                h5 Blue Version 
                img(src="img/logo-blue-horizontal.png")
                a(href="https://cloudup.com/cmshMvKt2bD", target="_blank") Download

            .col-xs-6

              .logo-branding.logo-dark
                h5 Grey Version 
                img(src="img/logo-grey-horizontal.png")
                a(href="https://cloudup.com/cfievfeiyjb", target="_blank") Download



          h5.styled Badge
          .row 
            .col-xs-6

              .logo-branding 
                h5 Red Version 
                img(src="img/badge.png")
                a(href="https://cloudup.com/cHfNwqCZae0", target="_blank") Download

          


          h5.styled 
            a(name="colors") Colors
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

          .row 
            .col-xs-3
              .color.color-blue 
                span Color Blue
                strong #16214d

            .col-xs-3
              .color.color-blue-light 
                span Color Blue Light
                strong #44c7f4


            .col-xs-3
              .color.color-red
                span Color Red
                strong #eb5424

            .col-xs-3
              .color.color-grey
                span Color Grey
                strong #d0d2d3

          


          h5.styled 
            a(name="information") Information
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut pulvinar justo, lobortis eleifend velit. Morbi sem arcu, ornare in laoreet quis, sodales luctus libero.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut pulvinar justo, lobortis eleifend velit. Morbi sem arcu, ornare in laoreet quis, sodales luctus libero.

          hr

          a(name="css")
            h1 CSS

          h5.styled 
            a(name="typography") Typography

          .box       
            h1 h1. Auth0 heading
            h2 h2. Auth0 heading
            h3 h3. Auth0 heading
            h4 h4. Auth0 heading
            h5 h5. Auth0 heading

          p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue. Vestibulum id ligula porta felis euismod semper.


          h5.styled 
            a(name="buttons") Buttons 

          ul 
            li 
              .btn .btn 
            li 
              .btn.btn-xs .btn.btn-xs
            li 
              .btn.btn-sm .btn.btn-sm

            li 
              .btn.btn-md .btn.btn-md

            li 
              .btn.btn-lg .btn.btn-lg


          ul 

            li
              .btn.btn-default .btn.btn-default
            li 
              .btn.btn-default.active .btn.btn-default.active

            li 
              .btn.btn-default.disabled .btn.btn-default.disabled


          ul 

            li
              .btn.btn-success .btn.btn-success
            li 
              .btn.btn-success.active .btn.btn-success.active

            li 
              .btn.btn-success.disabled .btn.btn-success.disabled

          ul 

            li
              .btn.btn-danger .btn.btn-danger
            li 
              .btn.btn-danger.active .btn.btn-danger.active

            li 
              .btn.btn-danger.disabled .btn.btn-danger.disabled



          ul 

            li
              .btn.btn-primary .btn.btn-primary
            li 
              .btn.btn-primary.active .btn.btn-primary.active
            li 
              .btn.btn-primary.disabled .btn.btn-primary.disabled

          h5.styled 
            a(name="") Contextual Background

          .contextual-backgrounds
            p.bg-primary .bg-primary
            p.bg-success .bg-success
            p.bg-info .bg-info
            p.bg-warning .bg-warning
            p.bg-danger .bg-danger


          h5.styled 
            a(name="icons") Icons

          include icons

          hr 

          a(name="components")
            h1 Components

            h5.styled 
              a(name="sub-header") Sub Header
            
            .sub-header
              span.sub-header-text  Text goes here
                
              ul.external-links
                li
                  a(href='http://twitter.com/authzero', target='_blank') Twitter
                li
                  a(href='http://github.com/auth0', target='_blank') Github
                li
                  a(href='http://chat.auth0.com', target='_blank') Chat With Us
                li
                  a(href='mailto:support@auth0.com', target='_blank') Contact Us

            .sub-header.sub-header-dropdown



              .dropdown
                button#dropdownMenu1.btn.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Application Name
                  span.caret
                ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                  li(role='presentation')
                    a(role='menuitem', tabindex='-1', href='#') Action
                  li(role='presentation')
                    a(role='menuitem', tabindex='-1', href='#') Another action
                  li(role='presentation')
                    a(role='menuitem', tabindex='-1', href='#') Something else here
                  li.divider(role='presentation')
                  li(role='presentation')
                    a(role='menuitem', tabindex='-1', href='#') Separated link


              ul.external-links
                li
                  a(href='http://twitter.com/authzero', target='_blank') Twitter
                li
                  a(href='http://github.com/auth0', target='_blank') Github
                li
                  a(href='http://chat.auth0.com', target='_blank') Chat With Us
                li
                  a(href='mailto:support@auth0.com', target='_blank') Contact Us



            h5.styled 
              a(name="header") Header 




            h5.styled 
              a(name="footer") Footer 

            footer.site-footer
              .row
                .col-md-10.pull-right
                  nav
                    ul
                      li
                        a(href='https://auth0.com/about') About
                      li
                        a(href='https://auth0.com/availability-trust') Availability & Trust
                      li
                        a(href='https://auth0.com/terms') Terms Of Service
                      li
                        a(href='https://auth0.com/privacy') Privacy
                      li
                        a(href='http://chat.auth0.com') Support
                      li
                        a(href='https://docs.auth0.com') Documentation
                      li
                        a(href='mailto:support@auth0.com') Contact Us
                .left.col-xs-2
                  a(href='/') Auth0 ©




            h5.styled 
              a(name="banner") Banner


            .banner
              .container.banner-container
                i.icon-budicon-754
                h1   An Enterprise-Grade Platform for Modern Identity
                p  A cloud service, APIs and tools that eliminate the friction of identity for your applications and APIs.
                p.call-to-action
                a.btn.btn-lg.btn-success(href='javascript:signup()') Create Free Account
                em No credit card required • No commitment



            h5.styled 
              a(name="center-title-content") Center Title Content

            .center-title-block
              span.icon-badge.icon-budicon-329
              h2 How It Works
              p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cum sociis natoque penatibus et magnis dis parturient.





            h5.styled 
              a(name="try-banner") Try Auth0

            .try-banner
              span Try Auth0 for FREE
              a.btn.btn-success.btn-lg(href='javascript:signup()') Create free Account

            h5.styled
              a(name="quotes") Quotes

            .quotes
              blockquote.active
                p Auth0 is offering us a one-stop solution for our authentication needs, whether its social login, enterprise login or some custom system we're using
                author Rick Smit - boekhoudservice

              blockquote
                p I wish all developer services could be as good as this: <a href="http://www.laceysnr.com/2014/02/auth0-serving-internet-of-developers.html" target="_new">laceysnr.com/2014/02/auth0...</a>
                author Matt Lacey - @LaceySnr - Salesforce & force.com MVP

              blockquote
                p We are extremely happy with Auth0. Really a high quality enabler.
                author Niels Flensted-Jensen - grean.dk

              blockquote
                p The SaaS world should take note of the Auth0 team - great service and great product
                author Rhys Campbel - @RhysC

              blockquote
                p Auth0 team is OUTSTANDING at customer support
                author Michele Bustamante - @michelebusta

              blockquote
                p The customer service at @authzero is amazing. Seriously, you guys are my favorite company right now.
                author Robert McLaws - @robertmclaws - AdvancedREI.com

              p
                img(src="https://auth0.com/homepage/img/avatars/avatar-1.jpg").active
                img(src="https://auth0.com/homepage/img/avatars/avatar-3.png")
                img(src="https://auth0.com/homepage/img/avatars/avatar-2.jpg")
                img(src="https://auth0.com/homepage/img/avatars/avatar-4.png")
                img(src="https://auth0.com/homepage/img/avatars/avatar-5.jpg")
                img(src="https://auth0.com/homepage/img/avatars/avatar-6.png")


     

          p For more information check 
            a(href="http://www.opentip.org/documentation.html"). Opentip documentation


    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")

    script(src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")


    script.
      $.getJSON( "component.json", function( data ) {
        $("#styleguide-version").html(data.version);
      });
