//
// Button groups
// --------------------------------------------------

// Make the div behave like a button
.btn-group[role="group"], 
.btn-group-vertical[role="group"] {
  
  > .btn {
    text-transform none
    
    // Una palabra para estos estilos:
    // POLEMICO. Por?
    // Porque quizas deberian estar estas reglas dentro de buttons.styl,
    // pero mientras tanto, quedan acá.
    &:active, 
    &.active {
      box-shadow none
    }
  }
}

// Split button dropdowns
// ----------------------

// Give the line between buttons some depth
.btn-group > .btn + .dropdown-toggle {
  padding-top 20px
  padding-bottom 20px
}

.btn-group > .btn-lg + .dropdown-toggle {
  padding-top 20px
  padding-bottom 20px
}
