.buttons-section

  h1.title Buttons

  .buttons-different-sizes

    .row

      .col-md-4
        ul.buttons-list
          li: a.btn.btn-default(href='#') Default button
          li: a.btn.btn-default.btn-md(href='#') Middle button
          li: a.btn.btn-default.btn-sm(href='#') Small button
          li: a.btn.btn-default.btn-xs(href='#') Extra small button

      .col-md-4
        ul.buttons-list
          li: a.btn.btn-primary(href='#') Default button
          li: a.btn.btn-primary.btn-md(href='#') Middle button
          li: a.btn.btn-primary.btn-sm(href='#') Small button
          li: a.btn.btn-primary.btn-xs(href='#') Extra small button

      .col-md-4

  br
  br

  .buttons-default-state

    a.btn.btn-success(href='#') Success button
    a.btn.btn-primary(href='#') Primary button
    a.btn.btn-default(href='#') Default button
    a.btn.btn-warning(href='#') Warning button
    a.btn.btn-danger(href='#') Danger button
  
  br
  br

  .buttons-default-state

    a.btn.btn-success.btn-icon(href='#') 
      span.icon.icon-budicon-473(aria-hidden='true')
      | Success button

    a.btn.btn-default.btn-icon(href='#') 
      span.icon.icon-budicon-473(aria-hidden='true')
      | Default button

    a.btn.btn-primary.btn-icon(href='#') 
      span.icon.icon-budicon-122(aria-hidden='true')
      | Default button

    a.btn.btn-warning.btn-icon(href='#') 
      span.icon.icon-budicon-137(aria-hidden='true')
      | Warning button

    a.btn.btn-danger.btn-icon(href='#') 
      span.icon.icon-budicon-150(aria-hidden='true')
      | Danger button

  br
  br

  .split-button-dropdowns

    .btn-group
      button.btn.btn-success(type='button') Action
      button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        span.caret
        span.sr-only Toggle Dropdown
      ul.dropdown-menu
        li
          a(href='#') Action
        li
          a(href='#') Another action
        li
          a(href='#') Something else here
        li.divider(role='separator')
        li
          a(href='#') Separated link

    .btn-group
      button.btn.btn-default(type='button') Action
      button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        span.caret
        span.sr-only Toggle Dropdown
      ul.dropdown-menu
        li
          a(href='#') Action
        li
          a(href='#') Another action
        li
          a(href='#') Something else here
        li.divider(role='separator')
        li
          a(href='#') Separated link

    .btn-group
      button.btn.btn-primary(type='button') Action
      button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        span.caret
        span.sr-only Toggle Dropdown
      ul.dropdown-menu
        li
          a(href='#') Action
        li
          a(href='#') Another action
        li
          a(href='#') Something else here
        li.divider(role='separator')
        li
          a(href='#') Separated link

    .btn-group
      button.btn.btn-warning(type='button') Action
      button.btn.btn-warning.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        span.caret
        span.sr-only Toggle Dropdown
      ul.dropdown-menu
        li
          a(href='#') Action
        li
          a(href='#') Another action
        li
          a(href='#') Something else here
        li.divider(role='separator')
        li
          a(href='#') Separated link

    .btn-group
      button.btn.btn-danger(type='button') Action
      button.btn.btn-danger.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        span.caret
        span.sr-only Toggle Dropdown
      ul.dropdown-menu
        li
          a(href='#') Action
        li
          a(href='#') Another action
        li
          a(href='#') Something else here
        li.divider(role='separator')
        li
          a(href='#') Separated link

  br
  br

  .buttons-group

    .btn-group(role='group', aria-label='...')
      button.btn.btn-default(type='button') Something
      button.btn.btn-default.active(type='button') Something

  br
  br