ul.list-unstyled
  li
    .btn .btn
  li
    .btn.btn-xs .btn.btn-xs
  li
    .btn.btn-sm .btn.btn-sm

  li
    .btn.btn-md .btn.btn-md

  li
    .btn.btn-lg .btn.btn-lg

  li
    .btn.btn-default .btn.btn-default
    
  li
    .btn.btn-default.icon-budicon-493 .btn.btn-default.icon-budicon-493

  li
    .btn.btn-success .btn.btn-success
    
  li
    .btn.btn-success.icon-budicon-473 .btn.btn-success.icon-budicon-473
  
  li
    .btn.disabled .btn.disabled

  li
    .btn.btn-danger .btn.btn-danger

  li
    .btn.btn-primary .btn.btn-primary
