
mixin header(title, img, description)
  section.jumbotron
    h2: img(src!=img || '/lib/logos/img/icon-styleguide.svg', alt!=title, width='48', height='')
    h1= title
    p= description || 'Lorem ipsum dolor sit amet, consectetur adipiscing elit quis risus eget urna mollis.'
