
mixin playground(opts)
  // Defaults
  - opts[name] = opts.name || '';
  - opts[height] = opts.height || null;
  - opts[darkMode] = opts.darkMode || "true";
  
  - var path = 'lib/' + opts.name + '/demo';
  - var css = (opts.height) ? 'height: ' + opts.height : '';
  - var componentTabLabel = (opts.isEmail === "true") ? 'Email' : 'Component';
  - var convertToIframe = (opts.isEmail === "true" || opts.iframe === "true") ? 'js-make-iframe' : '';
  
  .playground.js-playground(data-src!=path)
    if opts.darkMode != "false" && opts.isEmail != "true"
      .playground-options
        ul.nav.nav-pills
          li.active
            a(href="#", data-set-mode="light") Light
          li
            a(href="#", data-set-mode="dark") Dark
            
            
    ul.playground-actions
      li.active
        a(data-toggle='tab', href='#' + opts.name + '-component')=componentTabLabel
        
      if opts.isEmail != "true"
        li
          a(data-toggle='tab', href='#' + opts.name + '-jade')
            | Jade
      li
        a(data-toggle='tab', href='#' + opts.name + '-html')  
          | HTML
      if opts.isEmail != "true"
        li
          a(href='/stage/#' + opts.name)
            | Open in stage
      else
        li
          a(href!='/lib/emails/' + opts.name + '/demo.html')
            | Open email
    
    .tab-content
      .tab-pane.playground-canvas.active(id!=opts.name + '-component', style!=css, class!=convertToIframe)
        if block
          block
      if opts.isEmail != "true"
        .tab-pane.playground-code(data-lang="jade", id!=opts.name + '-jade')
          textarea.hide
      .tab-pane.playground-code(data-lang="html", id!=opts.name + '-html')
        textarea.hide
