section

  h1 Budicon

  section

    h2 Kitchen ( Food & Beverage )

    ul.glyphs.css-mapping
      li: .icon.icon-budicon
      li: .icon.icon-budicon-1
      li: .icon.icon-budicon-2
      li: .icon.icon-budicon-3
      li: .icon.icon-budicon-4
      li: .icon.icon-budicon-5
      li: .icon.icon-budicon-6
      li: .icon.icon-budicon-7
      li: .icon.icon-budicon-8
      li: .icon.icon-budicon-9
      li: .icon.icon-budicon-10
      li: .icon.icon-budicon-11
      li: .icon.icon-budicon-12
      li: .icon.icon-budicon-13
      li: .icon.icon-budicon-14
      li: .icon.icon-budicon-15
      li: .icon.icon-budicon-16
      li: .icon.icon-budicon-17
      li: .icon.icon-budicon-18
      li: .icon.icon-budicon-19
      li: .icon.icon-budicon-20
      li: .icon.icon-budicon-21
      li: .icon.icon-budicon-22
      li: .icon.icon-budicon-23
      li: .icon.icon-budicon-24
      li: .icon.icon-budicon-25
      li: .icon.icon-budicon-26
      li: .icon.icon-budicon-27
      li: .icon.icon-budicon-28
      li: .icon.icon-budicon-29
      li: .icon.icon-budicon-30
      li: .icon.icon-budicon-31
      li: .icon.icon-budicon-32
      li: .icon.icon-budicon-33
      li: .icon.icon-budicon-34
      li: .icon.icon-budicon-35
      li: .icon.icon-budicon-36
      li: .icon.icon-budicon-37
      li: .icon.icon-budicon-38
      li: .icon.icon-budicon-39
      li: .icon.icon-budicon-40
      li: .icon.icon-budicon-41
      li: .icon.icon-budicon-42
      li: .icon.icon-budicon-43
      li: .icon.icon-budicon-44
      li: .icon.icon-budicon-45
      li: .icon.icon-budicon-46
      li: .icon.icon-budicon-47
      li: .icon.icon-budicon-48
      li: .icon.icon-budicon-49
      li: .icon.icon-budicon-50
      li: .icon.icon-budicon-51
      li: .icon.icon-budicon-52
      li: .icon.icon-budicon-53
      li: .icon.icon-budicon-54
      li: .icon.icon-budicon-55
      li: .icon.icon-budicon-56
      li: .icon.icon-budicon-57
      li: .icon.icon-budicon-58
      li: .icon.icon-budicon-59
      li: .icon.icon-budicon-60
      li: .icon.icon-budicon-61
      li: .icon.icon-budicon-62
      li: .icon.icon-budicon-63
      li: .icon.icon-budicon-64
      li: .icon.icon-budicon-65
      li: .icon.icon-budicon-66
      li: .icon.icon-budicon-67
      li: .icon.icon-budicon-68
      li: .icon.icon-budicon-69
      li: .icon.icon-budicon-70
      li: .icon.icon-budicon-71
      li: .icon.icon-budicon-72
      li: .icon.icon-budicon-73
      li: .icon.icon-budicon-74
      li: .icon.icon-budicon-75
      li: .icon.icon-budicon-76
      li: .icon.icon-budicon-77
      li: .icon.icon-budicon-78
      li: .icon.icon-budicon-79
      li: .icon.icon-budicon-80
      li: .icon.icon-budicon-81
      li: .icon.icon-budicon-82
      li: .icon.icon-budicon-83
      li: .icon.icon-budicon-84
      li: .icon.icon-budicon-85
      li: .icon.icon-budicon-86
      li: .icon.icon-budicon-87
      li: .icon.icon-budicon-88
      li: .icon.icon-budicon-89
      li: .icon.icon-budicon-90
      li: .icon.icon-budicon-91
      li: .icon.icon-budicon-92
      li: .icon.icon-budicon-93
      li: .icon.icon-budicon-94
      li: .icon.icon-budicon-95
      li: .icon.icon-budicon-96
      li: .icon.icon-budicon-97
      li: .icon.icon-budicon-98
      li: .icon.icon-budicon-99
      li: .icon.icon-budicon-100
      li: .icon.icon-budicon-101
      li: .icon.icon-budicon-102
      li: .icon.icon-budicon-103
      li: .icon.icon-budicon-104
      li: .icon.icon-budicon-105
      li: .icon.icon-budicon-106
      li: .icon.icon-budicon-107
      li: .icon.icon-budicon-108
      li: .icon.icon-budicon-109
      li: .icon.icon-budicon-110
      li: .icon.icon-budicon-111
      li: .icon.icon-budicon-112
      li: .icon.icon-budicon-113
      li: .icon.icon-budicon-114
      li: .icon.icon-budicon-115
      li: .icon.icon-budicon-116
      li: .icon.icon-budicon-117
      li: .icon.icon-budicon-118
      li: .icon.icon-budicon-119
      li: .icon.icon-budicon-120
      li: .icon.icon-budicon-121
      li: .icon.icon-budicon-122
      li: .icon.icon-budicon-123
      li: .icon.icon-budicon-124
      li: .icon.icon-budicon-125
      li: .icon.icon-budicon-126
      li: .icon.icon-budicon-127
      li: .icon.icon-budicon-128
      li: .icon.icon-budicon-129
      li: .icon.icon-budicon-130
      li: .icon.icon-budicon-131
      li: .icon.icon-budicon-132
      li: .icon.icon-budicon-133
      li: .icon.icon-budicon-134
      li: .icon.icon-budicon-135
      li: .icon.icon-budicon-136
      li: .icon.icon-budicon-137
      li: .icon.icon-budicon-138
      li: .icon.icon-budicon-139
      li: .icon.icon-budicon-140
      li: .icon.icon-budicon-141
      li: .icon.icon-budicon-142
      li: .icon.icon-budicon-143
      li: .icon.icon-budicon-144
      li: .icon.icon-budicon-145
      li: .icon.icon-budicon-146
      li: .icon.icon-budicon-147
      li: .icon.icon-budicon-148
      li: .icon.icon-budicon-149
      li: .icon.icon-budicon-150
      li: .icon.icon-budicon-151
      li: .icon.icon-budicon-152
      li: .icon.icon-budicon-153
      li: .icon.icon-budicon-154
      li: .icon.icon-budicon-155
      li: .icon.icon-budicon-156
      li: .icon.icon-budicon-157
      li: .icon.icon-budicon-158
      li: .icon.icon-budicon-159
      li: .icon.icon-budicon-160
      li: .icon.icon-budicon-161
      li: .icon.icon-budicon-162
      li: .icon.icon-budicon-163
      li: .icon.icon-budicon-164
      li: .icon.icon-budicon-165
      li: .icon.icon-budicon-166
      li: .icon.icon-budicon-167
      li: .icon.icon-budicon-168
      li: .icon.icon-budicon-169
      li: .icon.icon-budicon-170
      li: .icon.icon-budicon-171
      li: .icon.icon-budicon-172
      li: .icon.icon-budicon-173
      li: .icon.icon-budicon-174
      li: .icon.icon-budicon-175
      li: .icon.icon-budicon-176
      li: .icon.icon-budicon-177
      li: .icon.icon-budicon-178
      li: .icon.icon-budicon-179
      li: .icon.icon-budicon-180
      li: .icon.icon-budicon-181
      li: .icon.icon-budicon-182
      li: .icon.icon-budicon-183
      li: .icon.icon-budicon-184
      li: .icon.icon-budicon-185
      li: .icon.icon-budicon-186
      li: .icon.icon-budicon-187
      li: .icon.icon-budicon-188
      li: .icon.icon-budicon-189
      li: .icon.icon-budicon-190
      li: .icon.icon-budicon-191
      li: .icon.icon-budicon-192
      li: .icon.icon-budicon-193
      li: .icon.icon-budicon-194
      li: .icon.icon-budicon-195
      li: .icon.icon-budicon-196
      li: .icon.icon-budicon-197
      li: .icon.icon-budicon-198
      li: .icon.icon-budicon-199
      li: .icon.icon-budicon-200
      li: .icon.icon-budicon-201
      li: .icon.icon-budicon-202
      li: .icon.icon-budicon-203
      li: .icon.icon-budicon-204
      li: .icon.icon-budicon-205
      li: .icon.icon-budicon-206
      li: .icon.icon-budicon-207
      li: .icon.icon-budicon-208
      li: .icon.icon-budicon-209
      li: .icon.icon-budicon-210
      li: .icon.icon-budicon-211
      li: .icon.icon-budicon-212
      li: .icon.icon-budicon-213
      li: .icon.icon-budicon-214
      li: .icon.icon-budicon-215
      li: .icon.icon-budicon-216
      li: .icon.icon-budicon-217
      li: .icon.icon-budicon-218
      li: .icon.icon-budicon-219
      li: .icon.icon-budicon-220
      li: .icon.icon-budicon-221
      li: .icon.icon-budicon-222
      li: .icon.icon-budicon-223
      li: .icon.icon-budicon-224
      li: .icon.icon-budicon-225
      li: .icon.icon-budicon-226
      li: .icon.icon-budicon-227
      li: .icon.icon-budicon-228
      li: .icon.icon-budicon-229
      li: .icon.icon-budicon-230
      li: .icon.icon-budicon-231
      li: .icon.icon-budicon-232
      li: .icon.icon-budicon-233
      li: .icon.icon-budicon-234
      li: .icon.icon-budicon-235
      li: .icon.icon-budicon-236
      li: .icon.icon-budicon-237
      li: .icon.icon-budicon-238
      li: .icon.icon-budicon-239
      li: .icon.icon-budicon-240
      li: .icon.icon-budicon-241
      li: .icon.icon-budicon-242
      li: .icon.icon-budicon-243
      li: .icon.icon-budicon-244
      li: .icon.icon-budicon-245
      li: .icon.icon-budicon-246
      li: .icon.icon-budicon-247
      li: .icon.icon-budicon-248
      li: .icon.icon-budicon-249
      li: .icon.icon-budicon-250
      li: .icon.icon-budicon-251
      li: .icon.icon-budicon-252
      li: .icon.icon-budicon-253
      li: .icon.icon-budicon-254
      li: .icon.icon-budicon-255
      li: .icon.icon-budicon-256
      li: .icon.icon-budicon-257
      li: .icon.icon-budicon-258
      li: .icon.icon-budicon-259
      li: .icon.icon-budicon-260
      li: .icon.icon-budicon-261
      li: .icon.icon-budicon-262
      li: .icon.icon-budicon-263
      li: .icon.icon-budicon-264
      li: .icon.icon-budicon-265
      li: .icon.icon-budicon-266
      li: .icon.icon-budicon-267
      li: .icon.icon-budicon-268
      li: .icon.icon-budicon-269
      li: .icon.icon-budicon-270
      li: .icon.icon-budicon-271
      li: .icon.icon-budicon-272
      li: .icon.icon-budicon-273
      li: .icon.icon-budicon-274
      li: .icon.icon-budicon-275
      li: .icon.icon-budicon-276
      li: .icon.icon-budicon-277
      li: .icon.icon-budicon-278
      li: .icon.icon-budicon-279
      li: .icon.icon-budicon-280
      li: .icon.icon-budicon-281
      li: .icon.icon-budicon-282
      li: .icon.icon-budicon-283
      li: .icon.icon-budicon-284
      li: .icon.icon-budicon-285
      li: .icon.icon-budicon-286
      li: .icon.icon-budicon-287
      li: .icon.icon-budicon-288
      li: .icon.icon-budicon-289
      li: .icon.icon-budicon-290
      li: .icon.icon-budicon-291
      li: .icon.icon-budicon-292
      li: .icon.icon-budicon-293
      li: .icon.icon-budicon-294
      li: .icon.icon-budicon-295
      li: .icon.icon-budicon-296
      li: .icon.icon-budicon-297
      li: .icon.icon-budicon-298
      li: .icon.icon-budicon-299
      li: .icon.icon-budicon-300
      li: .icon.icon-budicon-301
      li: .icon.icon-budicon-302
      li: .icon.icon-budicon-303
      li: .icon.icon-budicon-304
      li: .icon.icon-budicon-305
      li: .icon.icon-budicon-306
      li: .icon.icon-budicon-307
      li: .icon.icon-budicon-308
      li: .icon.icon-budicon-309
      li: .icon.icon-budicon-310
      li: .icon.icon-budicon-311
      li: .icon.icon-budicon-312
      li: .icon.icon-budicon-313
      li: .icon.icon-budicon-314
      li: .icon.icon-budicon-315
      li: .icon.icon-budicon-316
      li: .icon.icon-budicon-317
      li: .icon.icon-budicon-318
      li: .icon.icon-budicon-319
      li: .icon.icon-budicon-320
      li: .icon.icon-budicon-321
      li: .icon.icon-budicon-322
      li: .icon.icon-budicon-323
      li: .icon.icon-budicon-324
      li: .icon.icon-budicon-325
      li: .icon.icon-budicon-326
      li: .icon.icon-budicon-327
      li: .icon.icon-budicon-328
      li: .icon.icon-budicon-329
      li: .icon.icon-budicon-330
      li: .icon.icon-budicon-331
      li: .icon.icon-budicon-332
      li: .icon.icon-budicon-333
      li: .icon.icon-budicon-334
      li: .icon.icon-budicon-335
      li: .icon.icon-budicon-336
      li: .icon.icon-budicon-337
      li: .icon.icon-budicon-338
      li: .icon.icon-budicon-339
      li: .icon.icon-budicon-340
      li: .icon.icon-budicon-341
      li: .icon.icon-budicon-342
      li: .icon.icon-budicon-343
      li: .icon.icon-budicon-344
      li: .icon.icon-budicon-345
      li: .icon.icon-budicon-346
      li: .icon.icon-budicon-347
      li: .icon.icon-budicon-348
      li: .icon.icon-budicon-349
      li: .icon.icon-budicon-350
      li: .icon.icon-budicon-351
      li: .icon.icon-budicon-352
      li: .icon.icon-budicon-353
      li: .icon.icon-budicon-354
      li: .icon.icon-budicon-355
      li: .icon.icon-budicon-356
      li: .icon.icon-budicon-357
      li: .icon.icon-budicon-358
      li: .icon.icon-budicon-359
      li: .icon.icon-budicon-360
      li: .icon.icon-budicon-361
      li: .icon.icon-budicon-362
      li: .icon.icon-budicon-363
      li: .icon.icon-budicon-364
      li: .icon.icon-budicon-365
      li: .icon.icon-budicon-366
      li: .icon.icon-budicon-367
      li: .icon.icon-budicon-368
      li: .icon.icon-budicon-369
      li: .icon.icon-budicon-370
      li: .icon.icon-budicon-371
      li: .icon.icon-budicon-372
      li: .icon.icon-budicon-373
      li: .icon.icon-budicon-374
      li: .icon.icon-budicon-375
      li: .icon.icon-budicon-376
      li: .icon.icon-budicon-377
      li: .icon.icon-budicon-378
      li: .icon.icon-budicon-379
      li: .icon.icon-budicon-380
      li: .icon.icon-budicon-381
      li: .icon.icon-budicon-382
      li: .icon.icon-budicon-383
      li: .icon.icon-budicon-384
      li: .icon.icon-budicon-385
      li: .icon.icon-budicon-386
      li: .icon.icon-budicon-387
      li: .icon.icon-budicon-388
      li: .icon.icon-budicon-389
      li: .icon.icon-budicon-390
      li: .icon.icon-budicon-391
      li: .icon.icon-budicon-392
      li: .icon.icon-budicon-393
      li: .icon.icon-budicon-394
      li: .icon.icon-budicon-395
      li: .icon.icon-budicon-396
      li: .icon.icon-budicon-397
      li: .icon.icon-budicon-398
      li: .icon.icon-budicon-399
      li: .icon.icon-budicon-400
      li: .icon.icon-budicon-401
      li: .icon.icon-budicon-402
      li: .icon.icon-budicon-403
      li: .icon.icon-budicon-404
      li: .icon.icon-budicon-405
      li: .icon.icon-budicon-406
      li: .icon.icon-budicon-407
      li: .icon.icon-budicon-408
      li: .icon.icon-budicon-409
      li: .icon.icon-budicon-410
      li: .icon.icon-budicon-411
      li: .icon.icon-budicon-412
      li: .icon.icon-budicon-413
      li: .icon.icon-budicon-414
      li: .icon.icon-budicon-415
      li: .icon.icon-budicon-416
      li: .icon.icon-budicon-417
      li: .icon.icon-budicon-418
      li: .icon.icon-budicon-419
      li: .icon.icon-budicon-420
      li: .icon.icon-budicon-421
      li: .icon.icon-budicon-422
      li: .icon.icon-budicon-423
      li: .icon.icon-budicon-424
      li: .icon.icon-budicon-425
      li: .icon.icon-budicon-426
      li: .icon.icon-budicon-427
      li: .icon.icon-budicon-428
      li: .icon.icon-budicon-429
      li: .icon.icon-budicon-430
      li: .icon.icon-budicon-431
      li: .icon.icon-budicon-432
      li: .icon.icon-budicon-433
      li: .icon.icon-budicon-434
      li: .icon.icon-budicon-435
      li: .icon.icon-budicon-436
      li: .icon.icon-budicon-437
      li: .icon.icon-budicon-438
      li: .icon.icon-budicon-439
      li: .icon.icon-budicon-440
      li: .icon.icon-budicon-441
      li: .icon.icon-budicon-442
      li: .icon.icon-budicon-443
      li: .icon.icon-budicon-444
      li: .icon.icon-budicon-445
      li: .icon.icon-budicon-446
      li: .icon.icon-budicon-447
      li: .icon.icon-budicon-448
      li: .icon.icon-budicon-449
      li: .icon.icon-budicon-450
      li: .icon.icon-budicon-451
      li: .icon.icon-budicon-452
      li: .icon.icon-budicon-453
      li: .icon.icon-budicon-454
      li: .icon.icon-budicon-455
      li: .icon.icon-budicon-456
      li: .icon.icon-budicon-457
      li: .icon.icon-budicon-458
      li: .icon.icon-budicon-459
      li: .icon.icon-budicon-460
      li: .icon.icon-budicon-461
      li: .icon.icon-budicon-462
      li: .icon.icon-budicon-463
      li: .icon.icon-budicon-464
      li: .icon.icon-budicon-465
      li: .icon.icon-budicon-466
      li: .icon.icon-budicon-467
      li: .icon.icon-budicon-468
      li: .icon.icon-budicon-469
      li: .icon.icon-budicon-470
      li: .icon.icon-budicon-471
      li: .icon.icon-budicon-472
      li: .icon.icon-budicon-473
      li: .icon.icon-budicon-474
      li: .icon.icon-budicon-475
      li: .icon.icon-budicon-476
      li: .icon.icon-budicon-477
      li: .icon.icon-budicon-478
      li: .icon.icon-budicon-479
      li: .icon.icon-budicon-480
      li: .icon.icon-budicon-481
      li: .icon.icon-budicon-482
      li: .icon.icon-budicon-483
      li: .icon.icon-budicon-484
      li: .icon.icon-budicon-485
      li: .icon.icon-budicon-486
      li: .icon.icon-budicon-487
      li: .icon.icon-budicon-488
      li: .icon.icon-budicon-489
      li: .icon.icon-budicon-490
      li: .icon.icon-budicon-491
      li: .icon.icon-budicon-492
      li: .icon.icon-budicon-493
      li: .icon.icon-budicon-494
      li: .icon.icon-budicon-495
      li: .icon.icon-budicon-496
      li: .icon.icon-budicon-497
      li: .icon.icon-budicon-498
      li: .icon.icon-budicon-499
      li: .icon.icon-budicon-500
      li: .icon.icon-budicon-501
      li: .icon.icon-budicon-502
      li: .icon.icon-budicon-503
      li: .icon.icon-budicon-504
      li: .icon.icon-budicon-505
      li: .icon.icon-budicon-506
      li: .icon.icon-budicon-507
      li: .icon.icon-budicon-508
      li: .icon.icon-budicon-509
      li: .icon.icon-budicon-510
      li: .icon.icon-budicon-511
      li: .icon.icon-budicon-512
      li: .icon.icon-budicon-513
      li: .icon.icon-budicon-514
      li: .icon.icon-budicon-515
      li: .icon.icon-budicon-516
      li: .icon.icon-budicon-517
      li: .icon.icon-budicon-518
      li: .icon.icon-budicon-519
      li: .icon.icon-budicon-520
      li: .icon.icon-budicon-521
      li: .icon.icon-budicon-522
      li: .icon.icon-budicon-523
      li: .icon.icon-budicon-524
      li: .icon.icon-budicon-525
      li: .icon.icon-budicon-526
      li: .icon.icon-budicon-527
      li: .icon.icon-budicon-528
      li: .icon.icon-budicon-529
      li: .icon.icon-budicon-530
      li: .icon.icon-budicon-531
      li: .icon.icon-budicon-532
      li: .icon.icon-budicon-533
      li: .icon.icon-budicon-534
      li: .icon.icon-budicon-535
      li: .icon.icon-budicon-536
      li: .icon.icon-budicon-537
      li: .icon.icon-budicon-538
      li: .icon.icon-budicon-539
      li: .icon.icon-budicon-540
      li: .icon.icon-budicon-541
      li: .icon.icon-budicon-542
      li: .icon.icon-budicon-543
      li: .icon.icon-budicon-544
      li: .icon.icon-budicon-545
      li: .icon.icon-budicon-546
      li: .icon.icon-budicon-547
      li: .icon.icon-budicon-548
      li: .icon.icon-budicon-549
      li: .icon.icon-budicon-550
      li: .icon.icon-budicon-551
      li: .icon.icon-budicon-552
      li: .icon.icon-budicon-553
      li: .icon.icon-budicon-554
      li: .icon.icon-budicon-555
      li: .icon.icon-budicon-556
      li: .icon.icon-budicon-557
      li: .icon.icon-budicon-558
      li: .icon.icon-budicon-559
      li: .icon.icon-budicon-560
      li: .icon.icon-budicon-561
      li: .icon.icon-budicon-562
      li: .icon.icon-budicon-563
      li: .icon.icon-budicon-564
      li: .icon.icon-budicon-565
      li: .icon.icon-budicon-566
      li: .icon.icon-budicon-567
      li: .icon.icon-budicon-568
      li: .icon.icon-budicon-569
      li: .icon.icon-budicon-570
      li: .icon.icon-budicon-571
      li: .icon.icon-budicon-572
      li: .icon.icon-budicon-573
      li: .icon.icon-budicon-574
      li: .icon.icon-budicon-575
      li: .icon.icon-budicon-576
      li: .icon.icon-budicon-577
      li: .icon.icon-budicon-578
      li: .icon.icon-budicon-579
      li: .icon.icon-budicon-580
      li: .icon.icon-budicon-581
      li: .icon.icon-budicon-582
      li: .icon.icon-budicon-583
      li: .icon.icon-budicon-584
      li: .icon.icon-budicon-585
      li: .icon.icon-budicon-586
      li: .icon.icon-budicon-587
      li: .icon.icon-budicon-588
      li: .icon.icon-budicon-589
      li: .icon.icon-budicon-590
      li: .icon.icon-budicon-591
      li: .icon.icon-budicon-592
      li: .icon.icon-budicon-593
      li: .icon.icon-budicon-594
      li: .icon.icon-budicon-595
      li: .icon.icon-budicon-596
      li: .icon.icon-budicon-597
      li: .icon.icon-budicon-598
      li: .icon.icon-budicon-599
      li: .icon.icon-budicon-600
      li: .icon.icon-budicon-601
      li: .icon.icon-budicon-602
      li: .icon.icon-budicon-603
      li: .icon.icon-budicon-604
      li: .icon.icon-budicon-605
      li: .icon.icon-budicon-606
      li: .icon.icon-budicon-607
      li: .icon.icon-budicon-608
      li: .icon.icon-budicon-609
      li: .icon.icon-budicon-610
      li: .icon.icon-budicon-611
      li: .icon.icon-budicon-612
      li: .icon.icon-budicon-613
      li: .icon.icon-budicon-614
      li: .icon.icon-budicon-615
      li: .icon.icon-budicon-616
      li: .icon.icon-budicon-617
      li: .icon.icon-budicon-618
      li: .icon.icon-budicon-619
      li: .icon.icon-budicon-620
      li: .icon.icon-budicon-621
      li: .icon.icon-budicon-622
      li: .icon.icon-budicon-623
      li: .icon.icon-budicon-624
      li: .icon.icon-budicon-625
      li: .icon.icon-budicon-626
      li: .icon.icon-budicon-627
      li: .icon.icon-budicon-628
      li: .icon.icon-budicon-629
      li: .icon.icon-budicon-630
      li: .icon.icon-budicon-631
      li: .icon.icon-budicon-632
      li: .icon.icon-budicon-633
      li: .icon.icon-budicon-634
      li: .icon.icon-budicon-635
      li: .icon.icon-budicon-636
      li: .icon.icon-budicon-637
      li: .icon.icon-budicon-638
      li: .icon.icon-budicon-639
      li: .icon.icon-budicon-640
      li: .icon.icon-budicon-641
      li: .icon.icon-budicon-642
      li: .icon.icon-budicon-643
      li: .icon.icon-budicon-644
      li: .icon.icon-budicon-645
      li: .icon.icon-budicon-646
      li: .icon.icon-budicon-647
      li: .icon.icon-budicon-648
      li: .icon.icon-budicon-649
      li: .icon.icon-budicon-650
      li: .icon.icon-budicon-651
      li: .icon.icon-budicon-652
      li: .icon.icon-budicon-653
      li: .icon.icon-budicon-654
      li: .icon.icon-budicon-655
      li: .icon.icon-budicon-656
      li: .icon.icon-budicon-657
      li: .icon.icon-budicon-658
      li: .icon.icon-budicon-659
      li: .icon.icon-budicon-660
      li: .icon.icon-budicon-661
      li: .icon.icon-budicon-662
      li: .icon.icon-budicon-663
      li: .icon.icon-budicon-664
      li: .icon.icon-budicon-665
      li: .icon.icon-budicon-666
      li: .icon.icon-budicon-667
      li: .icon.icon-budicon-668
      li: .icon.icon-budicon-669
      li: .icon.icon-budicon-670
      li: .icon.icon-budicon-671
      li: .icon.icon-budicon-672
      li: .icon.icon-budicon-673
      li: .icon.icon-budicon-674
      li: .icon.icon-budicon-675
      li: .icon.icon-budicon-676
      li: .icon.icon-budicon-677
      li: .icon.icon-budicon-678
      li: .icon.icon-budicon-679
      li: .icon.icon-budicon-680
      li: .icon.icon-budicon-681
      li: .icon.icon-budicon-682
      li: .icon.icon-budicon-683
      li: .icon.icon-budicon-684
      li: .icon.icon-budicon-685
      li: .icon.icon-budicon-686
      li: .icon.icon-budicon-687
      li: .icon.icon-budicon-688
      li: .icon.icon-budicon-689
      li: .icon.icon-budicon-690
      li: .icon.icon-budicon-691
      li: .icon.icon-budicon-692
      li: .icon.icon-budicon-693
      li: .icon.icon-budicon-694
      li: .icon.icon-budicon-695
      li: .icon.icon-budicon-696
      li: .icon.icon-budicon-697
      li: .icon.icon-budicon-698
      li: .icon.icon-budicon-699
      li: .icon.icon-budicon-700
      li: .icon.icon-budicon-701
      li: .icon.icon-budicon-702
      li: .icon.icon-budicon-703
      li: .icon.icon-budicon-704
      li: .icon.icon-budicon-705
      li: .icon.icon-budicon-706
      li: .icon.icon-budicon-707
      li: .icon.icon-budicon-708
      li: .icon.icon-budicon-709
      li: .icon.icon-budicon-710
      li: .icon.icon-budicon-711
      li: .icon.icon-budicon-712
      li: .icon.icon-budicon-713
      li: .icon.icon-budicon-714
      li: .icon.icon-budicon-715
      li: .icon.icon-budicon-716
      li: .icon.icon-budicon-717
      li: .icon.icon-budicon-718
      li: .icon.icon-budicon-719
      li: .icon.icon-budicon-720
      li: .icon.icon-budicon-721
      li: .icon.icon-budicon-722
      li: .icon.icon-budicon-723
      li: .icon.icon-budicon-724
      li: .icon.icon-budicon-725
      li: .icon.icon-budicon-726
      li: .icon.icon-budicon-727
      li: .icon.icon-budicon-728
      li: .icon.icon-budicon-729
      li: .icon.icon-budicon-730
      li: .icon.icon-budicon-731
      li: .icon.icon-budicon-732
      li: .icon.icon-budicon-733
      li: .icon.icon-budicon-734
      li: .icon.icon-budicon-735
      li: .icon.icon-budicon-736
      li: .icon.icon-budicon-737
      li: .icon.icon-budicon-738
      li: .icon.icon-budicon-739
      li: .icon.icon-budicon-740
      li: .icon.icon-budicon-741
      li: .icon.icon-budicon-742
      li: .icon.icon-budicon-743
      li: .icon.icon-budicon-744
      li: .icon.icon-budicon-745
      li: .icon.icon-budicon-746
      li: .icon.icon-budicon-747
      li: .icon.icon-budicon-748
      li: .icon.icon-budicon-749
      li: .icon.icon-budicon-750
      li: .icon.icon-budicon-751
      li: .icon.icon-budicon-752
      li: .icon.icon-budicon-753
      li: .icon.icon-budicon-754
      li: .icon.icon-budicon-755
      li: .icon.icon-budicon-756
      li: .icon.icon-budicon-757
      li: .icon.icon-budicon-758
      li: .icon.icon-budicon-759
      li: .icon.icon-budicon-760
      li: .icon.icon-budicon-761
      li: .icon.icon-budicon-762
      li: .icon.icon-budicon-763
      li: .icon.icon-budicon-764
      li: .icon.icon-budicon-765
      li: .icon.icon-budicon-766
      li: .icon.icon-budicon-767
      li: .icon.icon-budicon-768
      li: .icon.icon-budicon-769
      li: .icon.icon-budicon-770
      li: .icon.icon-budicon-771
      li: .icon.icon-budicon-772
      li: .icon.icon-budicon-773
      li: .icon.icon-budicon-774
      li: .icon.icon-budicon-775
      li: .icon.icon-budicon-776
      li: .icon.icon-budicon-777
      li: .icon.icon-budicon-778
      li: .icon.icon-budicon-779
      li: .icon.icon-budicon-780
      li: .icon.icon-budicon-781
      li: .icon.icon-budicon-782
      li: .icon.icon-budicon-783
      li: .icon.icon-budicon-784
      li: .icon.icon-budicon-785
      li: .icon.icon-budicon-786
      li: .icon.icon-budicon-787
      li: .icon.icon-budicon-788
      li: .icon.icon-budicon-789
      li: .icon.icon-budicon-790
      li: .icon.icon-budicon-791
      li: .icon.icon-budicon-792
      li: .icon.icon-budicon-793
      li: .icon.icon-budicon-794
      li: .icon.icon-budicon-795
      li: .icon.icon-budicon-796
      li: .icon.icon-budicon-797
      li: .icon.icon-budicon-798
      li: .icon.icon-budicon-799
      li: .icon.icon-budicon-800
      li: .icon.icon-budicon-801
      li: .icon.icon-budicon-802
      li: .icon.icon-budicon-803
      li: .icon.icon-budicon-804
      li: .icon.icon-budicon-805
      li: .icon.icon-budicon-806
      li: .icon.icon-budicon-807
      li: .icon.icon-budicon-808
      li: .icon.icon-budicon-809
      li: .icon.icon-budicon-810
      li: .icon.icon-budicon-811
      li: .icon.icon-budicon-812
      li: .icon.icon-budicon-813
      li: .icon.icon-budicon-814
      li: .icon.icon-budicon-815
      li: .icon.icon-budicon-816
      li: .icon.icon-budicon-817
      li: .icon.icon-budicon-818
      li: .icon.icon-budicon-819
      li: .icon.icon-budicon-820
      li: .icon.icon-budicon-821
      li: .icon.icon-budicon-822
      li: .icon.icon-budicon-823
      li: .icon.icon-budicon-824
      li: .icon.icon-budicon-825
      li: .icon.icon-budicon-826
      li: .icon.icon-budicon-827
      li: .icon.icon-budicon-828
      li: .icon.icon-budicon-829
      li: .icon.icon-budicon-830
      li: .icon.icon-budicon-831
      li: .icon.icon-budicon-832
      li: .icon.icon-budicon-833
      li: .icon.icon-budicon-834
      li: .icon.icon-budicon-835
      li: .icon.icon-budicon-836
      li: .icon.icon-budicon-837
      li: .icon.icon-budicon-838
      li: .icon.icon-budicon-839
      li: .icon.icon-budicon-840
      li: .icon.icon-budicon-841
      li: .icon.icon-budicon-842
      li: .icon.icon-budicon-843
      li: .icon.icon-budicon-844
      li: .icon.icon-budicon-845
      li: .icon.icon-budicon-846
      li: .icon.icon-budicon-847
      li: .icon.icon-budicon-848
      li: .icon.icon-budicon-849
      li
        .icon.icon-1392070209-icon-social-github
        input(type='text', readonly='readonly', value='1392070209-icon-social-github')

    h2 Weather

    h2 Tools

    h2 Document & Media

    h2 User

    h2 Web

    h2 Sport

    h2 Time & Location

    h2 Logos