//
// Budicon
// --------------------------------------------------

.glyphs.css-mapping {
  margin: 0;
  padding: 0;
  
  li {
    display: inline-block;
    margin: 0 20px 40px 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
    min-width: 120px;
  }
  
  .icon {
    font-size: 24px;
    margin: 0;
    overflow: hidden;
    padding: 13px;
    width: 50px;
    height: 50px;
  }
  
  .name {
    display: block;
    margin-top: 10px;
  }
}

// Budicon Section
// -------------------------

.budicon-section {

  h1 {
    margin-bottom: 40px;
  }
}
