//- Budicon

.budicon-section

  br
  br
  
  section.content-styleguide

    mixin budicon(cssClass, name)
      li
        i(class!=cssClass + " icon", aria-hidden='true')
        span.name= name || cssClass

    section

      h1 Budicon

      section
        ul.glyphs.css-mapping
          +budicon('icon-budicon')
          +budicon('icon-budicon-1')
          +budicon('icon-budicon-2')
          +budicon('icon-budicon-3')
          +budicon('icon-budicon-4')
          +budicon('icon-budicon-5')
          +budicon('icon-budicon-6')
          +budicon('icon-budicon-7')
          +budicon('icon-budicon-8')
          +budicon('icon-budicon-9')
          +budicon('icon-budicon-10')
          +budicon('icon-budicon-11')
          +budicon('icon-budicon-12')
          +budicon('icon-budicon-13')
          +budicon('icon-budicon-14')
          +budicon('icon-budicon-15')
          +budicon('icon-budicon-16')
          +budicon('icon-budicon-17')
          +budicon('icon-budicon-18')
          +budicon('icon-budicon-19')
          +budicon('icon-budicon-20')
          +budicon('icon-budicon-21')
          +budicon('icon-budicon-22')
          +budicon('icon-budicon-23')
          +budicon('icon-budicon-24')
          +budicon('icon-budicon-25')
          +budicon('icon-budicon-26')
          +budicon('icon-budicon-27')
          +budicon('icon-budicon-28')
          +budicon('icon-budicon-29')
          +budicon('icon-budicon-30')
          +budicon('icon-budicon-31')
          +budicon('icon-budicon-32')
          +budicon('icon-budicon-33')
          +budicon('icon-budicon-34')
          +budicon('icon-budicon-35')
          +budicon('icon-budicon-36')
          +budicon('icon-budicon-37')
          +budicon('icon-budicon-38')
          +budicon('icon-budicon-39')
          +budicon('icon-budicon-40')
          +budicon('icon-budicon-41')
          +budicon('icon-budicon-42')
          +budicon('icon-budicon-43')
          +budicon('icon-budicon-44')
          +budicon('icon-budicon-45')
          +budicon('icon-budicon-46')
          +budicon('icon-budicon-47')
          +budicon('icon-budicon-48')
          +budicon('icon-budicon-49')
          +budicon('icon-budicon-50')
          +budicon('icon-budicon-51')
          +budicon('icon-budicon-52')
          +budicon('icon-budicon-53')
          +budicon('icon-budicon-54')
          +budicon('icon-budicon-55')
          +budicon('icon-budicon-56')
          +budicon('icon-budicon-57')
          +budicon('icon-budicon-58')
          +budicon('icon-budicon-59')
          +budicon('icon-budicon-60')
          +budicon('icon-budicon-61')
          +budicon('icon-budicon-62')
          +budicon('icon-budicon-63')
          +budicon('icon-budicon-64')
          +budicon('icon-budicon-65')
          +budicon('icon-budicon-66')
          +budicon('icon-budicon-67')
          +budicon('icon-budicon-68')
          +budicon('icon-budicon-69')
          +budicon('icon-budicon-70')
          +budicon('icon-budicon-71')
          +budicon('icon-budicon-72')
          +budicon('icon-budicon-73')
          +budicon('icon-budicon-74')
          +budicon('icon-budicon-75')
          +budicon('icon-budicon-76')
          +budicon('icon-budicon-77')
          +budicon('icon-budicon-78')
          +budicon('icon-budicon-79')
          +budicon('icon-budicon-80')
          +budicon('icon-budicon-81')
          +budicon('icon-budicon-82')
          +budicon('icon-budicon-83')
          +budicon('icon-budicon-84')
          +budicon('icon-budicon-85')
          +budicon('icon-budicon-86')
          +budicon('icon-budicon-87')
          +budicon('icon-budicon-88')
          +budicon('icon-budicon-89')
          +budicon('icon-budicon-90')
          +budicon('icon-budicon-91')
          +budicon('icon-budicon-92')
          +budicon('icon-budicon-93')
          +budicon('icon-budicon-94')
          +budicon('icon-budicon-95')
          +budicon('icon-budicon-96')
          +budicon('icon-budicon-97')
          +budicon('icon-budicon-98')
          +budicon('icon-budicon-99')
          +budicon('icon-budicon-100')
          +budicon('icon-budicon-101')
          +budicon('icon-budicon-102')
          +budicon('icon-budicon-103')
          +budicon('icon-budicon-104')
          +budicon('icon-budicon-105')
          +budicon('icon-budicon-106')
          +budicon('icon-budicon-107')
          +budicon('icon-budicon-108')
          +budicon('icon-budicon-109')
          +budicon('icon-budicon-110')
          +budicon('icon-budicon-111')
          +budicon('icon-budicon-112')
          +budicon('icon-budicon-113')
          +budicon('icon-budicon-114')
          +budicon('icon-budicon-115')
          +budicon('icon-budicon-116')
          +budicon('icon-budicon-117')
          +budicon('icon-budicon-118')
          +budicon('icon-budicon-119')
          +budicon('icon-budicon-120')
          +budicon('icon-budicon-121')
          +budicon('icon-budicon-122')
          +budicon('icon-budicon-123')
          +budicon('icon-budicon-124')
          +budicon('icon-budicon-125')
          +budicon('icon-budicon-126')
          +budicon('icon-budicon-127')
          +budicon('icon-budicon-128')
          +budicon('icon-budicon-129')
          +budicon('icon-budicon-130')
          +budicon('icon-budicon-131')
          +budicon('icon-budicon-132')
          +budicon('icon-budicon-133')
          +budicon('icon-budicon-134')
          +budicon('icon-budicon-135')
          +budicon('icon-budicon-136')
          +budicon('icon-budicon-137')
          +budicon('icon-budicon-138')
          +budicon('icon-budicon-139')
          +budicon('icon-budicon-140')
          +budicon('icon-budicon-141')
          +budicon('icon-budicon-142')
          +budicon('icon-budicon-143')
          +budicon('icon-budicon-144')
          +budicon('icon-budicon-145')
          +budicon('icon-budicon-146')
          +budicon('icon-budicon-147')
          +budicon('icon-budicon-148')
          +budicon('icon-budicon-149')
          +budicon('icon-budicon-150')
          +budicon('icon-budicon-151')
          +budicon('icon-budicon-152')
          +budicon('icon-budicon-153')
          +budicon('icon-budicon-154')
          +budicon('icon-budicon-155')
          +budicon('icon-budicon-156')
          +budicon('icon-budicon-157')
          +budicon('icon-budicon-158')
          +budicon('icon-budicon-159')
          +budicon('icon-budicon-160')
          +budicon('icon-budicon-161')
          +budicon('icon-budicon-162')
          +budicon('icon-budicon-163')
          +budicon('icon-budicon-164')
          +budicon('icon-budicon-165')
          +budicon('icon-budicon-166')
          +budicon('icon-budicon-167')
          +budicon('icon-budicon-168')
          +budicon('icon-budicon-169')
          +budicon('icon-budicon-170')
          +budicon('icon-budicon-171')
          +budicon('icon-budicon-172')
          +budicon('icon-budicon-173')
          +budicon('icon-budicon-174')
          +budicon('icon-budicon-175')
          +budicon('icon-budicon-176')
          +budicon('icon-budicon-177')
          +budicon('icon-budicon-178')
          +budicon('icon-budicon-179')
          +budicon('icon-budicon-180')
          +budicon('icon-budicon-181')
          +budicon('icon-budicon-182')
          +budicon('icon-budicon-183')
          +budicon('icon-budicon-184')
          +budicon('icon-budicon-185')
          +budicon('icon-budicon-186')
          +budicon('icon-budicon-187')
          +budicon('icon-budicon-188')
          +budicon('icon-budicon-189')
          +budicon('icon-budicon-190')
          +budicon('icon-budicon-191')
          +budicon('icon-budicon-192')
          +budicon('icon-budicon-193')
          +budicon('icon-budicon-194')
          +budicon('icon-budicon-195')
          +budicon('icon-budicon-196')
          +budicon('icon-budicon-197')
          +budicon('icon-budicon-198')
          +budicon('icon-budicon-199')
          +budicon('icon-budicon-200')
          +budicon('icon-budicon-201')
          +budicon('icon-budicon-202')
          +budicon('icon-budicon-203')
          +budicon('icon-budicon-204')
          +budicon('icon-budicon-205')
          +budicon('icon-budicon-206')
          +budicon('icon-budicon-207')
          +budicon('icon-budicon-208')
          +budicon('icon-budicon-209')
          +budicon('icon-budicon-210')
          +budicon('icon-budicon-211')
          +budicon('icon-budicon-212')
          +budicon('icon-budicon-213')
          +budicon('icon-budicon-214')
          +budicon('icon-budicon-215')
          +budicon('icon-budicon-216')
          +budicon('icon-budicon-217')
          +budicon('icon-budicon-218')
          +budicon('icon-budicon-219')
          +budicon('icon-budicon-220')
          +budicon('icon-budicon-221')
          +budicon('icon-budicon-222')
          +budicon('icon-budicon-223')
          +budicon('icon-budicon-224')
          +budicon('icon-budicon-225')
          +budicon('icon-budicon-226')
          +budicon('icon-budicon-227')
          +budicon('icon-budicon-228')
          +budicon('icon-budicon-229')
          +budicon('icon-budicon-230')
          +budicon('icon-budicon-231')
          +budicon('icon-budicon-232')
          +budicon('icon-budicon-233')
          +budicon('icon-budicon-234')
          +budicon('icon-budicon-235')
          +budicon('icon-budicon-236')
          +budicon('icon-budicon-237')
          +budicon('icon-budicon-238')
          +budicon('icon-budicon-239')
          +budicon('icon-budicon-240')
          +budicon('icon-budicon-241')
          +budicon('icon-budicon-242')
          +budicon('icon-budicon-243')
          +budicon('icon-budicon-244')
          +budicon('icon-budicon-245')
          +budicon('icon-budicon-246')
          +budicon('icon-budicon-247')
          +budicon('icon-budicon-248')
          +budicon('icon-budicon-249')
          +budicon('icon-budicon-250')
          +budicon('icon-budicon-251')
          +budicon('icon-budicon-252')
          +budicon('icon-budicon-253')
          +budicon('icon-budicon-254')
          +budicon('icon-budicon-255')
          +budicon('icon-budicon-256')
          +budicon('icon-budicon-257')
          +budicon('icon-budicon-258')
          +budicon('icon-budicon-259')
          +budicon('icon-budicon-260')
          +budicon('icon-budicon-261')
          +budicon('icon-budicon-262')
          +budicon('icon-budicon-263')
          +budicon('icon-budicon-264')
          +budicon('icon-budicon-265')
          +budicon('icon-budicon-266')
          +budicon('icon-budicon-267')
          +budicon('icon-budicon-268')
          +budicon('icon-budicon-269')
          +budicon('icon-budicon-270')
          +budicon('icon-budicon-271')
          +budicon('icon-budicon-272')
          +budicon('icon-budicon-273')
          +budicon('icon-budicon-274')
          +budicon('icon-budicon-275')
          +budicon('icon-budicon-276')
          +budicon('icon-budicon-277')
          +budicon('icon-budicon-278')
          +budicon('icon-budicon-279')
          +budicon('icon-budicon-280')
          +budicon('icon-budicon-281')
          +budicon('icon-budicon-282')
          +budicon('icon-budicon-283')
          +budicon('icon-budicon-284')
          +budicon('icon-budicon-285')
          +budicon('icon-budicon-286')
          +budicon('icon-budicon-287')
          +budicon('icon-budicon-288')
          +budicon('icon-budicon-289')
          +budicon('icon-budicon-290')
          +budicon('icon-budicon-291')
          +budicon('icon-budicon-292')
          +budicon('icon-budicon-293')
          +budicon('icon-budicon-294')
          +budicon('icon-budicon-295')
          +budicon('icon-budicon-296')
          +budicon('icon-budicon-297')
          +budicon('icon-budicon-298')
          +budicon('icon-budicon-299')
          +budicon('icon-budicon-300')
          +budicon('icon-budicon-301')
          +budicon('icon-budicon-302')
          +budicon('icon-budicon-303')
          +budicon('icon-budicon-304')
          +budicon('icon-budicon-305')
          +budicon('icon-budicon-306')
          +budicon('icon-budicon-307')
          +budicon('icon-budicon-308')
          +budicon('icon-budicon-309')
          +budicon('icon-budicon-310')
          +budicon('icon-budicon-311')
          +budicon('icon-budicon-312')
          +budicon('icon-budicon-313')
          +budicon('icon-budicon-314')
          +budicon('icon-budicon-315')
          +budicon('icon-budicon-316')
          +budicon('icon-budicon-317')
          +budicon('icon-budicon-318')
          +budicon('icon-budicon-319')
          +budicon('icon-budicon-320')
          +budicon('icon-budicon-321')
          +budicon('icon-budicon-322')
          +budicon('icon-budicon-323')
          +budicon('icon-budicon-324')
          +budicon('icon-budicon-325')
          +budicon('icon-budicon-326')
          +budicon('icon-budicon-327')
          +budicon('icon-budicon-328')
          +budicon('icon-budicon-329')
          +budicon('icon-budicon-330')
          +budicon('icon-budicon-331')
          +budicon('icon-budicon-332')
          +budicon('icon-budicon-333')
          +budicon('icon-budicon-334')
          +budicon('icon-budicon-335')
          +budicon('icon-budicon-336')
          +budicon('icon-budicon-337')
          +budicon('icon-budicon-338')
          +budicon('icon-budicon-339')
          +budicon('icon-budicon-340')
          +budicon('icon-budicon-341')
          +budicon('icon-budicon-342')
          +budicon('icon-budicon-343')
          +budicon('icon-budicon-344')
          +budicon('icon-budicon-345')
          +budicon('icon-budicon-346')
          +budicon('icon-budicon-347')
          +budicon('icon-budicon-348')
          +budicon('icon-budicon-349')
          +budicon('icon-budicon-350')
          +budicon('icon-budicon-351')
          +budicon('icon-budicon-352')
          +budicon('icon-budicon-353')
          +budicon('icon-budicon-354')
          +budicon('icon-budicon-355')
          +budicon('icon-budicon-356')
          +budicon('icon-budicon-357')
          +budicon('icon-budicon-358')
          +budicon('icon-budicon-359')
          +budicon('icon-budicon-360')
          +budicon('icon-budicon-361')
          +budicon('icon-budicon-362')
          +budicon('icon-budicon-363')
          +budicon('icon-budicon-364')
          +budicon('icon-budicon-365')
          +budicon('icon-budicon-366')
          +budicon('icon-budicon-367')
          +budicon('icon-budicon-368')
          +budicon('icon-budicon-369')
          +budicon('icon-budicon-370')
          +budicon('icon-budicon-371')
          +budicon('icon-budicon-372')
          +budicon('icon-budicon-373')
          +budicon('icon-budicon-374')
          +budicon('icon-budicon-375')
          +budicon('icon-budicon-376')
          +budicon('icon-budicon-377')
          +budicon('icon-budicon-378')
          +budicon('icon-budicon-379')
          +budicon('icon-budicon-380')
          +budicon('icon-budicon-381')
          +budicon('icon-budicon-382')
          +budicon('icon-budicon-383')
          +budicon('icon-budicon-384')
          +budicon('icon-budicon-385')
          +budicon('icon-budicon-386')
          +budicon('icon-budicon-387')
          +budicon('icon-budicon-388')
          +budicon('icon-budicon-389')
          +budicon('icon-budicon-390')
          +budicon('icon-budicon-391')
          +budicon('icon-budicon-392')
          +budicon('icon-budicon-393')
          +budicon('icon-budicon-394')
          +budicon('icon-budicon-395')
          +budicon('icon-budicon-396')
          +budicon('icon-budicon-397')
          +budicon('icon-budicon-398')
          +budicon('icon-budicon-399')
          +budicon('icon-budicon-400')
          +budicon('icon-budicon-401')
          +budicon('icon-budicon-402')
          +budicon('icon-budicon-403')
          +budicon('icon-budicon-404')
          +budicon('icon-budicon-405')
          +budicon('icon-budicon-406')
          +budicon('icon-budicon-407')
          +budicon('icon-budicon-408')
          +budicon('icon-budicon-409')
          +budicon('icon-budicon-410')
          +budicon('icon-budicon-411')
          +budicon('icon-budicon-412')
          +budicon('icon-budicon-413')
          +budicon('icon-budicon-414')
          +budicon('icon-budicon-415')
          +budicon('icon-budicon-416')
          +budicon('icon-budicon-417')
          +budicon('icon-budicon-418')
          +budicon('icon-budicon-419')
          +budicon('icon-budicon-420')
          +budicon('icon-budicon-421')
          +budicon('icon-budicon-422')
          +budicon('icon-budicon-423')
          +budicon('icon-budicon-424')
          +budicon('icon-budicon-425')
          +budicon('icon-budicon-426')
          +budicon('icon-budicon-427')
          +budicon('icon-budicon-428')
          +budicon('icon-budicon-429')
          +budicon('icon-budicon-430')
          +budicon('icon-budicon-431')
          +budicon('icon-budicon-432')
          +budicon('icon-budicon-433')
          +budicon('icon-budicon-434')
          +budicon('icon-budicon-435')
          +budicon('icon-budicon-436')
          +budicon('icon-budicon-437')
          +budicon('icon-budicon-438')
          +budicon('icon-budicon-439')
          +budicon('icon-budicon-440')
          +budicon('icon-budicon-441')
          +budicon('icon-budicon-442')
          +budicon('icon-budicon-443')
          +budicon('icon-budicon-444')
          +budicon('icon-budicon-445')
          +budicon('icon-budicon-446')
          +budicon('icon-budicon-447')
          +budicon('icon-budicon-448')
          +budicon('icon-budicon-449')
          +budicon('icon-budicon-450')
          +budicon('icon-budicon-451')
          +budicon('icon-budicon-452')
          +budicon('icon-budicon-453')
          +budicon('icon-budicon-454')
          +budicon('icon-budicon-455')
          +budicon('icon-budicon-456')
          +budicon('icon-budicon-457')
          +budicon('icon-budicon-458')
          +budicon('icon-budicon-459')
          +budicon('icon-budicon-460')
          +budicon('icon-budicon-461')
          +budicon('icon-budicon-462')
          +budicon('icon-budicon-463')
          +budicon('icon-budicon-464')
          +budicon('icon-budicon-465')
          +budicon('icon-budicon-466')
          +budicon('icon-budicon-467')
          +budicon('icon-budicon-468')
          +budicon('icon-budicon-469')
          +budicon('icon-budicon-470')
          +budicon('icon-budicon-471')
          +budicon('icon-budicon-472')
          +budicon('icon-budicon-473')
          +budicon('icon-budicon-474')
          +budicon('icon-budicon-475')
          +budicon('icon-budicon-476')
          +budicon('icon-budicon-477')
          +budicon('icon-budicon-478')
          +budicon('icon-budicon-479')
          +budicon('icon-budicon-480')
          +budicon('icon-budicon-481')
          +budicon('icon-budicon-482')
          +budicon('icon-budicon-483')
          +budicon('icon-budicon-484')
          +budicon('icon-budicon-485')
          +budicon('icon-budicon-486')
          +budicon('icon-budicon-487')
          +budicon('icon-budicon-488')
          +budicon('icon-budicon-489')
          +budicon('icon-budicon-490')
          +budicon('icon-budicon-491')
          +budicon('icon-budicon-492')
          +budicon('icon-budicon-493')
          +budicon('icon-budicon-494')
          +budicon('icon-budicon-495')
          +budicon('icon-budicon-496')
          +budicon('icon-budicon-497')
          +budicon('icon-budicon-498')
          +budicon('icon-budicon-499')
          +budicon('icon-budicon-500')
          +budicon('icon-budicon-501')
          +budicon('icon-budicon-502')
          +budicon('icon-budicon-503')
          +budicon('icon-budicon-504')
          +budicon('icon-budicon-505')
          +budicon('icon-budicon-506')
          +budicon('icon-budicon-507')
          +budicon('icon-budicon-508')
          +budicon('icon-budicon-509')
          +budicon('icon-budicon-510')
          +budicon('icon-budicon-511')
          +budicon('icon-budicon-512')
          +budicon('icon-budicon-513')
          +budicon('icon-budicon-514')
          +budicon('icon-budicon-515')
          +budicon('icon-budicon-516')
          +budicon('icon-budicon-517')
          +budicon('icon-budicon-518')
          +budicon('icon-budicon-519')
          +budicon('icon-budicon-520')
          +budicon('icon-budicon-521')
          +budicon('icon-budicon-522')
          +budicon('icon-budicon-523')
          +budicon('icon-budicon-524')
          +budicon('icon-budicon-525')
          +budicon('icon-budicon-526')
          +budicon('icon-budicon-527')
          +budicon('icon-budicon-528')
          +budicon('icon-budicon-529')
          +budicon('icon-budicon-530')
          +budicon('icon-budicon-531')
          +budicon('icon-budicon-532')
          +budicon('icon-budicon-533')
          +budicon('icon-budicon-534')
          +budicon('icon-budicon-535')
          +budicon('icon-budicon-536')
          +budicon('icon-budicon-537')
          +budicon('icon-budicon-538')
          +budicon('icon-budicon-539')
          +budicon('icon-budicon-540')
          +budicon('icon-budicon-541')
          +budicon('icon-budicon-542')
          +budicon('icon-budicon-543')
          +budicon('icon-budicon-544')
          +budicon('icon-budicon-545')
          +budicon('icon-budicon-546')
          +budicon('icon-budicon-547')
          +budicon('icon-budicon-548')
          +budicon('icon-budicon-549')
          +budicon('icon-budicon-550')
          +budicon('icon-budicon-551')
          +budicon('icon-budicon-552')
          +budicon('icon-budicon-553')
          +budicon('icon-budicon-554')
          +budicon('icon-budicon-555')
          +budicon('icon-budicon-556')
          +budicon('icon-budicon-557')
          +budicon('icon-budicon-558')
          +budicon('icon-budicon-559')
          +budicon('icon-budicon-560')
          +budicon('icon-budicon-561')
          +budicon('icon-budicon-562')
          +budicon('icon-budicon-563')
          +budicon('icon-budicon-564')
          +budicon('icon-budicon-565')
          +budicon('icon-budicon-566')
          +budicon('icon-budicon-567')
          +budicon('icon-budicon-568')
          +budicon('icon-budicon-569')
          +budicon('icon-budicon-570')
          +budicon('icon-budicon-571')
          +budicon('icon-budicon-572')
          +budicon('icon-budicon-573')
          +budicon('icon-budicon-574')
          +budicon('icon-budicon-575')
          +budicon('icon-budicon-576')
          +budicon('icon-budicon-577')
          +budicon('icon-budicon-578')
          +budicon('icon-budicon-579')
          +budicon('icon-budicon-580')
          +budicon('icon-budicon-581')
          +budicon('icon-budicon-582')
          +budicon('icon-budicon-583')
          +budicon('icon-budicon-584')
          +budicon('icon-budicon-585')
          +budicon('icon-budicon-586')
          +budicon('icon-budicon-587')
          +budicon('icon-budicon-588')
          +budicon('icon-budicon-589')
          +budicon('icon-budicon-590')
          +budicon('icon-budicon-591')
          +budicon('icon-budicon-592')
          +budicon('icon-budicon-593')
          +budicon('icon-budicon-594')
          +budicon('icon-budicon-595')
          +budicon('icon-budicon-596')
          +budicon('icon-budicon-597')
          +budicon('icon-budicon-598')
          +budicon('icon-budicon-599')
          +budicon('icon-budicon-600')
          +budicon('icon-budicon-601')
          +budicon('icon-budicon-602')
          +budicon('icon-budicon-603')
          +budicon('icon-budicon-604')
          +budicon('icon-budicon-605')
          +budicon('icon-budicon-606')
          +budicon('icon-budicon-607')
          +budicon('icon-budicon-608')
          +budicon('icon-budicon-609')
          +budicon('icon-budicon-610')
          +budicon('icon-budicon-611')
          +budicon('icon-budicon-612')
          +budicon('icon-budicon-613')
          +budicon('icon-budicon-614')
          +budicon('icon-budicon-615')
          +budicon('icon-budicon-616')
          +budicon('icon-budicon-617')
          +budicon('icon-budicon-618')
          +budicon('icon-budicon-619')
          +budicon('icon-budicon-620')
          +budicon('icon-budicon-621')
          +budicon('icon-budicon-622')
          +budicon('icon-budicon-623')
          +budicon('icon-budicon-624')
          +budicon('icon-budicon-625')
          +budicon('icon-budicon-626')
          +budicon('icon-budicon-627')
          +budicon('icon-budicon-628')
          +budicon('icon-budicon-629')
          +budicon('icon-budicon-630')
          +budicon('icon-budicon-631')
          +budicon('icon-budicon-632')
          +budicon('icon-budicon-633')
          +budicon('icon-budicon-634')
          +budicon('icon-budicon-635')
          +budicon('icon-budicon-636')
          +budicon('icon-budicon-637')
          +budicon('icon-budicon-638')
          +budicon('icon-budicon-639')
          +budicon('icon-budicon-640')
          +budicon('icon-budicon-641')
          +budicon('icon-budicon-642')
          +budicon('icon-budicon-643')
          +budicon('icon-budicon-644')
          +budicon('icon-budicon-645')
          +budicon('icon-budicon-646')
          +budicon('icon-budicon-647')
          +budicon('icon-budicon-648')
          +budicon('icon-budicon-649')
          +budicon('icon-budicon-650')
          +budicon('icon-budicon-651')
          +budicon('icon-budicon-652')
          +budicon('icon-budicon-653')
          +budicon('icon-budicon-654')
          +budicon('icon-budicon-655')
          +budicon('icon-budicon-656')
          +budicon('icon-budicon-657')
          +budicon('icon-budicon-658')
          +budicon('icon-budicon-659')
          +budicon('icon-budicon-660')
          +budicon('icon-budicon-661')
          +budicon('icon-budicon-662')
          +budicon('icon-budicon-663')
          +budicon('icon-budicon-664')
          +budicon('icon-budicon-665')
          +budicon('icon-budicon-666')
          +budicon('icon-budicon-667')
          +budicon('icon-budicon-668')
          +budicon('icon-budicon-669')
          +budicon('icon-budicon-670')
          +budicon('icon-budicon-671')
          +budicon('icon-budicon-672')
          +budicon('icon-budicon-673')
          +budicon('icon-budicon-674')
          +budicon('icon-budicon-675')
          +budicon('icon-budicon-676')
          +budicon('icon-budicon-677')
          +budicon('icon-budicon-678')
          +budicon('icon-budicon-679')
          +budicon('icon-budicon-680')
          +budicon('icon-budicon-681')
          +budicon('icon-budicon-682')
          +budicon('icon-budicon-683')
          +budicon('icon-budicon-684')
          +budicon('icon-budicon-685')
          +budicon('icon-budicon-686')
          +budicon('icon-budicon-687')
          +budicon('icon-budicon-688')
          +budicon('icon-budicon-689')
          +budicon('icon-budicon-690')
          +budicon('icon-budicon-691')
          +budicon('icon-budicon-692')
          +budicon('icon-budicon-693')
          +budicon('icon-budicon-694')
          +budicon('icon-budicon-695')
          +budicon('icon-budicon-696')
          +budicon('icon-budicon-697')
          +budicon('icon-budicon-698')
          +budicon('icon-budicon-699')
          +budicon('icon-budicon-700')
          +budicon('icon-budicon-701')
          +budicon('icon-budicon-702')
          +budicon('icon-budicon-703')
          +budicon('icon-budicon-704')
          +budicon('icon-budicon-705')
          +budicon('icon-budicon-706')
          +budicon('icon-budicon-707')
          +budicon('icon-budicon-708')
          +budicon('icon-budicon-709')
          +budicon('icon-budicon-710')
          +budicon('icon-budicon-711')
          +budicon('icon-budicon-712')
          +budicon('icon-budicon-713')
          +budicon('icon-budicon-714')
          +budicon('icon-budicon-715')
          +budicon('icon-budicon-716')
          +budicon('icon-budicon-717')
          +budicon('icon-budicon-718')
          +budicon('icon-budicon-719')
          +budicon('icon-budicon-720')
          +budicon('icon-budicon-721')
          +budicon('icon-budicon-722')
          +budicon('icon-budicon-723')
          +budicon('icon-budicon-724')
          +budicon('icon-budicon-725')
          +budicon('icon-budicon-726')
          +budicon('icon-budicon-727')
          +budicon('icon-budicon-728')
          +budicon('icon-budicon-729')
          +budicon('icon-budicon-730')
          +budicon('icon-budicon-731')
          +budicon('icon-budicon-732')
          +budicon('icon-budicon-733')
          +budicon('icon-budicon-734')
          +budicon('icon-budicon-735')
          +budicon('icon-budicon-736')
          +budicon('icon-budicon-737')
          +budicon('icon-budicon-738')
          +budicon('icon-budicon-739')
          +budicon('icon-budicon-740')
          +budicon('icon-budicon-741')
          +budicon('icon-budicon-742')
          +budicon('icon-budicon-743')
          +budicon('icon-budicon-744')
          +budicon('icon-budicon-745')
          +budicon('icon-budicon-746')
          +budicon('icon-budicon-747')
          +budicon('icon-budicon-748')
          +budicon('icon-budicon-749')
          +budicon('icon-budicon-750')
          +budicon('icon-budicon-751')
          +budicon('icon-budicon-752')
          +budicon('icon-budicon-753')
          +budicon('icon-budicon-754')
          +budicon('icon-budicon-755')
          +budicon('icon-budicon-756')
          +budicon('icon-budicon-757')
          +budicon('icon-budicon-758')
          +budicon('icon-budicon-759')
          +budicon('icon-budicon-760')
          +budicon('icon-budicon-761')
          +budicon('icon-budicon-762')
          +budicon('icon-budicon-763')
          +budicon('icon-budicon-764')
          +budicon('icon-budicon-765')
          +budicon('icon-budicon-766')
          +budicon('icon-budicon-767')
          +budicon('icon-budicon-768')
          +budicon('icon-budicon-769')
          +budicon('icon-budicon-770')
          +budicon('icon-budicon-771')
          +budicon('icon-budicon-772')
          +budicon('icon-budicon-773')
          +budicon('icon-budicon-774')
          +budicon('icon-budicon-775')
          +budicon('icon-budicon-776')
          +budicon('icon-budicon-777')
          +budicon('icon-budicon-778')
          +budicon('icon-budicon-779')
          +budicon('icon-budicon-780')
          +budicon('icon-budicon-781')
          +budicon('icon-budicon-782')
          +budicon('icon-budicon-783')
          +budicon('icon-budicon-784')
          +budicon('icon-budicon-785')
          +budicon('icon-budicon-786')
          +budicon('icon-budicon-787')
          +budicon('icon-budicon-788')
          +budicon('icon-budicon-789')
          +budicon('icon-budicon-790')
          +budicon('icon-budicon-791')
          +budicon('icon-budicon-792')
          +budicon('icon-budicon-793')
          +budicon('icon-budicon-794')
          +budicon('icon-budicon-795')
          +budicon('icon-budicon-796')
          +budicon('icon-budicon-797')
          +budicon('icon-budicon-798')
          +budicon('icon-budicon-799')
          +budicon('icon-budicon-800')
          +budicon('icon-budicon-801')
          +budicon('icon-budicon-802')
          +budicon('icon-budicon-803')
          +budicon('icon-budicon-804')
          +budicon('icon-budicon-805')
          +budicon('icon-budicon-806')
          +budicon('icon-budicon-807')
          +budicon('icon-budicon-808')
          +budicon('icon-budicon-809')
          +budicon('icon-budicon-810')
          +budicon('icon-budicon-811')
          +budicon('icon-budicon-812')
          +budicon('icon-budicon-813')
          +budicon('icon-budicon-814')
          +budicon('icon-budicon-815')
          +budicon('icon-budicon-816')
          +budicon('icon-budicon-817')
          +budicon('icon-budicon-818')
          +budicon('icon-budicon-819')
          +budicon('icon-budicon-820')
          +budicon('icon-budicon-821')
          +budicon('icon-budicon-822')
          +budicon('icon-budicon-823')
          +budicon('icon-budicon-824')
          +budicon('icon-budicon-825')
          +budicon('icon-budicon-826')
          +budicon('icon-budicon-827')
          +budicon('icon-budicon-828')
          +budicon('icon-budicon-829')
          +budicon('icon-budicon-830')
          +budicon('icon-budicon-831')
          +budicon('icon-budicon-832')
          +budicon('icon-budicon-833')
          +budicon('icon-budicon-834')
          +budicon('icon-budicon-835')
          +budicon('icon-budicon-836')
          +budicon('icon-budicon-837')
          +budicon('icon-budicon-838')
          +budicon('icon-budicon-839')
          +budicon('icon-budicon-840')
          +budicon('icon-budicon-841')
          +budicon('icon-budicon-842')
          +budicon('icon-budicon-843')
          +budicon('icon-budicon-844')
          +budicon('icon-budicon-845')
          +budicon('icon-budicon-846')
          +budicon('icon-budicon-847')
          +budicon('icon-budicon-848')
          +budicon('icon-budicon-849')
