.banner
  .container.banner-container
    i.icon-budicon-754
    h1   An Enterprise-Grade Platform for Modern Identity
    p  A cloud service, APIs and tools that eliminate the friction of identity for your applications and APIs.
    p.call-to-action
    a.btn.btn-lg.btn-success(href='javascript:signup()') Create Free Account
    em No credit card required • No commitment

