@font-face
  font-family 'nitti-grotesk'
  src url('./lib/font/nitti-grotesk/nittigrotesk-normal-v20.eot')
  src url('./lib/font/nitti-grotesk/nittigrotesk-normal-v20.eot?#iefix') format('embedded-opentype'),
      url('./lib/font/nitti-grotesk/nittigrotesk-normal-v20.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'nitti-grotesk'
  src url('./lib/font/nitti-grotesk/nittigrotesk-normalitalic-v20.eot')
  src url('./lib/font/nitti-grotesk/nittigrotesk-normalitalic-v20.eot?#iefix') format('embedded-opentype'),
      url('./lib/font/nitti-grotesk/nittigrotesk-normalitalic-v20.woff') format('woff')
  font-weight normal
  font-style italic

@font-face
  font-family 'nitti-grotesk'
  src url('./lib/font/nitti-grotesk/nittigrotesk-medium-v20.eot')
  src url('./lib/font/nitti-grotesk/nittigrotesk-medium-v20.eot?#iefix') format('embedded-opentype'),
      url('./lib/font/nitti-grotesk/nittigrotesk-medium-v20.woff') format('woff')
  font-weight bold
  font-style normal
