//- Here we have two kind of notifications: Global and Non Global Notifications. For change the color of any notification just add a class to container ".notification". The notification container class can be ".frendly", ".atention" and "warning".


h5 Global Notifications

.global-notification.frendly
	.container
		i.notification-icon.icon-budicon-764
		p Frendly reminder! Something has happened.
		.btn.btn-primary.btn-md.pull-right BILLING

.global-notification.atention
	.container
		i.notification-icon.icon-budicon-354
		p Frendly reminder! Something has happened.
		i.close.icon-budicon-471

.global-notification.warning
	.container
		i.notification-icon.icon-budicon-115
		p Frendly reminder! Something has happened.
		i.close.icon-budicon-471

<br />


h5 Non Global Notifications

.notification.frendly
	i.notification-icon.icon-budicon-764
	p Frendly reminder! Something has happened.
	i.close.icon-budicon-471

.notification.atention
	i.notification-icon.icon-budicon-354
	p Atention! Something has happened.
	i.close.icon-budicon-471

.notification.warning
	i.notification-icon.icon-budicon-115
	p Warning! Something has happened.
	i.close.icon-budicon-471