/*==========  Popover  ==========*/
.popover
  background: #5D676F
  color: white;
  border-color: #5D676F;
  font-size: 12px;
  .popover-title
    background: none;
    color: white;
    border-color: rgba(255,255,255,.1)

  p
    margin: 0;
    a
      color: color_blue_light;
      font-weight: bold
      text-decoration: underline

  pre
    font-size: 12px !important;
  img 
    max-width: 100%;
  &.bottom>.arrow:after
    border-bottom-color: #5D676F;
   &.bottom>.arrow
    border-bottom-color: #5D676F
