doctype html5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Styleguide
    link(href='//fonts.googleapis.com/css?family=Roboto+Mono', rel='stylesheet')
    link(href='../index.css', rel='stylesheet')
    link(rel="shortcut icon", href="img/favicon.png")
    
  include ../templates/mixins/header
  
  body
    #stage
      .text-center
        +header('Stage', false, 'Change the hash to load a new Component from /lib')
          
        a.btn.btn-lg.btn-default(href="#header") eg. Load "header"
    
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js')
    script.
      $(window).on('hashchange', setStageContent);
      
      function setStageContent(e, component) {
        var component = component || window.location.hash.substring(1) || 'header';
        
        $.get('../landing/html/' + component + '/demo.html', function(contents) {
          $('#stage').html(contents);
          snippets();
        });
      }
      
      if(window.location.hash) {
        setStageContent();
      }
      
      function snippets() {
        hljs.configure({
          tabReplace: '  ', // 4 spaces
          classPrefix: ''   // don't append class prefix
        });
        hljs.initHighlighting();

        $('pre.hl code').each(function(i, block) {
          hljs.highlightBlock(block);
        });
      }
      
      
      
      
