

/*==========  Try Banner  ==========*/
.try-banner
  text-align: center
  background: #f9f9f9;
  margin: 80px 0;
  padding: 50px 20px 44px 20px;
  border-radius: 3px;
  span
    font-size: 30px;
    font-weight: 100;
    display: inline-block
  .btn
    margin-left: 20px;
    margin-top: -20px;
  .copy
    color: #666;
    margin-top: 30px;

@media screen and (max-width: 660px)
  .try-banner
    padding: 20px;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
    span
      display: block
      margin-bottom: 20px;
    .btn
      display: inline-block
      width: 100%;
      display: block
      white-space: normal;
      margin: 0;