table.table
  thead
    tr
      th(width='6%', data-column='picture')
      th(width='20%', data-column='name')
        | Name
        
      th(width='20%', data-column='email')
        | Email
        
      th(width='15%', data-column='lastLogin')
        | Latest Login
        
      th(width='15%', data-column='loginsCount')
        | # of Logins
        
      th(width='30%', data-column='connections')
        | Connection
        
  tbody
    tr
      td
        a(href='/#/users/YXV0aDB8NTcxMTJlYWZiZTI1ZDgxZDUyMzEzNzIx')
          img.img-circle(src='https://auth0.com/lib/about/img/jon.png', width='32')
      td.text-truncate(title='')
        | Jon Gelsey
      td.text-truncate(title='jon@auth0.com')
        | jon@auth0.com
      td 2 days ago
      td 0
      td.text-truncate Username-Password-Authentication
      
    tr
      td
        a(href='/#/users/YXV0aDB8NTcxMTJmOWViZTI1ZDgxZDUyMzEzNzIz')
          img.img-circle(src='https://www.gravatar.com/avatar/1329d9e3f4bc1d233788c89c04410bfe.png?size=200', width='32')
      td.text-truncate(title='')
        | Victor Fernandez
      td.text-truncate(title='victor@auth0.com')
        | victor@auth0.com
      td never
      td 0
      td.text-truncate Username-Password-Authentication
      
