footer.site-footer
  .container
    .logo
      img(src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.png", width="30")

    .footer-grid
      .column
        .item
          h6 Product
        .item
          a(href="/pricing") Pricing
        .item
          a(href="/why-auth0") Why Auth0
        .item
          a(href="/how-it-works") How It Works

      .column
        .item
          h6 Company
        .item
          a(href="/about") About Us
        .item
          a(href="/blog") Blog
        .item
          a(href="/jobs") Jobs

      .column
        .item
          h6 Security
        .item
          a(href="/availability-trust") Availability & Trust
        .item
          a(href="/security") Security
        .item
          a(href="/whitehat") White Hat

      .column
        .item
          h6 Learn
        .item
          a(href="/support") Help & Support
        .item
          a(href="https://auth0.com/docs") Documentation
        .item
          a(href="/opensource") Open Source


      .column
        .item
          h6 Extend
        .item
          a(href="/lock") Lock
        .item
          a(href="/wordpress") Wordpress
        .item
          a(href="https://auth0.com/docs/apiv2") API Explorer

      .contact
        .column
          .item
            h6 Contact
          .item
            a(href="mailto:support@auth0.com") Email Us
          .item.item-text
            | 10777 Main Street
            br
            | Suite 204
            br
            | Bellevue, WA   98004

        .column.no-heading
          .item.item-phone-label Company
          .item
            a(href="tel:+18882352699") +1 (888) 235-2699
            a(href="tel:+14253126521") +1 (425) 312-6521
          .item.item-phone-label Support
          .item
            a(href="tel:+14255599554") +1 (425) 559-9554

    .colophon
        .column
          .social
            .twitter
              iframe.twitter(allowtransparency="true", frameborder="0", scrolling="no", src="//platform.twitter.com/widgets/follow_button.html?screen_name=auth0")

            .facebook
              iframe.facebook(src='//www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fgetauth0&width&layout=button_count&action=like&show_faces=false&show_count=false&share=false&height=21&appId=507756515938786', scrolling='no', frameborder='0', allowtransparency='true')

        .column
          ul.list-inline.text-right
            li
              a(href="/privacy") Privacy Policy

            li
              a(href="/terms") Terms of Service

            li
              span &copy; 2013-2015 Auth0 Inc. All Rights Reserved.
