/*==========  Footer  ==========*/
footer.site-footer
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  padding: 20px 0;
  color: #999;
  nav 
    text-align: right
    float: right
    li 
      display: inline-block
      margin-left: 30px;
  a 
    color: #999;

  .col-md-11
    float: right