doctype html5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Styleguide
    link(href='index.css', rel='stylesheet')
    link(href='landing.css', rel='stylesheet')
    link(rel="shortcut icon", href="img/favicon.png")
    link(href="https://cdn.auth0.com/web-header/latest/standalone.css", rel='stylesheet')
    script(type='text/javascript', src='//cdn.auth0.com/web-header/latest/standalone.min.js')

  body

    .container-fluid

      .row
        
        // aside styleguide
        .col-md-3.col-aside

          aside.aside-styleguide(role='complementary')

            header
              h1: img(src='/landing/img/auth0-badge.svg', alt='', width='', height='')

            section
              nav.nav-styleguide
                ul.nav-styleguide-list
                  li: a(href='#') Getting started
                  li 
                    a(href='#') Design
                    .in
                      ul.nav-styleguide-in-list
                        li: a(href='#') Typography
                        li: a(href='#') Colors
                        li: a(href='#') Grid system
                        li: a(href='#') Something
                        li: a(href='#') Colors
                  li: a(href='#') Components
                  li: a(href='#') Resources

            footer
              span#styleguide-version
                | Version #{version}

        // main content styleguide
        .col-md-9.col-main-content.alt

          main.main-content-styleguide(role='main')

            section.jumbotron
              
              h2 
              h1 Components
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit quis risus eget urna mollis.

            section.content-styleguide

              section

                h2 Header
                p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.

                .playground

                  .playground-options
                    button.dark-option.is-active(name='', type='') Dark
                    button.light-option(name='', type='') Light

                  .playground-canvas

                  ul.playground-actions
                    li.is-active: a(href='#') Show code
                    li: a(href='#') Copy HTML
                    li: a(href='#') Copy Jade

              section

                h2 Footer
                p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.

                .playground

                  .playground-options
                    button.dark-option.is-active(name='', type='') Dark
                    button.light-option(name='', type='') Light

                  .playground-canvas

                  ul.playground-actions
                    li.is-active: a(href='#') Show code
                    li: a(href='#') Copy HTML
                    li: a(href='#') Copy Jade

    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")

    script(src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
