#design(data-group)

  +header('Design')

  section.content-styleguide
    include ../../lib/typography/typography

    section

      h2 Primary Colors
      p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.

      .row

        .col-xs-3
          .color.color-red
            span.color-info
              strong Color Red
              | #eb5424

        .col-xs-3
          .color.color-blue-light
            span.color-info
              strong Color Light Blue
              | #44c7f4

        .col-xs-3
          .color.color-blue
            span.color-info
              strong Color Blue
              | #16214d

        .col-xs-3
          .color.color-yellow
            span.color-info
              strong Color Yellow
              | #eaca2c

    section

      h2 Secondary Colors
      p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.

      .row

        .col-xs-3
          .color.color-orange
            span.color-info
              strong Color Orange
              | #ff9a57

        .col-xs-3
          .color.color-oil
            span.color-info
              strong Color Oil
              | #5c666f

        .col-xs-3
          .color.color-green
            span.color-info
              strong Color Green
              | #01b48f

        .col-xs-3
          .color.color-grey
            span.color-info
              strong Color Grey
              | #d0d2d3

        .col-xs-3
          .color.color-pink
            span.color-info
              strong Color Pink
              | #c879b2

    section

      h2 Background Colors
      p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.

      .row

        .col-xs-3
          .color.bg-color-blue-dark
            span.color-info
              strong Color Dark Blue
              | #222228

        .col-xs-3
          .color.bg-color-oil
            span.color-info
              strong Color Oil
              | #5c666f

        .col-xs-3
          .color.bg-color-grey
            span.color-info
              strong Color Grey Alt
              | #e3e5e7

        .col-xs-3
          .color.bg-color-grey-light
            span.color-info
              strong Color Grey Light
              | #f5f7f9

    section

      h2 Color hues
      p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.

      .row

        .col-xs-4
          ul.hue-palette.color-red
            li
              | &nbsp;
              span.hex
            li
              | &nbsp;
              span.hex
            li
              | &nbsp;
              span.hex
            li
              span.hex #eb5424
              strong Color Red
            li
              | &nbsp;
              span.hex
            li
              | &nbsp;
              span.hex
            li
              | &nbsp;
              span.hex

        .col-xs-4
          ul.hue-palette.color-blue-light
            li
              &nbsp; 
              span.hex
            li
              | &nbsp;
              span.hex
            li
              | &nbsp;
              span.hex
            li
              span.hex #44c7f4
              strong Color Blue Light
            li
              | &nbsp;
              span.hex
            li
              | &nbsp;
              span.hex
            li
              | &nbsp;
              span.hex
          
        .col-xs-4
          ul.hue-palette.color-blue
            li
              | &nbsp;
              span.hex
            li
              | &nbsp;
              span.hex
            li
              | &nbsp;
              span.hex
            li
              span.hex #16214d
              strong Color Blue
            li
              | &nbsp;
              span.hex
            li
              | &nbsp;
              span.hex
            li
              | &nbsp;
              span.hex
                
