#getting-started(data-group)
  +header('Getting Started')
    
  section.content-styleguide

    h2 Why Styleguide?
    p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.
    pre.prettyprint &lt;link href=&quot;https://cdn.auth0.com/styleguide/latest/index.css&quot; rel=&quot;stylesheet&quot; /&gt;

    br

    h2 From CDN
    p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
    pre.prettyprint npm install styleguide

    br

    h2 Installing from Github
    p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
