aside.aside-styleguide(role='complementary')

  header
    h1: img(src='/landing/img/auth0-badge.svg', alt='', width='', height='')

  section
    nav.nav-styleguide
      ul
        li: a(href='#') Getting started
        li: a(href='#') Design
        li: a(href='#') Components
        li: a(href='#') Resources

  footer
    span#styleguide-version
      | Version #{version}
