aside.aside-styleguide(role='complementary')

  header
    h1: img(src='/landing/img/auth0-badge.svg', alt='', width='', height='')

  section
    nav
      ul
        li: a(href='#') Getting started
        li 
          a(href='#') Design
          .in
            ul
              li: a(href='#') Typography
              li: a(href='#') Colors
              li: a(href='#') Grid system
              li: a(href='#') Something
              li: a(href='#') Colors
        li: a(href='#') Components
        li: a(href='#') Resources

  footer
    span#styleguide-version
      | #{version}
