// CDN fallback helper.
//
// Use: Create a div with an ID called "auth0-styleguide-components-cdn-fallback" and check if the display is none.
#auth0-styleguide-components-cdn-fallback
  display none
