.playground
  iframe
    width: 100%;
    border 0

.playground-options
  margin-bottom: 20px;
  overflow: hidden;

  button
    background-color: #fff;
    border: 0;
    color: #9b9b9b;
    font-size: 12px;
    float: left;
    line-height: normal;
    text-align: center
    width: 100px;
    height: 30px;

    &.is-active
      background-color: #44c7f4;
      color: #fff;


  .dark-option
    border-radius: 3px 0 0 3px;

  .light-option
    border-radius: 0 3px 3px 0;

.playground-canvas
  background-color: #fff;
  border-radius: 3px;
  padding 10px 20px
  overflow hidden;
  margin-bottom: 14px

.playground-code
  overflow: hidden;
  border-radius: 3px;
  margin-bottom: 14px

.playground-actions
  color: #666666;
  font-size: 12px;
  line-height: normal;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;

  li
    float: left;

  a
    color: inherit;
    padding: 0 40px 0 40px

  li:first-child a
    padding-left: 0;

  li.is-active a
    color: #31afda;
