.playground
  margin-bottom: padding-vertical-large * 2

.playground-options
  margin-bottom: ceil(padding-vertical / 2);
  overflow: hidden;

  button
    background-color: #fff;
    border: 0;
    color: #9b9b9b;
    font-size: 12px;
    float: left;
    line-height: normal;
    text-align: center
    width: 100px;
    height: 30px;

    &.is-active
      background-color: #44c7f4;
      color: #fff;


  .dark-option
    border-radius: 3px 0 0 3px;

  .light-option
    border-radius: 0 3px 3px 0;

.playground-canvas
  background-color: #fff;
  border-radius: 3px;
  padding 20px
  overflow hidden;
  margin-bottom: 14px;

  .theme-dark &
    background: $bg-color-dark;
    position: relative;

.playground-code
  overflow: hidden;
  border-radius: 3px;
  margin-bottom: 14px

.playground-actions
  color: #666666;
  font-size: $font-size-small;
  font-weight: $font-weight-bold
  line-height: normal;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;

  [class*="icon-budicon"]
    position: relative;
    margin-right: 10px;
    top: 2px;

  li
    float: left;

    &.active a
      color: $color-text-black;
      font-weight: $font-weight-bold;

  a
    color: color-text-light;
    padding: 0 20px 0 20px

  li:first-child a
    padding-left: 0;

  li.is-active a
    color: #31afda;

.glyphs.css-mapping li
  background: lighten($color-gray, 40%)
  width: 200px
  border-radius: 3px
  padding: 10px

  .name
    color: $color-text-black

#modal-component,
#ui-switch-component
  padding: 40px;

  > * + *
    margin-left: 20px;
