.playground
  margin-bottom: padding-vertical-large

.playground-options
  margin-bottom: ceil(padding-vertical / 2);
  overflow: hidden;

  button
    background-color: #fff;
    border: 0;
    color: #9b9b9b;
    font-size: 12px;
    float: left;
    line-height: normal;
    text-align: center
    width: 100px;
    height: 30px;

    &.is-active
      background-color: #44c7f4;
      color: #fff;


  .dark-option
    border-radius: 3px 0 0 3px;

  .light-option
    border-radius: 0 3px 3px 0;

.playground-canvas
  background-color: #fff;
  border-radius: 3px;
  padding 10px 20px
  overflow hidden;
  margin-bottom: 14px;

  .theme-dark &
    background: bg-color-blue-dark;
    position: relative;

.playground-code
  overflow: hidden;
  border-radius: 3px;
  margin-bottom: 14px

.playground-actions
  color: #666666;
  font-size: font-size-small;
  font-weight: font-weight-bold
  line-height: normal;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;

  li
    float: left;

    &.active a
      color: color-text-black;
      font-weight: font-weight-bold;

  a
    color: color-text-light;
    padding: 0 40px 0 40px

  li:first-child a
    padding-left: 0;

  li.is-active a
    color: #31afda;

#modal-component,
#ui-switch-component
  padding: 40px;

  > * + *
    margin-left: 20px;
