.react-playground
  background-color white
  margin 30px 0 14px 0
  box-shadow 0 0 20px rgba(0,0,0,0.1)

  .CodeMirror
    height 200px

  .CodeMirror-scroll
    padding 15px 20px

  .playgroundPreview
    padding 30px
