script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.11.0/codemirror.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.11.0/mode/javascript/javascript.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.11.0/mode/jade/jade.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.11.0/mode/xml/xml.js")
script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js")

script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js")
script(src="//cdn.rawgit.com/vctrfrnndz/jquery-accordion/master/js/jquery.accordion.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js")
script(src="landing/js/vendor/iframify.js")
script(src="styleguide.js")
script(src="landing/js/index.js")

