//
// Typography
//
font-sans-serif = "avenir-next-web", "Avenir Next", "Helvetica Neue", Hevetica, sans-serif
font-serif = "ff-tisa-web-pro", Georgia, 'Times New Roman', Times, serif // Must be included via Typekit
font-monospace = "Roboto Mono", Menlo, Monaco, Consolas, 'Courier New', monospace // Must be included via Google Fonts

font-size-base = 14px
font-size = font-size-base
font-size-large = 16px
font-size-small = 13px

font-size-h1 = 3rem
font-size-h2 = 2rem
font-size-h3 = 1.5rem
font-size-h4 = 1.3rem
font-size-h5 = font-size-base

font-weight-light = 300
font-weight-normal = 400
font-weight-bold = 600

line-height = 1.728571429
line-height-titles = line-height / 1.5

//
// Spacing
//
padding-vertical = 40px
padding-horizontal = 20px

padding-vertical-large = padding-vertical * 2
padding-horizontal-large = padding-horizontal * 2

padding-vertical-small = padding-vertical / 2
padding-horizontal-small = padding-horizontal

border-radius = 3px
border-radius-large = 6px

//
// Responsive
//
breakpoint-mobile = 320px
breakpoint-mobile-landscape = 568px
breakpoint-tablet = 768px
breakpoint-desktop = 992px
breakpoint-desktop-hd = 1200px

//
// Text colors
//
color-text-black = rgba(#000, .86)
color-text-white = white

color-text = rgba(#000, .86)
color-text-light = rgba(#000, .54)
color-text-lighter = rgba(#000, .26)

color-text-contrast = color-text-white
color-text-contrast-light = rgba(white, .70)
color-text-contrast-lighter = rgba(white, .30)

color-line-gray = #d0d2d3
color-line-contrast = rgba(white, .20)

//
// Primary Brand Colors
//
color-blue = #16214d
color-red = #eb5424
color-gray = #d0d2d3
color-blue = #16214d
color-blue-light = #44c7f4
color-blue-medium = #0A86B1

//
// Secondary Colors
//
color-orange = #ff9a57
color-yellow = #eaca2c
color-oil = #5c666f
color-green = #01b48f
color-pink = #c879b2
color-green = #01b48f

//
// Background Colors
//
bg-color-dark = #15181D
bg-color-blue-dark = #222228
bg-color-gray = #e3e5e7
bg-color-gray-light = #f5f7f9
