// Colors

color_blue = #16214d;
color_blue_light = #44c7f4;
color_red = #eb5424;
color_grey = #d0d2d3;

color_orange = #ff9a57;
color_yellow = #eaca2c;
color_oil = #5c666f;
color_green = #01b48f;
color_pink = #c879b2;

developers_color = #4E7AC7;
developers_button_color = #94c231;
enterprise_color = #374140;
enterprise_button_color = #DC3522;
sharedpoint_color = #0274c1
sharepoint_button_color = #02a85b;

rules_color = #e3ae59;
databases_color = #684ec7;
widget_color = #684ec7;
reports_color = #4ec75c;
ad_connector_color = #0274c1;
user_management_color = #e39259;

// color_green = #4fcb1f;
// color_yellow = darken(#ffdb47, 20%);
color_red_alt = red;


.color
  // height: 200px;
  background: red;
  border-radius: 3px;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  padding-top: 100px;

  span
    font-size: 16px;
    display: block
    margin-bottom: 10px;

  strong
    display: block
    text-transform: uppercase

  &.color-blue
    background: color_blue;

  &.color-blue-light
    background: color_blue_light;

  &.color-red
    background: color_red;

  &.color-grey
    background: color_grey;
    color: #000;


  &.color-orange
    background: color_orange;
    color: #000;


  &.color-orange
    background: color_orange;
    color: #000;

  &.color-green
    background: color_green;
    color: #000;

  &.color-oil
    background: color_oil;


  &.color-yellow
    background: color_yellow;
    color: #000;
