// Colors

// Primary Colors
color_blue = #16214d;
color_blue_light = #44c7f4;
color_red = #eb5424;
color_grey = #d0d2d3;

$color-red = #eb5424;
$color-blue = #16214d;
$color-blue-light = #44c7f4;
$color-yellow = #eaca2c;

// Secondary Colors
color_orange = #ff9a57;
color_yellow = #eaca2c;
color_oil = #5c666f;
color_green = #01b48f;
color_pink = #c879b2;

$color-orange = #ff9a57;
$color-oil = #5c666f;
$color-green = #01b48f;
$color-grey = #d0d2d3;
$color-pink = #c879b2;

// Background Colors
$bg-color-blue-dark = #222228;
$bg-color-oil = #5c666f;
$bg-color-grey = #e3e5e7;
$bg-color-grey-light = #f5f7f9;

// Color Hues

developers_color = #4E7AC7;
developers_button_color = #94c231;
enterprise_color = #374140;
enterprise_button_color = #DC3522;
sharedpoint_color = #0274c1
sharepoint_button_color = #02a85b;

rules_color = #e3ae59;
databases_color = #684ec7;
widget_color = #684ec7;
reports_color = #4ec75c;
ad_connector_color = #0274c1;
user_management_color = #e39259;

// color_green = #4fcb1f;
// color_yellow = darken(#ffdb47, 20%);
color_red_alt = red;
