ul.glyphs.css-mapping
  li
    .icon.icon-budicon
    input(type='text', readonly='readonly', value='budicon')
  li
    .icon.icon-budicon-1
    input(type='text', readonly='readonly', value='budicon-1')
  li
    .icon.icon-budicon-2
    input(type='text', readonly='readonly', value='budicon-2')
  li
    .icon.icon-budicon-3
    input(type='text', readonly='readonly', value='budicon-3')
  li
    .icon.icon-budicon-4
    input(type='text', readonly='readonly', value='budicon-4')
  li
    .icon.icon-budicon-5
    input(type='text', readonly='readonly', value='budicon-5')
  li
    .icon.icon-budicon-6
    input(type='text', readonly='readonly', value='budicon-6')
  li
    .icon.icon-budicon-7
    input(type='text', readonly='readonly', value='budicon-7')
  li
    .icon.icon-budicon-8
    input(type='text', readonly='readonly', value='budicon-8')
  li
    .icon.icon-budicon-9
    input(type='text', readonly='readonly', value='budicon-9')
  li
    .icon.icon-budicon-10
    input(type='text', readonly='readonly', value='budicon-10')
  li
    .icon.icon-budicon-11
    input(type='text', readonly='readonly', value='budicon-11')
  li
    .icon.icon-budicon-12
    input(type='text', readonly='readonly', value='budicon-12')
  li
    .icon.icon-budicon-13
    input(type='text', readonly='readonly', value='budicon-13')
  li
    .icon.icon-budicon-14
    input(type='text', readonly='readonly', value='budicon-14')
  li
    .icon.icon-budicon-15
    input(type='text', readonly='readonly', value='budicon-15')
  li
    .icon.icon-budicon-16
    input(type='text', readonly='readonly', value='budicon-16')
  li
    .icon.icon-budicon-17
    input(type='text', readonly='readonly', value='budicon-17')
  li
    .icon.icon-budicon-18
    input(type='text', readonly='readonly', value='budicon-18')
  li
    .icon.icon-budicon-19
    input(type='text', readonly='readonly', value='budicon-19')
  li
    .icon.icon-budicon-20
    input(type='text', readonly='readonly', value='budicon-20')
  li
    .icon.icon-budicon-21
    input(type='text', readonly='readonly', value='budicon-21')
  li
    .icon.icon-budicon-22
    input(type='text', readonly='readonly', value='budicon-22')
  li
    .icon.icon-budicon-23
    input(type='text', readonly='readonly', value='budicon-23')
  li
    .icon.icon-budicon-24
    input(type='text', readonly='readonly', value='budicon-24')
  li
    .icon.icon-budicon-25
    input(type='text', readonly='readonly', value='budicon-25')
  li
    .icon.icon-budicon-26
    input(type='text', readonly='readonly', value='budicon-26')
  li
    .icon.icon-budicon-27
    input(type='text', readonly='readonly', value='budicon-27')
  li
    .icon.icon-budicon-28
    input(type='text', readonly='readonly', value='budicon-28')
  li
    .icon.icon-budicon-29
    input(type='text', readonly='readonly', value='budicon-29')
  li
    .icon.icon-budicon-30
    input(type='text', readonly='readonly', value='budicon-30')
  li
    .icon.icon-budicon-31
    input(type='text', readonly='readonly', value='budicon-31')
  li
    .icon.icon-budicon-32
    input(type='text', readonly='readonly', value='budicon-32')
  li
    .icon.icon-budicon-33
    input(type='text', readonly='readonly', value='budicon-33')
  li
    .icon.icon-budicon-34
    input(type='text', readonly='readonly', value='budicon-34')
  li
    .icon.icon-budicon-35
    input(type='text', readonly='readonly', value='budicon-35')
  li
    .icon.icon-budicon-36
    input(type='text', readonly='readonly', value='budicon-36')
  li
    .icon.icon-budicon-37
    input(type='text', readonly='readonly', value='budicon-37')
  li
    .icon.icon-budicon-38
    input(type='text', readonly='readonly', value='budicon-38')
  li
    .icon.icon-budicon-39
    input(type='text', readonly='readonly', value='budicon-39')
  li
    .icon.icon-budicon-40
    input(type='text', readonly='readonly', value='budicon-40')
  li
    .icon.icon-budicon-41
    input(type='text', readonly='readonly', value='budicon-41')
  li
    .icon.icon-budicon-42
    input(type='text', readonly='readonly', value='budicon-42')
  li
    .icon.icon-budicon-43
    input(type='text', readonly='readonly', value='budicon-43')
  li
    .icon.icon-budicon-44
    input(type='text', readonly='readonly', value='budicon-44')
  li
    .icon.icon-budicon-45
    input(type='text', readonly='readonly', value='budicon-45')
  li
    .icon.icon-budicon-46
    input(type='text', readonly='readonly', value='budicon-46')
  li
    .icon.icon-budicon-47
    input(type='text', readonly='readonly', value='budicon-47')
  li
    .icon.icon-budicon-48
    input(type='text', readonly='readonly', value='budicon-48')
  li
    .icon.icon-budicon-49
    input(type='text', readonly='readonly', value='budicon-49')
  li
    .icon.icon-budicon-50
    input(type='text', readonly='readonly', value='budicon-50')
  li
    .icon.icon-budicon-51
    input(type='text', readonly='readonly', value='budicon-51')
  li
    .icon.icon-budicon-52
    input(type='text', readonly='readonly', value='budicon-52')
  li
    .icon.icon-budicon-53
    input(type='text', readonly='readonly', value='budicon-53')
  li
    .icon.icon-budicon-54
    input(type='text', readonly='readonly', value='budicon-54')
  li
    .icon.icon-budicon-55
    input(type='text', readonly='readonly', value='budicon-55')
  li
    .icon.icon-budicon-56
    input(type='text', readonly='readonly', value='budicon-56')
  li
    .icon.icon-budicon-57
    input(type='text', readonly='readonly', value='budicon-57')
  li
    .icon.icon-budicon-58
    input(type='text', readonly='readonly', value='budicon-58')
  li
    .icon.icon-budicon-59
    input(type='text', readonly='readonly', value='budicon-59')
  li
    .icon.icon-budicon-60
    input(type='text', readonly='readonly', value='budicon-60')
  li
    .icon.icon-budicon-61
    input(type='text', readonly='readonly', value='budicon-61')
  li
    .icon.icon-budicon-62
    input(type='text', readonly='readonly', value='budicon-62')
  li
    .icon.icon-budicon-63
    input(type='text', readonly='readonly', value='budicon-63')
  li
    .icon.icon-budicon-64
    input(type='text', readonly='readonly', value='budicon-64')
  li
    .icon.icon-budicon-65
    input(type='text', readonly='readonly', value='budicon-65')
  li
    .icon.icon-budicon-66
    input(type='text', readonly='readonly', value='budicon-66')
  li
    .icon.icon-budicon-67
    input(type='text', readonly='readonly', value='budicon-67')
  li
    .icon.icon-budicon-68
    input(type='text', readonly='readonly', value='budicon-68')
  li
    .icon.icon-budicon-69
    input(type='text', readonly='readonly', value='budicon-69')
  li
    .icon.icon-budicon-70
    input(type='text', readonly='readonly', value='budicon-70')
  li
    .icon.icon-budicon-71
    input(type='text', readonly='readonly', value='budicon-71')
  li
    .icon.icon-budicon-72
    input(type='text', readonly='readonly', value='budicon-72')
  li
    .icon.icon-budicon-73
    input(type='text', readonly='readonly', value='budicon-73')
  li
    .icon.icon-budicon-74
    input(type='text', readonly='readonly', value='budicon-74')
  li
    .icon.icon-budicon-75
    input(type='text', readonly='readonly', value='budicon-75')
  li
    .icon.icon-budicon-76
    input(type='text', readonly='readonly', value='budicon-76')
  li
    .icon.icon-budicon-77
    input(type='text', readonly='readonly', value='budicon-77')
  li
    .icon.icon-budicon-78
    input(type='text', readonly='readonly', value='budicon-78')
  li
    .icon.icon-budicon-79
    input(type='text', readonly='readonly', value='budicon-79')
  li
    .icon.icon-budicon-80
    input(type='text', readonly='readonly', value='budicon-80')
  li
    .icon.icon-budicon-81
    input(type='text', readonly='readonly', value='budicon-81')
  li
    .icon.icon-budicon-82
    input(type='text', readonly='readonly', value='budicon-82')
  li
    .icon.icon-budicon-83
    input(type='text', readonly='readonly', value='budicon-83')
  li
    .icon.icon-budicon-84
    input(type='text', readonly='readonly', value='budicon-84')
  li
    .icon.icon-budicon-85
    input(type='text', readonly='readonly', value='budicon-85')
  li
    .icon.icon-budicon-86
    input(type='text', readonly='readonly', value='budicon-86')
  li
    .icon.icon-budicon-87
    input(type='text', readonly='readonly', value='budicon-87')
  li
    .icon.icon-budicon-88
    input(type='text', readonly='readonly', value='budicon-88')
  li
    .icon.icon-budicon-89
    input(type='text', readonly='readonly', value='budicon-89')
  li
    .icon.icon-budicon-90
    input(type='text', readonly='readonly', value='budicon-90')
  li
    .icon.icon-budicon-91
    input(type='text', readonly='readonly', value='budicon-91')
  li
    .icon.icon-budicon-92
    input(type='text', readonly='readonly', value='budicon-92')
  li
    .icon.icon-budicon-93
    input(type='text', readonly='readonly', value='budicon-93')
  li
    .icon.icon-budicon-94
    input(type='text', readonly='readonly', value='budicon-94')
  li
    .icon.icon-budicon-95
    input(type='text', readonly='readonly', value='budicon-95')
  li
    .icon.icon-budicon-96
    input(type='text', readonly='readonly', value='budicon-96')
  li
    .icon.icon-budicon-97
    input(type='text', readonly='readonly', value='budicon-97')
  li
    .icon.icon-budicon-98
    input(type='text', readonly='readonly', value='budicon-98')
  li
    .icon.icon-budicon-99
    input(type='text', readonly='readonly', value='budicon-99')
  li
    .icon.icon-budicon-100
    input(type='text', readonly='readonly', value='budicon-100')
  li
    .icon.icon-budicon-101
    input(type='text', readonly='readonly', value='budicon-101')
  li
    .icon.icon-budicon-102
    input(type='text', readonly='readonly', value='budicon-102')
  li
    .icon.icon-budicon-103
    input(type='text', readonly='readonly', value='budicon-103')
  li
    .icon.icon-budicon-104
    input(type='text', readonly='readonly', value='budicon-104')
  li
    .icon.icon-budicon-105
    input(type='text', readonly='readonly', value='budicon-105')
  li
    .icon.icon-budicon-106
    input(type='text', readonly='readonly', value='budicon-106')
  li
    .icon.icon-budicon-107
    input(type='text', readonly='readonly', value='budicon-107')
  li
    .icon.icon-budicon-108
    input(type='text', readonly='readonly', value='budicon-108')
  li
    .icon.icon-budicon-109
    input(type='text', readonly='readonly', value='budicon-109')
  li
    .icon.icon-budicon-110
    input(type='text', readonly='readonly', value='budicon-110')
  li
    .icon.icon-budicon-111
    input(type='text', readonly='readonly', value='budicon-111')
  li
    .icon.icon-budicon-112
    input(type='text', readonly='readonly', value='budicon-112')
  li
    .icon.icon-budicon-113
    input(type='text', readonly='readonly', value='budicon-113')
  li
    .icon.icon-budicon-114
    input(type='text', readonly='readonly', value='budicon-114')
  li
    .icon.icon-budicon-115
    input(type='text', readonly='readonly', value='budicon-115')
  li
    .icon.icon-budicon-116
    input(type='text', readonly='readonly', value='budicon-116')
  li
    .icon.icon-budicon-117
    input(type='text', readonly='readonly', value='budicon-117')
  li
    .icon.icon-budicon-118
    input(type='text', readonly='readonly', value='budicon-118')
  li
    .icon.icon-budicon-119
    input(type='text', readonly='readonly', value='budicon-119')
  li
    .icon.icon-budicon-120
    input(type='text', readonly='readonly', value='budicon-120')
  li
    .icon.icon-budicon-121
    input(type='text', readonly='readonly', value='budicon-121')
  li
    .icon.icon-budicon-122
    input(type='text', readonly='readonly', value='budicon-122')
  li
    .icon.icon-budicon-123
    input(type='text', readonly='readonly', value='budicon-123')
  li
    .icon.icon-budicon-124
    input(type='text', readonly='readonly', value='budicon-124')
  li
    .icon.icon-budicon-125
    input(type='text', readonly='readonly', value='budicon-125')
  li
    .icon.icon-budicon-126
    input(type='text', readonly='readonly', value='budicon-126')
  li
    .icon.icon-budicon-127
    input(type='text', readonly='readonly', value='budicon-127')
  li
    .icon.icon-budicon-128
    input(type='text', readonly='readonly', value='budicon-128')
  li
    .icon.icon-budicon-129
    input(type='text', readonly='readonly', value='budicon-129')
  li
    .icon.icon-budicon-130
    input(type='text', readonly='readonly', value='budicon-130')
  li
    .icon.icon-budicon-131
    input(type='text', readonly='readonly', value='budicon-131')
  li
    .icon.icon-budicon-132
    input(type='text', readonly='readonly', value='budicon-132')
  li
    .icon.icon-budicon-133
    input(type='text', readonly='readonly', value='budicon-133')
  li
    .icon.icon-budicon-134
    input(type='text', readonly='readonly', value='budicon-134')
  li
    .icon.icon-budicon-135
    input(type='text', readonly='readonly', value='budicon-135')
  li
    .icon.icon-budicon-136
    input(type='text', readonly='readonly', value='budicon-136')
  li
    .icon.icon-budicon-137
    input(type='text', readonly='readonly', value='budicon-137')
  li
    .icon.icon-budicon-138
    input(type='text', readonly='readonly', value='budicon-138')
  li
    .icon.icon-budicon-139
    input(type='text', readonly='readonly', value='budicon-139')
  li
    .icon.icon-budicon-140
    input(type='text', readonly='readonly', value='budicon-140')
  li
    .icon.icon-budicon-141
    input(type='text', readonly='readonly', value='budicon-141')
  li
    .icon.icon-budicon-142
    input(type='text', readonly='readonly', value='budicon-142')
  li
    .icon.icon-budicon-143
    input(type='text', readonly='readonly', value='budicon-143')
  li
    .icon.icon-budicon-144
    input(type='text', readonly='readonly', value='budicon-144')
  li
    .icon.icon-budicon-145
    input(type='text', readonly='readonly', value='budicon-145')
  li
    .icon.icon-budicon-146
    input(type='text', readonly='readonly', value='budicon-146')
  li
    .icon.icon-budicon-147
    input(type='text', readonly='readonly', value='budicon-147')
  li
    .icon.icon-budicon-148
    input(type='text', readonly='readonly', value='budicon-148')
  li
    .icon.icon-budicon-149
    input(type='text', readonly='readonly', value='budicon-149')
  li
    .icon.icon-budicon-150
    input(type='text', readonly='readonly', value='budicon-150')
  li
    .icon.icon-budicon-151
    input(type='text', readonly='readonly', value='budicon-151')
  li
    .icon.icon-budicon-152
    input(type='text', readonly='readonly', value='budicon-152')
  li
    .icon.icon-budicon-153
    input(type='text', readonly='readonly', value='budicon-153')
  li
    .icon.icon-budicon-154
    input(type='text', readonly='readonly', value='budicon-154')
  li
    .icon.icon-budicon-155
    input(type='text', readonly='readonly', value='budicon-155')
  li
    .icon.icon-budicon-156
    input(type='text', readonly='readonly', value='budicon-156')
  li
    .icon.icon-budicon-157
    input(type='text', readonly='readonly', value='budicon-157')
  li
    .icon.icon-budicon-158
    input(type='text', readonly='readonly', value='budicon-158')
  li
    .icon.icon-budicon-159
    input(type='text', readonly='readonly', value='budicon-159')
  li
    .icon.icon-budicon-160
    input(type='text', readonly='readonly', value='budicon-160')
  li
    .icon.icon-budicon-161
    input(type='text', readonly='readonly', value='budicon-161')
  li
    .icon.icon-budicon-162
    input(type='text', readonly='readonly', value='budicon-162')
  li
    .icon.icon-budicon-163
    input(type='text', readonly='readonly', value='budicon-163')
  li
    .icon.icon-budicon-164
    input(type='text', readonly='readonly', value='budicon-164')
  li
    .icon.icon-budicon-165
    input(type='text', readonly='readonly', value='budicon-165')
  li
    .icon.icon-budicon-166
    input(type='text', readonly='readonly', value='budicon-166')
  li
    .icon.icon-budicon-167
    input(type='text', readonly='readonly', value='budicon-167')
  li
    .icon.icon-budicon-168
    input(type='text', readonly='readonly', value='budicon-168')
  li
    .icon.icon-budicon-169
    input(type='text', readonly='readonly', value='budicon-169')
  li
    .icon.icon-budicon-170
    input(type='text', readonly='readonly', value='budicon-170')
  li
    .icon.icon-budicon-171
    input(type='text', readonly='readonly', value='budicon-171')
  li
    .icon.icon-budicon-172
    input(type='text', readonly='readonly', value='budicon-172')
  li
    .icon.icon-budicon-173
    input(type='text', readonly='readonly', value='budicon-173')
  li
    .icon.icon-budicon-174
    input(type='text', readonly='readonly', value='budicon-174')
  li
    .icon.icon-budicon-175
    input(type='text', readonly='readonly', value='budicon-175')
  li
    .icon.icon-budicon-176
    input(type='text', readonly='readonly', value='budicon-176')
  li
    .icon.icon-budicon-177
    input(type='text', readonly='readonly', value='budicon-177')
  li
    .icon.icon-budicon-178
    input(type='text', readonly='readonly', value='budicon-178')
  li
    .icon.icon-budicon-179
    input(type='text', readonly='readonly', value='budicon-179')
  li
    .icon.icon-budicon-180
    input(type='text', readonly='readonly', value='budicon-180')
  li
    .icon.icon-budicon-181
    input(type='text', readonly='readonly', value='budicon-181')
  li
    .icon.icon-budicon-182
    input(type='text', readonly='readonly', value='budicon-182')
  li
    .icon.icon-budicon-183
    input(type='text', readonly='readonly', value='budicon-183')
  li
    .icon.icon-budicon-184
    input(type='text', readonly='readonly', value='budicon-184')
  li
    .icon.icon-budicon-185
    input(type='text', readonly='readonly', value='budicon-185')
  li
    .icon.icon-budicon-186
    input(type='text', readonly='readonly', value='budicon-186')
  li
    .icon.icon-budicon-187
    input(type='text', readonly='readonly', value='budicon-187')
  li
    .icon.icon-budicon-188
    input(type='text', readonly='readonly', value='budicon-188')
  li
    .icon.icon-budicon-189
    input(type='text', readonly='readonly', value='budicon-189')
  li
    .icon.icon-budicon-190
    input(type='text', readonly='readonly', value='budicon-190')
  li
    .icon.icon-budicon-191
    input(type='text', readonly='readonly', value='budicon-191')
  li
    .icon.icon-budicon-192
    input(type='text', readonly='readonly', value='budicon-192')
  li
    .icon.icon-budicon-193
    input(type='text', readonly='readonly', value='budicon-193')
  li
    .icon.icon-budicon-194
    input(type='text', readonly='readonly', value='budicon-194')
  li
    .icon.icon-budicon-195
    input(type='text', readonly='readonly', value='budicon-195')
  li
    .icon.icon-budicon-196
    input(type='text', readonly='readonly', value='budicon-196')
  li
    .icon.icon-budicon-197
    input(type='text', readonly='readonly', value='budicon-197')
  li
    .icon.icon-budicon-198
    input(type='text', readonly='readonly', value='budicon-198')
  li
    .icon.icon-budicon-199
    input(type='text', readonly='readonly', value='budicon-199')
  li
    .icon.icon-budicon-200
    input(type='text', readonly='readonly', value='budicon-200')
  li
    .icon.icon-budicon-201
    input(type='text', readonly='readonly', value='budicon-201')
  li
    .icon.icon-budicon-202
    input(type='text', readonly='readonly', value='budicon-202')
  li
    .icon.icon-budicon-203
    input(type='text', readonly='readonly', value='budicon-203')
  li
    .icon.icon-budicon-204
    input(type='text', readonly='readonly', value='budicon-204')
  li
    .icon.icon-budicon-205
    input(type='text', readonly='readonly', value='budicon-205')
  li
    .icon.icon-budicon-206
    input(type='text', readonly='readonly', value='budicon-206')
  li
    .icon.icon-budicon-207
    input(type='text', readonly='readonly', value='budicon-207')
  li
    .icon.icon-budicon-208
    input(type='text', readonly='readonly', value='budicon-208')
  li
    .icon.icon-budicon-209
    input(type='text', readonly='readonly', value='budicon-209')
  li
    .icon.icon-budicon-210
    input(type='text', readonly='readonly', value='budicon-210')
  li
    .icon.icon-budicon-211
    input(type='text', readonly='readonly', value='budicon-211')
  li
    .icon.icon-budicon-212
    input(type='text', readonly='readonly', value='budicon-212')
  li
    .icon.icon-budicon-213
    input(type='text', readonly='readonly', value='budicon-213')
  li
    .icon.icon-budicon-214
    input(type='text', readonly='readonly', value='budicon-214')
  li
    .icon.icon-budicon-215
    input(type='text', readonly='readonly', value='budicon-215')
  li
    .icon.icon-budicon-216
    input(type='text', readonly='readonly', value='budicon-216')
  li
    .icon.icon-budicon-217
    input(type='text', readonly='readonly', value='budicon-217')
  li
    .icon.icon-budicon-218
    input(type='text', readonly='readonly', value='budicon-218')
  li
    .icon.icon-budicon-219
    input(type='text', readonly='readonly', value='budicon-219')
  li
    .icon.icon-budicon-220
    input(type='text', readonly='readonly', value='budicon-220')
  li
    .icon.icon-budicon-221
    input(type='text', readonly='readonly', value='budicon-221')
  li
    .icon.icon-budicon-222
    input(type='text', readonly='readonly', value='budicon-222')
  li
    .icon.icon-budicon-223
    input(type='text', readonly='readonly', value='budicon-223')
  li
    .icon.icon-budicon-224
    input(type='text', readonly='readonly', value='budicon-224')
  li
    .icon.icon-budicon-225
    input(type='text', readonly='readonly', value='budicon-225')
  li
    .icon.icon-budicon-226
    input(type='text', readonly='readonly', value='budicon-226')
  li
    .icon.icon-budicon-227
    input(type='text', readonly='readonly', value='budicon-227')
  li
    .icon.icon-budicon-228
    input(type='text', readonly='readonly', value='budicon-228')
  li
    .icon.icon-budicon-229
    input(type='text', readonly='readonly', value='budicon-229')
  li
    .icon.icon-budicon-230
    input(type='text', readonly='readonly', value='budicon-230')
  li
    .icon.icon-budicon-231
    input(type='text', readonly='readonly', value='budicon-231')
  li
    .icon.icon-budicon-232
    input(type='text', readonly='readonly', value='budicon-232')
  li
    .icon.icon-budicon-233
    input(type='text', readonly='readonly', value='budicon-233')
  li
    .icon.icon-budicon-234
    input(type='text', readonly='readonly', value='budicon-234')
  li
    .icon.icon-budicon-235
    input(type='text', readonly='readonly', value='budicon-235')
  li
    .icon.icon-budicon-236
    input(type='text', readonly='readonly', value='budicon-236')
  li
    .icon.icon-budicon-237
    input(type='text', readonly='readonly', value='budicon-237')
  li
    .icon.icon-budicon-238
    input(type='text', readonly='readonly', value='budicon-238')
  li
    .icon.icon-budicon-239
    input(type='text', readonly='readonly', value='budicon-239')
  li
    .icon.icon-budicon-240
    input(type='text', readonly='readonly', value='budicon-240')
  li
    .icon.icon-budicon-241
    input(type='text', readonly='readonly', value='budicon-241')
  li
    .icon.icon-budicon-242
    input(type='text', readonly='readonly', value='budicon-242')
  li
    .icon.icon-budicon-243
    input(type='text', readonly='readonly', value='budicon-243')
  li
    .icon.icon-budicon-244
    input(type='text', readonly='readonly', value='budicon-244')
  li
    .icon.icon-budicon-245
    input(type='text', readonly='readonly', value='budicon-245')
  li
    .icon.icon-budicon-246
    input(type='text', readonly='readonly', value='budicon-246')
  li
    .icon.icon-budicon-247
    input(type='text', readonly='readonly', value='budicon-247')
  li
    .icon.icon-budicon-248
    input(type='text', readonly='readonly', value='budicon-248')
  li
    .icon.icon-budicon-249
    input(type='text', readonly='readonly', value='budicon-249')
  li
    .icon.icon-budicon-250
    input(type='text', readonly='readonly', value='budicon-250')
  li
    .icon.icon-budicon-251
    input(type='text', readonly='readonly', value='budicon-251')
  li
    .icon.icon-budicon-252
    input(type='text', readonly='readonly', value='budicon-252')
  li
    .icon.icon-budicon-253
    input(type='text', readonly='readonly', value='budicon-253')
  li
    .icon.icon-budicon-254
    input(type='text', readonly='readonly', value='budicon-254')
  li
    .icon.icon-budicon-255
    input(type='text', readonly='readonly', value='budicon-255')
  li
    .icon.icon-budicon-256
    input(type='text', readonly='readonly', value='budicon-256')
  li
    .icon.icon-budicon-257
    input(type='text', readonly='readonly', value='budicon-257')
  li
    .icon.icon-budicon-258
    input(type='text', readonly='readonly', value='budicon-258')
  li
    .icon.icon-budicon-259
    input(type='text', readonly='readonly', value='budicon-259')
  li
    .icon.icon-budicon-260
    input(type='text', readonly='readonly', value='budicon-260')
  li
    .icon.icon-budicon-261
    input(type='text', readonly='readonly', value='budicon-261')
  li
    .icon.icon-budicon-262
    input(type='text', readonly='readonly', value='budicon-262')
  li
    .icon.icon-budicon-263
    input(type='text', readonly='readonly', value='budicon-263')
  li
    .icon.icon-budicon-264
    input(type='text', readonly='readonly', value='budicon-264')
  li
    .icon.icon-budicon-265
    input(type='text', readonly='readonly', value='budicon-265')
  li
    .icon.icon-budicon-266
    input(type='text', readonly='readonly', value='budicon-266')
  li
    .icon.icon-budicon-267
    input(type='text', readonly='readonly', value='budicon-267')
  li
    .icon.icon-budicon-268
    input(type='text', readonly='readonly', value='budicon-268')
  li
    .icon.icon-budicon-269
    input(type='text', readonly='readonly', value='budicon-269')
  li
    .icon.icon-budicon-270
    input(type='text', readonly='readonly', value='budicon-270')
  li
    .icon.icon-budicon-271
    input(type='text', readonly='readonly', value='budicon-271')
  li
    .icon.icon-budicon-272
    input(type='text', readonly='readonly', value='budicon-272')
  li
    .icon.icon-budicon-273
    input(type='text', readonly='readonly', value='budicon-273')
  li
    .icon.icon-budicon-274
    input(type='text', readonly='readonly', value='budicon-274')
  li
    .icon.icon-budicon-275
    input(type='text', readonly='readonly', value='budicon-275')
  li
    .icon.icon-budicon-276
    input(type='text', readonly='readonly', value='budicon-276')
  li
    .icon.icon-budicon-277
    input(type='text', readonly='readonly', value='budicon-277')
  li
    .icon.icon-budicon-278
    input(type='text', readonly='readonly', value='budicon-278')
  li
    .icon.icon-budicon-279
    input(type='text', readonly='readonly', value='budicon-279')
  li
    .icon.icon-budicon-280
    input(type='text', readonly='readonly', value='budicon-280')
  li
    .icon.icon-budicon-281
    input(type='text', readonly='readonly', value='budicon-281')
  li
    .icon.icon-budicon-282
    input(type='text', readonly='readonly', value='budicon-282')
  li
    .icon.icon-budicon-283
    input(type='text', readonly='readonly', value='budicon-283')
  li
    .icon.icon-budicon-284
    input(type='text', readonly='readonly', value='budicon-284')
  li
    .icon.icon-budicon-285
    input(type='text', readonly='readonly', value='budicon-285')
  li
    .icon.icon-budicon-286
    input(type='text', readonly='readonly', value='budicon-286')
  li
    .icon.icon-budicon-287
    input(type='text', readonly='readonly', value='budicon-287')
  li
    .icon.icon-budicon-288
    input(type='text', readonly='readonly', value='budicon-288')
  li
    .icon.icon-budicon-289
    input(type='text', readonly='readonly', value='budicon-289')
  li
    .icon.icon-budicon-290
    input(type='text', readonly='readonly', value='budicon-290')
  li
    .icon.icon-budicon-291
    input(type='text', readonly='readonly', value='budicon-291')
  li
    .icon.icon-budicon-292
    input(type='text', readonly='readonly', value='budicon-292')
  li
    .icon.icon-budicon-293
    input(type='text', readonly='readonly', value='budicon-293')
  li
    .icon.icon-budicon-294
    input(type='text', readonly='readonly', value='budicon-294')
  li
    .icon.icon-budicon-295
    input(type='text', readonly='readonly', value='budicon-295')
  li
    .icon.icon-budicon-296
    input(type='text', readonly='readonly', value='budicon-296')
  li
    .icon.icon-budicon-297
    input(type='text', readonly='readonly', value='budicon-297')
  li
    .icon.icon-budicon-298
    input(type='text', readonly='readonly', value='budicon-298')
  li
    .icon.icon-budicon-299
    input(type='text', readonly='readonly', value='budicon-299')
  li
    .icon.icon-budicon-300
    input(type='text', readonly='readonly', value='budicon-300')
  li
    .icon.icon-budicon-301
    input(type='text', readonly='readonly', value='budicon-301')
  li
    .icon.icon-budicon-302
    input(type='text', readonly='readonly', value='budicon-302')
  li
    .icon.icon-budicon-303
    input(type='text', readonly='readonly', value='budicon-303')
  li
    .icon.icon-budicon-304
    input(type='text', readonly='readonly', value='budicon-304')
  li
    .icon.icon-budicon-305
    input(type='text', readonly='readonly', value='budicon-305')
  li
    .icon.icon-budicon-306
    input(type='text', readonly='readonly', value='budicon-306')
  li
    .icon.icon-budicon-307
    input(type='text', readonly='readonly', value='budicon-307')
  li
    .icon.icon-budicon-308
    input(type='text', readonly='readonly', value='budicon-308')
  li
    .icon.icon-budicon-309
    input(type='text', readonly='readonly', value='budicon-309')
  li
    .icon.icon-budicon-310
    input(type='text', readonly='readonly', value='budicon-310')
  li
    .icon.icon-budicon-311
    input(type='text', readonly='readonly', value='budicon-311')
  li
    .icon.icon-budicon-312
    input(type='text', readonly='readonly', value='budicon-312')
  li
    .icon.icon-budicon-313
    input(type='text', readonly='readonly', value='budicon-313')
  li
    .icon.icon-budicon-314
    input(type='text', readonly='readonly', value='budicon-314')
  li
    .icon.icon-budicon-315
    input(type='text', readonly='readonly', value='budicon-315')
  li
    .icon.icon-budicon-316
    input(type='text', readonly='readonly', value='budicon-316')
  li
    .icon.icon-budicon-317
    input(type='text', readonly='readonly', value='budicon-317')
  li
    .icon.icon-budicon-318
    input(type='text', readonly='readonly', value='budicon-318')
  li
    .icon.icon-budicon-319
    input(type='text', readonly='readonly', value='budicon-319')
  li
    .icon.icon-budicon-320
    input(type='text', readonly='readonly', value='budicon-320')
  li
    .icon.icon-budicon-321
    input(type='text', readonly='readonly', value='budicon-321')
  li
    .icon.icon-budicon-322
    input(type='text', readonly='readonly', value='budicon-322')
  li
    .icon.icon-budicon-323
    input(type='text', readonly='readonly', value='budicon-323')
  li
    .icon.icon-budicon-324
    input(type='text', readonly='readonly', value='budicon-324')
  li
    .icon.icon-budicon-325
    input(type='text', readonly='readonly', value='budicon-325')
  li
    .icon.icon-budicon-326
    input(type='text', readonly='readonly', value='budicon-326')
  li
    .icon.icon-budicon-327
    input(type='text', readonly='readonly', value='budicon-327')
  li
    .icon.icon-budicon-328
    input(type='text', readonly='readonly', value='budicon-328')
  li
    .icon.icon-budicon-329
    input(type='text', readonly='readonly', value='budicon-329')
  li
    .icon.icon-budicon-330
    input(type='text', readonly='readonly', value='budicon-330')
  li
    .icon.icon-budicon-331
    input(type='text', readonly='readonly', value='budicon-331')
  li
    .icon.icon-budicon-332
    input(type='text', readonly='readonly', value='budicon-332')
  li
    .icon.icon-budicon-333
    input(type='text', readonly='readonly', value='budicon-333')
  li
    .icon.icon-budicon-334
    input(type='text', readonly='readonly', value='budicon-334')
  li
    .icon.icon-budicon-335
    input(type='text', readonly='readonly', value='budicon-335')
  li
    .icon.icon-budicon-336
    input(type='text', readonly='readonly', value='budicon-336')
  li
    .icon.icon-budicon-337
    input(type='text', readonly='readonly', value='budicon-337')
  li
    .icon.icon-budicon-338
    input(type='text', readonly='readonly', value='budicon-338')
  li
    .icon.icon-budicon-339
    input(type='text', readonly='readonly', value='budicon-339')
  li
    .icon.icon-budicon-340
    input(type='text', readonly='readonly', value='budicon-340')
  li
    .icon.icon-budicon-341
    input(type='text', readonly='readonly', value='budicon-341')
  li
    .icon.icon-budicon-342
    input(type='text', readonly='readonly', value='budicon-342')
  li
    .icon.icon-budicon-343
    input(type='text', readonly='readonly', value='budicon-343')
  li
    .icon.icon-budicon-344
    input(type='text', readonly='readonly', value='budicon-344')
  li
    .icon.icon-budicon-345
    input(type='text', readonly='readonly', value='budicon-345')
  li
    .icon.icon-budicon-346
    input(type='text', readonly='readonly', value='budicon-346')
  li
    .icon.icon-budicon-347
    input(type='text', readonly='readonly', value='budicon-347')
  li
    .icon.icon-budicon-348
    input(type='text', readonly='readonly', value='budicon-348')
  li
    .icon.icon-budicon-349
    input(type='text', readonly='readonly', value='budicon-349')
  li
    .icon.icon-budicon-350
    input(type='text', readonly='readonly', value='budicon-350')
  li
    .icon.icon-budicon-351
    input(type='text', readonly='readonly', value='budicon-351')
  li
    .icon.icon-budicon-352
    input(type='text', readonly='readonly', value='budicon-352')
  li
    .icon.icon-budicon-353
    input(type='text', readonly='readonly', value='budicon-353')
  li
    .icon.icon-budicon-354
    input(type='text', readonly='readonly', value='budicon-354')
  li
    .icon.icon-budicon-355
    input(type='text', readonly='readonly', value='budicon-355')
  li
    .icon.icon-budicon-356
    input(type='text', readonly='readonly', value='budicon-356')
  li
    .icon.icon-budicon-357
    input(type='text', readonly='readonly', value='budicon-357')
  li
    .icon.icon-budicon-358
    input(type='text', readonly='readonly', value='budicon-358')
  li
    .icon.icon-budicon-359
    input(type='text', readonly='readonly', value='budicon-359')
  li
    .icon.icon-budicon-360
    input(type='text', readonly='readonly', value='budicon-360')
  li
    .icon.icon-budicon-361
    input(type='text', readonly='readonly', value='budicon-361')
  li
    .icon.icon-budicon-362
    input(type='text', readonly='readonly', value='budicon-362')
  li
    .icon.icon-budicon-363
    input(type='text', readonly='readonly', value='budicon-363')
  li
    .icon.icon-budicon-364
    input(type='text', readonly='readonly', value='budicon-364')
  li
    .icon.icon-budicon-365
    input(type='text', readonly='readonly', value='budicon-365')
  li
    .icon.icon-budicon-366
    input(type='text', readonly='readonly', value='budicon-366')
  li
    .icon.icon-budicon-367
    input(type='text', readonly='readonly', value='budicon-367')
  li
    .icon.icon-budicon-368
    input(type='text', readonly='readonly', value='budicon-368')
  li
    .icon.icon-budicon-369
    input(type='text', readonly='readonly', value='budicon-369')
  li
    .icon.icon-budicon-370
    input(type='text', readonly='readonly', value='budicon-370')
  li
    .icon.icon-budicon-371
    input(type='text', readonly='readonly', value='budicon-371')
  li
    .icon.icon-budicon-372
    input(type='text', readonly='readonly', value='budicon-372')
  li
    .icon.icon-budicon-373
    input(type='text', readonly='readonly', value='budicon-373')
  li
    .icon.icon-budicon-374
    input(type='text', readonly='readonly', value='budicon-374')
  li
    .icon.icon-budicon-375
    input(type='text', readonly='readonly', value='budicon-375')
  li
    .icon.icon-budicon-376
    input(type='text', readonly='readonly', value='budicon-376')
  li
    .icon.icon-budicon-377
    input(type='text', readonly='readonly', value='budicon-377')
  li
    .icon.icon-budicon-378
    input(type='text', readonly='readonly', value='budicon-378')
  li
    .icon.icon-budicon-379
    input(type='text', readonly='readonly', value='budicon-379')
  li
    .icon.icon-budicon-380
    input(type='text', readonly='readonly', value='budicon-380')
  li
    .icon.icon-budicon-381
    input(type='text', readonly='readonly', value='budicon-381')
  li
    .icon.icon-budicon-382
    input(type='text', readonly='readonly', value='budicon-382')
  li
    .icon.icon-budicon-383
    input(type='text', readonly='readonly', value='budicon-383')
  li
    .icon.icon-budicon-384
    input(type='text', readonly='readonly', value='budicon-384')
  li
    .icon.icon-budicon-385
    input(type='text', readonly='readonly', value='budicon-385')
  li
    .icon.icon-budicon-386
    input(type='text', readonly='readonly', value='budicon-386')
  li
    .icon.icon-budicon-387
    input(type='text', readonly='readonly', value='budicon-387')
  li
    .icon.icon-budicon-388
    input(type='text', readonly='readonly', value='budicon-388')
  li
    .icon.icon-budicon-389
    input(type='text', readonly='readonly', value='budicon-389')
  li
    .icon.icon-budicon-390
    input(type='text', readonly='readonly', value='budicon-390')
  li
    .icon.icon-budicon-391
    input(type='text', readonly='readonly', value='budicon-391')
  li
    .icon.icon-budicon-392
    input(type='text', readonly='readonly', value='budicon-392')
  li
    .icon.icon-budicon-393
    input(type='text', readonly='readonly', value='budicon-393')
  li
    .icon.icon-budicon-394
    input(type='text', readonly='readonly', value='budicon-394')
  li
    .icon.icon-budicon-395
    input(type='text', readonly='readonly', value='budicon-395')
  li
    .icon.icon-budicon-396
    input(type='text', readonly='readonly', value='budicon-396')
  li
    .icon.icon-budicon-397
    input(type='text', readonly='readonly', value='budicon-397')
  li
    .icon.icon-budicon-398
    input(type='text', readonly='readonly', value='budicon-398')
  li
    .icon.icon-budicon-399
    input(type='text', readonly='readonly', value='budicon-399')
  li
    .icon.icon-budicon-400
    input(type='text', readonly='readonly', value='budicon-400')
  li
    .icon.icon-budicon-401
    input(type='text', readonly='readonly', value='budicon-401')
  li
    .icon.icon-budicon-402
    input(type='text', readonly='readonly', value='budicon-402')
  li
    .icon.icon-budicon-403
    input(type='text', readonly='readonly', value='budicon-403')
  li
    .icon.icon-budicon-404
    input(type='text', readonly='readonly', value='budicon-404')
  li
    .icon.icon-budicon-405
    input(type='text', readonly='readonly', value='budicon-405')
  li
    .icon.icon-budicon-406
    input(type='text', readonly='readonly', value='budicon-406')
  li
    .icon.icon-budicon-407
    input(type='text', readonly='readonly', value='budicon-407')
  li
    .icon.icon-budicon-408
    input(type='text', readonly='readonly', value='budicon-408')
  li
    .icon.icon-budicon-409
    input(type='text', readonly='readonly', value='budicon-409')
  li
    .icon.icon-budicon-410
    input(type='text', readonly='readonly', value='budicon-410')
  li
    .icon.icon-budicon-411
    input(type='text', readonly='readonly', value='budicon-411')
  li
    .icon.icon-budicon-412
    input(type='text', readonly='readonly', value='budicon-412')
  li
    .icon.icon-budicon-413
    input(type='text', readonly='readonly', value='budicon-413')
  li
    .icon.icon-budicon-414
    input(type='text', readonly='readonly', value='budicon-414')
  li
    .icon.icon-budicon-415
    input(type='text', readonly='readonly', value='budicon-415')
  li
    .icon.icon-budicon-416
    input(type='text', readonly='readonly', value='budicon-416')
  li
    .icon.icon-budicon-417
    input(type='text', readonly='readonly', value='budicon-417')
  li
    .icon.icon-budicon-418
    input(type='text', readonly='readonly', value='budicon-418')
  li
    .icon.icon-budicon-419
    input(type='text', readonly='readonly', value='budicon-419')
  li
    .icon.icon-budicon-420
    input(type='text', readonly='readonly', value='budicon-420')
  li
    .icon.icon-budicon-421
    input(type='text', readonly='readonly', value='budicon-421')
  li
    .icon.icon-budicon-422
    input(type='text', readonly='readonly', value='budicon-422')
  li
    .icon.icon-budicon-423
    input(type='text', readonly='readonly', value='budicon-423')
  li
    .icon.icon-budicon-424
    input(type='text', readonly='readonly', value='budicon-424')
  li
    .icon.icon-budicon-425
    input(type='text', readonly='readonly', value='budicon-425')
  li
    .icon.icon-budicon-426
    input(type='text', readonly='readonly', value='budicon-426')
  li
    .icon.icon-budicon-427
    input(type='text', readonly='readonly', value='budicon-427')
  li
    .icon.icon-budicon-428
    input(type='text', readonly='readonly', value='budicon-428')
  li
    .icon.icon-budicon-429
    input(type='text', readonly='readonly', value='budicon-429')
  li
    .icon.icon-budicon-430
    input(type='text', readonly='readonly', value='budicon-430')
  li
    .icon.icon-budicon-431
    input(type='text', readonly='readonly', value='budicon-431')
  li
    .icon.icon-budicon-432
    input(type='text', readonly='readonly', value='budicon-432')
  li
    .icon.icon-budicon-433
    input(type='text', readonly='readonly', value='budicon-433')
  li
    .icon.icon-budicon-434
    input(type='text', readonly='readonly', value='budicon-434')
  li
    .icon.icon-budicon-435
    input(type='text', readonly='readonly', value='budicon-435')
  li
    .icon.icon-budicon-436
    input(type='text', readonly='readonly', value='budicon-436')
  li
    .icon.icon-budicon-437
    input(type='text', readonly='readonly', value='budicon-437')
  li
    .icon.icon-budicon-438
    input(type='text', readonly='readonly', value='budicon-438')
  li
    .icon.icon-budicon-439
    input(type='text', readonly='readonly', value='budicon-439')
  li
    .icon.icon-budicon-440
    input(type='text', readonly='readonly', value='budicon-440')
  li
    .icon.icon-budicon-441
    input(type='text', readonly='readonly', value='budicon-441')
  li
    .icon.icon-budicon-442
    input(type='text', readonly='readonly', value='budicon-442')
  li
    .icon.icon-budicon-443
    input(type='text', readonly='readonly', value='budicon-443')
  li
    .icon.icon-budicon-444
    input(type='text', readonly='readonly', value='budicon-444')
  li
    .icon.icon-budicon-445
    input(type='text', readonly='readonly', value='budicon-445')
  li
    .icon.icon-budicon-446
    input(type='text', readonly='readonly', value='budicon-446')
  li
    .icon.icon-budicon-447
    input(type='text', readonly='readonly', value='budicon-447')
  li
    .icon.icon-budicon-448
    input(type='text', readonly='readonly', value='budicon-448')
  li
    .icon.icon-budicon-449
    input(type='text', readonly='readonly', value='budicon-449')
  li
    .icon.icon-budicon-450
    input(type='text', readonly='readonly', value='budicon-450')
  li
    .icon.icon-budicon-451
    input(type='text', readonly='readonly', value='budicon-451')
  li
    .icon.icon-budicon-452
    input(type='text', readonly='readonly', value='budicon-452')
  li
    .icon.icon-budicon-453
    input(type='text', readonly='readonly', value='budicon-453')
  li
    .icon.icon-budicon-454
    input(type='text', readonly='readonly', value='budicon-454')
  li
    .icon.icon-budicon-455
    input(type='text', readonly='readonly', value='budicon-455')
  li
    .icon.icon-budicon-456
    input(type='text', readonly='readonly', value='budicon-456')
  li
    .icon.icon-budicon-457
    input(type='text', readonly='readonly', value='budicon-457')
  li
    .icon.icon-budicon-458
    input(type='text', readonly='readonly', value='budicon-458')
  li
    .icon.icon-budicon-459
    input(type='text', readonly='readonly', value='budicon-459')
  li
    .icon.icon-budicon-460
    input(type='text', readonly='readonly', value='budicon-460')
  li
    .icon.icon-budicon-461
    input(type='text', readonly='readonly', value='budicon-461')
  li
    .icon.icon-budicon-462
    input(type='text', readonly='readonly', value='budicon-462')
  li
    .icon.icon-budicon-463
    input(type='text', readonly='readonly', value='budicon-463')
  li
    .icon.icon-budicon-464
    input(type='text', readonly='readonly', value='budicon-464')
  li
    .icon.icon-budicon-465
    input(type='text', readonly='readonly', value='budicon-465')
  li
    .icon.icon-budicon-466
    input(type='text', readonly='readonly', value='budicon-466')
  li
    .icon.icon-budicon-467
    input(type='text', readonly='readonly', value='budicon-467')
  li
    .icon.icon-budicon-468
    input(type='text', readonly='readonly', value='budicon-468')
  li
    .icon.icon-budicon-469
    input(type='text', readonly='readonly', value='budicon-469')
  li
    .icon.icon-budicon-470
    input(type='text', readonly='readonly', value='budicon-470')
  li
    .icon.icon-budicon-471
    input(type='text', readonly='readonly', value='budicon-471')
  li
    .icon.icon-budicon-472
    input(type='text', readonly='readonly', value='budicon-472')
  li
    .icon.icon-budicon-473
    input(type='text', readonly='readonly', value='budicon-473')
  li
    .icon.icon-budicon-474
    input(type='text', readonly='readonly', value='budicon-474')
  li
    .icon.icon-budicon-475
    input(type='text', readonly='readonly', value='budicon-475')
  li
    .icon.icon-budicon-476
    input(type='text', readonly='readonly', value='budicon-476')
  li
    .icon.icon-budicon-477
    input(type='text', readonly='readonly', value='budicon-477')
  li
    .icon.icon-budicon-478
    input(type='text', readonly='readonly', value='budicon-478')
  li
    .icon.icon-budicon-479
    input(type='text', readonly='readonly', value='budicon-479')
  li
    .icon.icon-budicon-480
    input(type='text', readonly='readonly', value='budicon-480')
  li
    .icon.icon-budicon-481
    input(type='text', readonly='readonly', value='budicon-481')
  li
    .icon.icon-budicon-482
    input(type='text', readonly='readonly', value='budicon-482')
  li
    .icon.icon-budicon-483
    input(type='text', readonly='readonly', value='budicon-483')
  li
    .icon.icon-budicon-484
    input(type='text', readonly='readonly', value='budicon-484')
  li
    .icon.icon-budicon-485
    input(type='text', readonly='readonly', value='budicon-485')
  li
    .icon.icon-budicon-486
    input(type='text', readonly='readonly', value='budicon-486')
  li
    .icon.icon-budicon-487
    input(type='text', readonly='readonly', value='budicon-487')
  li
    .icon.icon-budicon-488
    input(type='text', readonly='readonly', value='budicon-488')
  li
    .icon.icon-budicon-489
    input(type='text', readonly='readonly', value='budicon-489')
  li
    .icon.icon-budicon-490
    input(type='text', readonly='readonly', value='budicon-490')
  li
    .icon.icon-budicon-491
    input(type='text', readonly='readonly', value='budicon-491')
  li
    .icon.icon-budicon-492
    input(type='text', readonly='readonly', value='budicon-492')
  li
    .icon.icon-budicon-493
    input(type='text', readonly='readonly', value='budicon-493')
  li
    .icon.icon-budicon-494
    input(type='text', readonly='readonly', value='budicon-494')
  li
    .icon.icon-budicon-495
    input(type='text', readonly='readonly', value='budicon-495')
  li
    .icon.icon-budicon-496
    input(type='text', readonly='readonly', value='budicon-496')
  li
    .icon.icon-budicon-497
    input(type='text', readonly='readonly', value='budicon-497')
  li
    .icon.icon-budicon-498
    input(type='text', readonly='readonly', value='budicon-498')
  li
    .icon.icon-budicon-499
    input(type='text', readonly='readonly', value='budicon-499')
  li
    .icon.icon-budicon-500
    input(type='text', readonly='readonly', value='budicon-500')
  li
    .icon.icon-budicon-501
    input(type='text', readonly='readonly', value='budicon-501')
  li
    .icon.icon-budicon-502
    input(type='text', readonly='readonly', value='budicon-502')
  li
    .icon.icon-budicon-503
    input(type='text', readonly='readonly', value='budicon-503')
  li
    .icon.icon-budicon-504
    input(type='text', readonly='readonly', value='budicon-504')
  li
    .icon.icon-budicon-505
    input(type='text', readonly='readonly', value='budicon-505')
  li
    .icon.icon-budicon-506
    input(type='text', readonly='readonly', value='budicon-506')
  li
    .icon.icon-budicon-507
    input(type='text', readonly='readonly', value='budicon-507')
  li
    .icon.icon-budicon-508
    input(type='text', readonly='readonly', value='budicon-508')
  li
    .icon.icon-budicon-509
    input(type='text', readonly='readonly', value='budicon-509')
  li
    .icon.icon-budicon-510
    input(type='text', readonly='readonly', value='budicon-510')
  li
    .icon.icon-budicon-511
    input(type='text', readonly='readonly', value='budicon-511')
  li
    .icon.icon-budicon-512
    input(type='text', readonly='readonly', value='budicon-512')
  li
    .icon.icon-budicon-513
    input(type='text', readonly='readonly', value='budicon-513')
  li
    .icon.icon-budicon-514
    input(type='text', readonly='readonly', value='budicon-514')
  li
    .icon.icon-budicon-515
    input(type='text', readonly='readonly', value='budicon-515')
  li
    .icon.icon-budicon-516
    input(type='text', readonly='readonly', value='budicon-516')
  li
    .icon.icon-budicon-517
    input(type='text', readonly='readonly', value='budicon-517')
  li
    .icon.icon-budicon-518
    input(type='text', readonly='readonly', value='budicon-518')
  li
    .icon.icon-budicon-519
    input(type='text', readonly='readonly', value='budicon-519')
  li
    .icon.icon-budicon-520
    input(type='text', readonly='readonly', value='budicon-520')
  li
    .icon.icon-budicon-521
    input(type='text', readonly='readonly', value='budicon-521')
  li
    .icon.icon-budicon-522
    input(type='text', readonly='readonly', value='budicon-522')
  li
    .icon.icon-budicon-523
    input(type='text', readonly='readonly', value='budicon-523')
  li
    .icon.icon-budicon-524
    input(type='text', readonly='readonly', value='budicon-524')
  li
    .icon.icon-budicon-525
    input(type='text', readonly='readonly', value='budicon-525')
  li
    .icon.icon-budicon-526
    input(type='text', readonly='readonly', value='budicon-526')
  li
    .icon.icon-budicon-527
    input(type='text', readonly='readonly', value='budicon-527')
  li
    .icon.icon-budicon-528
    input(type='text', readonly='readonly', value='budicon-528')
  li
    .icon.icon-budicon-529
    input(type='text', readonly='readonly', value='budicon-529')
  li
    .icon.icon-budicon-530
    input(type='text', readonly='readonly', value='budicon-530')
  li
    .icon.icon-budicon-531
    input(type='text', readonly='readonly', value='budicon-531')
  li
    .icon.icon-budicon-532
    input(type='text', readonly='readonly', value='budicon-532')
  li
    .icon.icon-budicon-533
    input(type='text', readonly='readonly', value='budicon-533')
  li
    .icon.icon-budicon-534
    input(type='text', readonly='readonly', value='budicon-534')
  li
    .icon.icon-budicon-535
    input(type='text', readonly='readonly', value='budicon-535')
  li
    .icon.icon-budicon-536
    input(type='text', readonly='readonly', value='budicon-536')
  li
    .icon.icon-budicon-537
    input(type='text', readonly='readonly', value='budicon-537')
  li
    .icon.icon-budicon-538
    input(type='text', readonly='readonly', value='budicon-538')
  li
    .icon.icon-budicon-539
    input(type='text', readonly='readonly', value='budicon-539')
  li
    .icon.icon-budicon-540
    input(type='text', readonly='readonly', value='budicon-540')
  li
    .icon.icon-budicon-541
    input(type='text', readonly='readonly', value='budicon-541')
  li
    .icon.icon-budicon-542
    input(type='text', readonly='readonly', value='budicon-542')
  li
    .icon.icon-budicon-543
    input(type='text', readonly='readonly', value='budicon-543')
  li
    .icon.icon-budicon-544
    input(type='text', readonly='readonly', value='budicon-544')
  li
    .icon.icon-budicon-545
    input(type='text', readonly='readonly', value='budicon-545')
  li
    .icon.icon-budicon-546
    input(type='text', readonly='readonly', value='budicon-546')
  li
    .icon.icon-budicon-547
    input(type='text', readonly='readonly', value='budicon-547')
  li
    .icon.icon-budicon-548
    input(type='text', readonly='readonly', value='budicon-548')
  li
    .icon.icon-budicon-549
    input(type='text', readonly='readonly', value='budicon-549')
  li
    .icon.icon-budicon-550
    input(type='text', readonly='readonly', value='budicon-550')
  li
    .icon.icon-budicon-551
    input(type='text', readonly='readonly', value='budicon-551')
  li
    .icon.icon-budicon-552
    input(type='text', readonly='readonly', value='budicon-552')
  li
    .icon.icon-budicon-553
    input(type='text', readonly='readonly', value='budicon-553')
  li
    .icon.icon-budicon-554
    input(type='text', readonly='readonly', value='budicon-554')
  li
    .icon.icon-budicon-555
    input(type='text', readonly='readonly', value='budicon-555')
  li
    .icon.icon-budicon-556
    input(type='text', readonly='readonly', value='budicon-556')
  li
    .icon.icon-budicon-557
    input(type='text', readonly='readonly', value='budicon-557')
  li
    .icon.icon-budicon-558
    input(type='text', readonly='readonly', value='budicon-558')
  li
    .icon.icon-budicon-559
    input(type='text', readonly='readonly', value='budicon-559')
  li
    .icon.icon-budicon-560
    input(type='text', readonly='readonly', value='budicon-560')
  li
    .icon.icon-budicon-561
    input(type='text', readonly='readonly', value='budicon-561')
  li
    .icon.icon-budicon-562
    input(type='text', readonly='readonly', value='budicon-562')
  li
    .icon.icon-budicon-563
    input(type='text', readonly='readonly', value='budicon-563')
  li
    .icon.icon-budicon-564
    input(type='text', readonly='readonly', value='budicon-564')
  li
    .icon.icon-budicon-565
    input(type='text', readonly='readonly', value='budicon-565')
  li
    .icon.icon-budicon-566
    input(type='text', readonly='readonly', value='budicon-566')
  li
    .icon.icon-budicon-567
    input(type='text', readonly='readonly', value='budicon-567')
  li
    .icon.icon-budicon-568
    input(type='text', readonly='readonly', value='budicon-568')
  li
    .icon.icon-budicon-569
    input(type='text', readonly='readonly', value='budicon-569')
  li
    .icon.icon-budicon-570
    input(type='text', readonly='readonly', value='budicon-570')
  li
    .icon.icon-budicon-571
    input(type='text', readonly='readonly', value='budicon-571')
  li
    .icon.icon-budicon-572
    input(type='text', readonly='readonly', value='budicon-572')
  li
    .icon.icon-budicon-573
    input(type='text', readonly='readonly', value='budicon-573')
  li
    .icon.icon-budicon-574
    input(type='text', readonly='readonly', value='budicon-574')
  li
    .icon.icon-budicon-575
    input(type='text', readonly='readonly', value='budicon-575')
  li
    .icon.icon-budicon-576
    input(type='text', readonly='readonly', value='budicon-576')
  li
    .icon.icon-budicon-577
    input(type='text', readonly='readonly', value='budicon-577')
  li
    .icon.icon-budicon-578
    input(type='text', readonly='readonly', value='budicon-578')
  li
    .icon.icon-budicon-579
    input(type='text', readonly='readonly', value='budicon-579')
  li
    .icon.icon-budicon-580
    input(type='text', readonly='readonly', value='budicon-580')
  li
    .icon.icon-budicon-581
    input(type='text', readonly='readonly', value='budicon-581')
  li
    .icon.icon-budicon-582
    input(type='text', readonly='readonly', value='budicon-582')
  li
    .icon.icon-budicon-583
    input(type='text', readonly='readonly', value='budicon-583')
  li
    .icon.icon-budicon-584
    input(type='text', readonly='readonly', value='budicon-584')
  li
    .icon.icon-budicon-585
    input(type='text', readonly='readonly', value='budicon-585')
  li
    .icon.icon-budicon-586
    input(type='text', readonly='readonly', value='budicon-586')
  li
    .icon.icon-budicon-587
    input(type='text', readonly='readonly', value='budicon-587')
  li
    .icon.icon-budicon-588
    input(type='text', readonly='readonly', value='budicon-588')
  li
    .icon.icon-budicon-589
    input(type='text', readonly='readonly', value='budicon-589')
  li
    .icon.icon-budicon-590
    input(type='text', readonly='readonly', value='budicon-590')
  li
    .icon.icon-budicon-591
    input(type='text', readonly='readonly', value='budicon-591')
  li
    .icon.icon-budicon-592
    input(type='text', readonly='readonly', value='budicon-592')
  li
    .icon.icon-budicon-593
    input(type='text', readonly='readonly', value='budicon-593')
  li
    .icon.icon-budicon-594
    input(type='text', readonly='readonly', value='budicon-594')
  li
    .icon.icon-budicon-595
    input(type='text', readonly='readonly', value='budicon-595')
  li
    .icon.icon-budicon-596
    input(type='text', readonly='readonly', value='budicon-596')
  li
    .icon.icon-budicon-597
    input(type='text', readonly='readonly', value='budicon-597')
  li
    .icon.icon-budicon-598
    input(type='text', readonly='readonly', value='budicon-598')
  li
    .icon.icon-budicon-599
    input(type='text', readonly='readonly', value='budicon-599')
  li
    .icon.icon-budicon-600
    input(type='text', readonly='readonly', value='budicon-600')
  li
    .icon.icon-budicon-601
    input(type='text', readonly='readonly', value='budicon-601')
  li
    .icon.icon-budicon-602
    input(type='text', readonly='readonly', value='budicon-602')
  li
    .icon.icon-budicon-603
    input(type='text', readonly='readonly', value='budicon-603')
  li
    .icon.icon-budicon-604
    input(type='text', readonly='readonly', value='budicon-604')
  li
    .icon.icon-budicon-605
    input(type='text', readonly='readonly', value='budicon-605')
  li
    .icon.icon-budicon-606
    input(type='text', readonly='readonly', value='budicon-606')
  li
    .icon.icon-budicon-607
    input(type='text', readonly='readonly', value='budicon-607')
  li
    .icon.icon-budicon-608
    input(type='text', readonly='readonly', value='budicon-608')
  li
    .icon.icon-budicon-609
    input(type='text', readonly='readonly', value='budicon-609')
  li
    .icon.icon-budicon-610
    input(type='text', readonly='readonly', value='budicon-610')
  li
    .icon.icon-budicon-611
    input(type='text', readonly='readonly', value='budicon-611')
  li
    .icon.icon-budicon-612
    input(type='text', readonly='readonly', value='budicon-612')
  li
    .icon.icon-budicon-613
    input(type='text', readonly='readonly', value='budicon-613')
  li
    .icon.icon-budicon-614
    input(type='text', readonly='readonly', value='budicon-614')
  li
    .icon.icon-budicon-615
    input(type='text', readonly='readonly', value='budicon-615')
  li
    .icon.icon-budicon-616
    input(type='text', readonly='readonly', value='budicon-616')
  li
    .icon.icon-budicon-617
    input(type='text', readonly='readonly', value='budicon-617')
  li
    .icon.icon-budicon-618
    input(type='text', readonly='readonly', value='budicon-618')
  li
    .icon.icon-budicon-619
    input(type='text', readonly='readonly', value='budicon-619')
  li
    .icon.icon-budicon-620
    input(type='text', readonly='readonly', value='budicon-620')
  li
    .icon.icon-budicon-621
    input(type='text', readonly='readonly', value='budicon-621')
  li
    .icon.icon-budicon-622
    input(type='text', readonly='readonly', value='budicon-622')
  li
    .icon.icon-budicon-623
    input(type='text', readonly='readonly', value='budicon-623')
  li
    .icon.icon-budicon-624
    input(type='text', readonly='readonly', value='budicon-624')
  li
    .icon.icon-budicon-625
    input(type='text', readonly='readonly', value='budicon-625')
  li
    .icon.icon-budicon-626
    input(type='text', readonly='readonly', value='budicon-626')
  li
    .icon.icon-budicon-627
    input(type='text', readonly='readonly', value='budicon-627')
  li
    .icon.icon-budicon-628
    input(type='text', readonly='readonly', value='budicon-628')
  li
    .icon.icon-budicon-629
    input(type='text', readonly='readonly', value='budicon-629')
  li
    .icon.icon-budicon-630
    input(type='text', readonly='readonly', value='budicon-630')
  li
    .icon.icon-budicon-631
    input(type='text', readonly='readonly', value='budicon-631')
  li
    .icon.icon-budicon-632
    input(type='text', readonly='readonly', value='budicon-632')
  li
    .icon.icon-budicon-633
    input(type='text', readonly='readonly', value='budicon-633')
  li
    .icon.icon-budicon-634
    input(type='text', readonly='readonly', value='budicon-634')
  li
    .icon.icon-budicon-635
    input(type='text', readonly='readonly', value='budicon-635')
  li
    .icon.icon-budicon-636
    input(type='text', readonly='readonly', value='budicon-636')
  li
    .icon.icon-budicon-637
    input(type='text', readonly='readonly', value='budicon-637')
  li
    .icon.icon-budicon-638
    input(type='text', readonly='readonly', value='budicon-638')
  li
    .icon.icon-budicon-639
    input(type='text', readonly='readonly', value='budicon-639')
  li
    .icon.icon-budicon-640
    input(type='text', readonly='readonly', value='budicon-640')
  li
    .icon.icon-budicon-641
    input(type='text', readonly='readonly', value='budicon-641')
  li
    .icon.icon-budicon-642
    input(type='text', readonly='readonly', value='budicon-642')
  li
    .icon.icon-budicon-643
    input(type='text', readonly='readonly', value='budicon-643')
  li
    .icon.icon-budicon-644
    input(type='text', readonly='readonly', value='budicon-644')
  li
    .icon.icon-budicon-645
    input(type='text', readonly='readonly', value='budicon-645')
  li
    .icon.icon-budicon-646
    input(type='text', readonly='readonly', value='budicon-646')
  li
    .icon.icon-budicon-647
    input(type='text', readonly='readonly', value='budicon-647')
  li
    .icon.icon-budicon-648
    input(type='text', readonly='readonly', value='budicon-648')
  li
    .icon.icon-budicon-649
    input(type='text', readonly='readonly', value='budicon-649')
  li
    .icon.icon-budicon-650
    input(type='text', readonly='readonly', value='budicon-650')
  li
    .icon.icon-budicon-651
    input(type='text', readonly='readonly', value='budicon-651')
  li
    .icon.icon-budicon-652
    input(type='text', readonly='readonly', value='budicon-652')
  li
    .icon.icon-budicon-653
    input(type='text', readonly='readonly', value='budicon-653')
  li
    .icon.icon-budicon-654
    input(type='text', readonly='readonly', value='budicon-654')
  li
    .icon.icon-budicon-655
    input(type='text', readonly='readonly', value='budicon-655')
  li
    .icon.icon-budicon-656
    input(type='text', readonly='readonly', value='budicon-656')
  li
    .icon.icon-budicon-657
    input(type='text', readonly='readonly', value='budicon-657')
  li
    .icon.icon-budicon-658
    input(type='text', readonly='readonly', value='budicon-658')
  li
    .icon.icon-budicon-659
    input(type='text', readonly='readonly', value='budicon-659')
  li
    .icon.icon-budicon-660
    input(type='text', readonly='readonly', value='budicon-660')
  li
    .icon.icon-budicon-661
    input(type='text', readonly='readonly', value='budicon-661')
  li
    .icon.icon-budicon-662
    input(type='text', readonly='readonly', value='budicon-662')
  li
    .icon.icon-budicon-663
    input(type='text', readonly='readonly', value='budicon-663')
  li
    .icon.icon-budicon-664
    input(type='text', readonly='readonly', value='budicon-664')
  li
    .icon.icon-budicon-665
    input(type='text', readonly='readonly', value='budicon-665')
  li
    .icon.icon-budicon-666
    input(type='text', readonly='readonly', value='budicon-666')
  li
    .icon.icon-budicon-667
    input(type='text', readonly='readonly', value='budicon-667')
  li
    .icon.icon-budicon-668
    input(type='text', readonly='readonly', value='budicon-668')
  li
    .icon.icon-budicon-669
    input(type='text', readonly='readonly', value='budicon-669')
  li
    .icon.icon-budicon-670
    input(type='text', readonly='readonly', value='budicon-670')
  li
    .icon.icon-budicon-671
    input(type='text', readonly='readonly', value='budicon-671')
  li
    .icon.icon-budicon-672
    input(type='text', readonly='readonly', value='budicon-672')
  li
    .icon.icon-budicon-673
    input(type='text', readonly='readonly', value='budicon-673')
  li
    .icon.icon-budicon-674
    input(type='text', readonly='readonly', value='budicon-674')
  li
    .icon.icon-budicon-675
    input(type='text', readonly='readonly', value='budicon-675')
  li
    .icon.icon-budicon-676
    input(type='text', readonly='readonly', value='budicon-676')
  li
    .icon.icon-budicon-677
    input(type='text', readonly='readonly', value='budicon-677')
  li
    .icon.icon-budicon-678
    input(type='text', readonly='readonly', value='budicon-678')
  li
    .icon.icon-budicon-679
    input(type='text', readonly='readonly', value='budicon-679')
  li
    .icon.icon-budicon-680
    input(type='text', readonly='readonly', value='budicon-680')
  li
    .icon.icon-budicon-681
    input(type='text', readonly='readonly', value='budicon-681')
  li
    .icon.icon-budicon-682
    input(type='text', readonly='readonly', value='budicon-682')
  li
    .icon.icon-budicon-683
    input(type='text', readonly='readonly', value='budicon-683')
  li
    .icon.icon-budicon-684
    input(type='text', readonly='readonly', value='budicon-684')
  li
    .icon.icon-budicon-685
    input(type='text', readonly='readonly', value='budicon-685')
  li
    .icon.icon-budicon-686
    input(type='text', readonly='readonly', value='budicon-686')
  li
    .icon.icon-budicon-687
    input(type='text', readonly='readonly', value='budicon-687')
  li
    .icon.icon-budicon-688
    input(type='text', readonly='readonly', value='budicon-688')
  li
    .icon.icon-budicon-689
    input(type='text', readonly='readonly', value='budicon-689')
  li
    .icon.icon-budicon-690
    input(type='text', readonly='readonly', value='budicon-690')
  li
    .icon.icon-budicon-691
    input(type='text', readonly='readonly', value='budicon-691')
  li
    .icon.icon-budicon-692
    input(type='text', readonly='readonly', value='budicon-692')
  li
    .icon.icon-budicon-693
    input(type='text', readonly='readonly', value='budicon-693')
  li
    .icon.icon-budicon-694
    input(type='text', readonly='readonly', value='budicon-694')
  li
    .icon.icon-budicon-695
    input(type='text', readonly='readonly', value='budicon-695')
  li
    .icon.icon-budicon-696
    input(type='text', readonly='readonly', value='budicon-696')
  li
    .icon.icon-budicon-697
    input(type='text', readonly='readonly', value='budicon-697')
  li
    .icon.icon-budicon-698
    input(type='text', readonly='readonly', value='budicon-698')
  li
    .icon.icon-budicon-699
    input(type='text', readonly='readonly', value='budicon-699')
  li
    .icon.icon-budicon-700
    input(type='text', readonly='readonly', value='budicon-700')
  li
    .icon.icon-budicon-701
    input(type='text', readonly='readonly', value='budicon-701')
  li
    .icon.icon-budicon-702
    input(type='text', readonly='readonly', value='budicon-702')
  li
    .icon.icon-budicon-703
    input(type='text', readonly='readonly', value='budicon-703')
  li
    .icon.icon-budicon-704
    input(type='text', readonly='readonly', value='budicon-704')
  li
    .icon.icon-budicon-705
    input(type='text', readonly='readonly', value='budicon-705')
  li
    .icon.icon-budicon-706
    input(type='text', readonly='readonly', value='budicon-706')
  li
    .icon.icon-budicon-707
    input(type='text', readonly='readonly', value='budicon-707')
  li
    .icon.icon-budicon-708
    input(type='text', readonly='readonly', value='budicon-708')
  li
    .icon.icon-budicon-709
    input(type='text', readonly='readonly', value='budicon-709')
  li
    .icon.icon-budicon-710
    input(type='text', readonly='readonly', value='budicon-710')
  li
    .icon.icon-budicon-711
    input(type='text', readonly='readonly', value='budicon-711')
  li
    .icon.icon-budicon-712
    input(type='text', readonly='readonly', value='budicon-712')
  li
    .icon.icon-budicon-713
    input(type='text', readonly='readonly', value='budicon-713')
  li
    .icon.icon-budicon-714
    input(type='text', readonly='readonly', value='budicon-714')
  li
    .icon.icon-budicon-715
    input(type='text', readonly='readonly', value='budicon-715')
  li
    .icon.icon-budicon-716
    input(type='text', readonly='readonly', value='budicon-716')
  li
    .icon.icon-budicon-717
    input(type='text', readonly='readonly', value='budicon-717')
  li
    .icon.icon-budicon-718
    input(type='text', readonly='readonly', value='budicon-718')
  li
    .icon.icon-budicon-719
    input(type='text', readonly='readonly', value='budicon-719')
  li
    .icon.icon-budicon-720
    input(type='text', readonly='readonly', value='budicon-720')
  li
    .icon.icon-budicon-721
    input(type='text', readonly='readonly', value='budicon-721')
  li
    .icon.icon-budicon-722
    input(type='text', readonly='readonly', value='budicon-722')
  li
    .icon.icon-budicon-723
    input(type='text', readonly='readonly', value='budicon-723')
  li
    .icon.icon-budicon-724
    input(type='text', readonly='readonly', value='budicon-724')
  li
    .icon.icon-budicon-725
    input(type='text', readonly='readonly', value='budicon-725')
  li
    .icon.icon-budicon-726
    input(type='text', readonly='readonly', value='budicon-726')
  li
    .icon.icon-budicon-727
    input(type='text', readonly='readonly', value='budicon-727')
  li
    .icon.icon-budicon-728
    input(type='text', readonly='readonly', value='budicon-728')
  li
    .icon.icon-budicon-729
    input(type='text', readonly='readonly', value='budicon-729')
  li
    .icon.icon-budicon-730
    input(type='text', readonly='readonly', value='budicon-730')
  li
    .icon.icon-budicon-731
    input(type='text', readonly='readonly', value='budicon-731')
  li
    .icon.icon-budicon-732
    input(type='text', readonly='readonly', value='budicon-732')
  li
    .icon.icon-budicon-733
    input(type='text', readonly='readonly', value='budicon-733')
  li
    .icon.icon-budicon-734
    input(type='text', readonly='readonly', value='budicon-734')
  li
    .icon.icon-budicon-735
    input(type='text', readonly='readonly', value='budicon-735')
  li
    .icon.icon-budicon-736
    input(type='text', readonly='readonly', value='budicon-736')
  li
    .icon.icon-budicon-737
    input(type='text', readonly='readonly', value='budicon-737')
  li
    .icon.icon-budicon-738
    input(type='text', readonly='readonly', value='budicon-738')
  li
    .icon.icon-budicon-739
    input(type='text', readonly='readonly', value='budicon-739')
  li
    .icon.icon-budicon-740
    input(type='text', readonly='readonly', value='budicon-740')
  li
    .icon.icon-budicon-741
    input(type='text', readonly='readonly', value='budicon-741')
  li
    .icon.icon-budicon-742
    input(type='text', readonly='readonly', value='budicon-742')
  li
    .icon.icon-budicon-743
    input(type='text', readonly='readonly', value='budicon-743')
  li
    .icon.icon-budicon-744
    input(type='text', readonly='readonly', value='budicon-744')
  li
    .icon.icon-budicon-745
    input(type='text', readonly='readonly', value='budicon-745')
  li
    .icon.icon-budicon-746
    input(type='text', readonly='readonly', value='budicon-746')
  li
    .icon.icon-budicon-747
    input(type='text', readonly='readonly', value='budicon-747')
  li
    .icon.icon-budicon-748
    input(type='text', readonly='readonly', value='budicon-748')
  li
    .icon.icon-budicon-749
    input(type='text', readonly='readonly', value='budicon-749')
  li
    .icon.icon-budicon-750
    input(type='text', readonly='readonly', value='budicon-750')
  li
    .icon.icon-budicon-751
    input(type='text', readonly='readonly', value='budicon-751')
  li
    .icon.icon-budicon-752
    input(type='text', readonly='readonly', value='budicon-752')
  li
    .icon.icon-budicon-753
    input(type='text', readonly='readonly', value='budicon-753')
  li
    .icon.icon-budicon-754
    input(type='text', readonly='readonly', value='budicon-754')
  li
    .icon.icon-budicon-755
    input(type='text', readonly='readonly', value='budicon-755')
  li
    .icon.icon-budicon-756
    input(type='text', readonly='readonly', value='budicon-756')
  li
    .icon.icon-budicon-757
    input(type='text', readonly='readonly', value='budicon-757')
  li
    .icon.icon-budicon-758
    input(type='text', readonly='readonly', value='budicon-758')
  li
    .icon.icon-budicon-759
    input(type='text', readonly='readonly', value='budicon-759')
  li
    .icon.icon-budicon-760
    input(type='text', readonly='readonly', value='budicon-760')
  li
    .icon.icon-budicon-761
    input(type='text', readonly='readonly', value='budicon-761')
  li
    .icon.icon-budicon-762
    input(type='text', readonly='readonly', value='budicon-762')
  li
    .icon.icon-budicon-763
    input(type='text', readonly='readonly', value='budicon-763')
  li
    .icon.icon-budicon-764
    input(type='text', readonly='readonly', value='budicon-764')
  li
    .icon.icon-budicon-765
    input(type='text', readonly='readonly', value='budicon-765')
  li
    .icon.icon-budicon-766
    input(type='text', readonly='readonly', value='budicon-766')
  li
    .icon.icon-budicon-767
    input(type='text', readonly='readonly', value='budicon-767')
  li
    .icon.icon-budicon-768
    input(type='text', readonly='readonly', value='budicon-768')
  li
    .icon.icon-budicon-769
    input(type='text', readonly='readonly', value='budicon-769')
  li
    .icon.icon-budicon-770
    input(type='text', readonly='readonly', value='budicon-770')
  li
    .icon.icon-budicon-771
    input(type='text', readonly='readonly', value='budicon-771')
  li
    .icon.icon-budicon-772
    input(type='text', readonly='readonly', value='budicon-772')
  li
    .icon.icon-budicon-773
    input(type='text', readonly='readonly', value='budicon-773')
  li
    .icon.icon-budicon-774
    input(type='text', readonly='readonly', value='budicon-774')
  li
    .icon.icon-budicon-775
    input(type='text', readonly='readonly', value='budicon-775')
  li
    .icon.icon-budicon-776
    input(type='text', readonly='readonly', value='budicon-776')
  li
    .icon.icon-budicon-777
    input(type='text', readonly='readonly', value='budicon-777')
  li
    .icon.icon-budicon-778
    input(type='text', readonly='readonly', value='budicon-778')
  li
    .icon.icon-budicon-779
    input(type='text', readonly='readonly', value='budicon-779')
  li
    .icon.icon-budicon-780
    input(type='text', readonly='readonly', value='budicon-780')
  li
    .icon.icon-budicon-781
    input(type='text', readonly='readonly', value='budicon-781')
  li
    .icon.icon-budicon-782
    input(type='text', readonly='readonly', value='budicon-782')
  li
    .icon.icon-budicon-783
    input(type='text', readonly='readonly', value='budicon-783')
  li
    .icon.icon-budicon-784
    input(type='text', readonly='readonly', value='budicon-784')
  li
    .icon.icon-budicon-785
    input(type='text', readonly='readonly', value='budicon-785')
  li
    .icon.icon-budicon-786
    input(type='text', readonly='readonly', value='budicon-786')
  li
    .icon.icon-budicon-787
    input(type='text', readonly='readonly', value='budicon-787')
  li
    .icon.icon-budicon-788
    input(type='text', readonly='readonly', value='budicon-788')
  li
    .icon.icon-budicon-789
    input(type='text', readonly='readonly', value='budicon-789')
  li
    .icon.icon-budicon-790
    input(type='text', readonly='readonly', value='budicon-790')
  li
    .icon.icon-budicon-791
    input(type='text', readonly='readonly', value='budicon-791')
  li
    .icon.icon-budicon-792
    input(type='text', readonly='readonly', value='budicon-792')
  li
    .icon.icon-budicon-793
    input(type='text', readonly='readonly', value='budicon-793')
  li
    .icon.icon-budicon-794
    input(type='text', readonly='readonly', value='budicon-794')
  li
    .icon.icon-budicon-795
    input(type='text', readonly='readonly', value='budicon-795')
  li
    .icon.icon-budicon-796
    input(type='text', readonly='readonly', value='budicon-796')
  li
    .icon.icon-budicon-797
    input(type='text', readonly='readonly', value='budicon-797')
  li
    .icon.icon-budicon-798
    input(type='text', readonly='readonly', value='budicon-798')
  li
    .icon.icon-budicon-799
    input(type='text', readonly='readonly', value='budicon-799')
  li
    .icon.icon-budicon-800
    input(type='text', readonly='readonly', value='budicon-800')
  li
    .icon.icon-budicon-801
    input(type='text', readonly='readonly', value='budicon-801')
  li
    .icon.icon-budicon-802
    input(type='text', readonly='readonly', value='budicon-802')
  li
    .icon.icon-budicon-803
    input(type='text', readonly='readonly', value='budicon-803')
  li
    .icon.icon-budicon-804
    input(type='text', readonly='readonly', value='budicon-804')
  li
    .icon.icon-budicon-805
    input(type='text', readonly='readonly', value='budicon-805')
  li
    .icon.icon-budicon-806
    input(type='text', readonly='readonly', value='budicon-806')
  li
    .icon.icon-budicon-807
    input(type='text', readonly='readonly', value='budicon-807')
  li
    .icon.icon-budicon-808
    input(type='text', readonly='readonly', value='budicon-808')
  li
    .icon.icon-budicon-809
    input(type='text', readonly='readonly', value='budicon-809')
  li
    .icon.icon-budicon-810
    input(type='text', readonly='readonly', value='budicon-810')
  li
    .icon.icon-budicon-811
    input(type='text', readonly='readonly', value='budicon-811')
  li
    .icon.icon-budicon-812
    input(type='text', readonly='readonly', value='budicon-812')
  li
    .icon.icon-budicon-813
    input(type='text', readonly='readonly', value='budicon-813')
  li
    .icon.icon-budicon-814
    input(type='text', readonly='readonly', value='budicon-814')
  li
    .icon.icon-budicon-815
    input(type='text', readonly='readonly', value='budicon-815')
  li
    .icon.icon-budicon-816
    input(type='text', readonly='readonly', value='budicon-816')
  li
    .icon.icon-budicon-817
    input(type='text', readonly='readonly', value='budicon-817')
  li
    .icon.icon-budicon-818
    input(type='text', readonly='readonly', value='budicon-818')
  li
    .icon.icon-budicon-819
    input(type='text', readonly='readonly', value='budicon-819')
  li
    .icon.icon-budicon-820
    input(type='text', readonly='readonly', value='budicon-820')
  li
    .icon.icon-budicon-821
    input(type='text', readonly='readonly', value='budicon-821')
  li
    .icon.icon-budicon-822
    input(type='text', readonly='readonly', value='budicon-822')
  li
    .icon.icon-budicon-823
    input(type='text', readonly='readonly', value='budicon-823')
  li
    .icon.icon-budicon-824
    input(type='text', readonly='readonly', value='budicon-824')
  li
    .icon.icon-budicon-825
    input(type='text', readonly='readonly', value='budicon-825')
  li
    .icon.icon-budicon-826
    input(type='text', readonly='readonly', value='budicon-826')
  li
    .icon.icon-budicon-827
    input(type='text', readonly='readonly', value='budicon-827')
  li
    .icon.icon-budicon-828
    input(type='text', readonly='readonly', value='budicon-828')
  li
    .icon.icon-budicon-829
    input(type='text', readonly='readonly', value='budicon-829')
  li
    .icon.icon-budicon-830
    input(type='text', readonly='readonly', value='budicon-830')
  li
    .icon.icon-budicon-831
    input(type='text', readonly='readonly', value='budicon-831')
  li
    .icon.icon-budicon-832
    input(type='text', readonly='readonly', value='budicon-832')
  li
    .icon.icon-budicon-833
    input(type='text', readonly='readonly', value='budicon-833')
  li
    .icon.icon-budicon-834
    input(type='text', readonly='readonly', value='budicon-834')
  li
    .icon.icon-budicon-835
    input(type='text', readonly='readonly', value='budicon-835')
  li
    .icon.icon-budicon-836
    input(type='text', readonly='readonly', value='budicon-836')
  li
    .icon.icon-budicon-837
    input(type='text', readonly='readonly', value='budicon-837')
  li
    .icon.icon-budicon-838
    input(type='text', readonly='readonly', value='budicon-838')
  li
    .icon.icon-budicon-839
    input(type='text', readonly='readonly', value='budicon-839')
  li
    .icon.icon-budicon-840
    input(type='text', readonly='readonly', value='budicon-840')
  li
    .icon.icon-budicon-841
    input(type='text', readonly='readonly', value='budicon-841')
  li
    .icon.icon-budicon-842
    input(type='text', readonly='readonly', value='budicon-842')
  li
    .icon.icon-budicon-843
    input(type='text', readonly='readonly', value='budicon-843')
  li
    .icon.icon-budicon-844
    input(type='text', readonly='readonly', value='budicon-844')
  li
    .icon.icon-budicon-845
    input(type='text', readonly='readonly', value='budicon-845')
  li
    .icon.icon-budicon-846
    input(type='text', readonly='readonly', value='budicon-846')
  li
    .icon.icon-budicon-847
    input(type='text', readonly='readonly', value='budicon-847')
  li
    .icon.icon-budicon-848
    input(type='text', readonly='readonly', value='budicon-848')
  li
    .icon.icon-budicon-849
    input(type='text', readonly='readonly', value='budicon-849')
  li
    .icon.icon-1392070209-icon-social-github
    input(type='text', readonly='readonly', value='1392070209-icon-social-github')

