//- Typography

.typography-section

    h2#typography.title Typography

    h1 Avenir Next

    .row

      .col-md-6
        
        .type-box

          h1 Headline 1
          h2 Headline 2
          h3 Headline 3
          h4 Title
          h5 Subheader
          p.body-2 Body 2 / Menu
          p.body-1 Body 1
          p.caption Caption
          a(href='#') Link

      .col-md-6.theme-dark

        .type-box
          h1 Headline 1
          h2 Headline 2
          h3 Headline 3
          h4 Title
          h5 Subheader
          p.body-2 Body 2 / Menu
          p.body-1 Body 1
          p.caption Caption
          a(href='#') Link

    .type-box.box-table

      table.typography-table

        tr
          td Light theme default type color
          td.big.opacity-87 Primary
          td.big.opacity-87 #ffffff
          td.big.opacity-87 87%

        tr
          td.rowspan.opacity-54(rowspan='2') 
            | Default light bg:
            br
            | Auth0 Grey, #e3e5e7
          td.big.opacity-54 Secondary
          td.big.opacity-54 #ffffff
          td.big.opacity-54 54%

        tr
          td.big.opacity-26 Disabled
          td.big.opacity-26 #ffffff
          td.big.opacity-26 26%
    .theme-dark
      .type-box.box-table
        table.typography-table

          tr
            td Light theme default type color
            td.big.opacity-100 Primary
            td.big.opacity-100 #ffffff
            td.big.opacity-100 100%

          tr
            td.rowspan.opacity-70(rowspan='2') 
              | Default light bg:
              br
              | Auth0 Grey, #e3e5e7
            td.big.opacity-70 Secondary
            td.big.opacity-70 #ffffff
            td.big.opacity-70 70%

          tr
            td.big.opacity-30 Disabled
            td.big.opacity-30 #ffffff
            td.big.opacity-30 30%

    br 

    section

      h2 Code Snippets
      p Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

      p Roboto Mono 12pt

    br

    section

      h2 Code Snippets
      p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus.

      p Someone famous in Source Title

    br
