//
// Typography
// --------------------------------------------------

$headings-font-family = inherit;
$headings-font-weight = 500;
$headings-line-height = 1.5;
$headings-color = #000;

$font-size-h1 = 3rem;
$font-size-h2 = 2rem;
$font-size-h3 = 1.5rem;
$font-size-h4 = 1.3rem;
$font-size-h5 = 16px;

// Headings
// -------------------------

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  color: $headings-color;
  font-family: "avenir-next-web", Avenir, "Helvetica Neue", Hevetica, sans-serif;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  margin: 20px 0;
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }

p {
  margin: 20px 0;

  &.caption {
    color: rgba(0, 0, 0, .26);
    letter-spacing: .5px;
  }

  &.body-2 {
    font-size: 13px;
  }

  &.body-1 {
    color: #333;
  }
}
