<mjml>
  <mj-head>
    <mj-attributes>
      <%- include('../_modules/defaults') %>
    </mj-attributes>
  </mj-head>
  <mj-body>
    <mj-container background-color="#E3E5E7">
      <mj-section background-color="white">
        <mj-column width="100%" vertical-align="top">
          <mj-image width="80" src="http://cdn.auth0.com/styleguide/latest/lib/logos/img/logo-blue.png" href="https://auth0.com/" alt="auth0"></mj-image>
        </mj-column>
      </mj-section>

      <%- include('../_modules/hero', {
        title: "Zero To Launch",
        subtitle: "Exclusive invitation for Auth0 Guardian<br\/>Multi Factor Authentication preview.",
        image: "http://auth0.github.io/auth0-email-templates/mjml/zero-to-launch/assets/top.png"
      }) %>

      <mj-section background-color="white">
        <mj-column width="100%" vertical-align="top">
          <mj-image width="80" src="http://auth0.github.io/auth0-email-templates/mjml/zero-to-launch/assets/1.png" alt="Zero To Launch" padding-top="30px"></mj-image>
          <mj-text mj-class="subtitle">
            What is Zero to Launch?
          </mj-text>
          <mj-text padding="0 20px 15px 20px">
            Zero to Launch gives you access to new and enhanced features and functionality prior to general release - combined with the resources and support to make great things happen!
          </mj-text>
          <mj-text padding="0 20px 30px 20px">
            Miss the launch? <a href="#video-link" style="color:#0a84ae;text-decoration:none">Watch this 5 minutes video</a>.
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section background-color="#F5F7F9">
        <mj-column width="100%" vertical-align="top">
          <mj-image width="80" src="http://auth0.github.io/auth0-email-templates/mjml/zero-to-launch/assets/2.png" alt="Zero To Launch" padding-top="20px"></mj-image>
          <mj-text mj-class="subtitle">
            June Mission:<br/>
            Auth0 Guardian Multi Factor Authentication
          </mj-text>
          <mj-text padding="0 20px 0 20px">
            With Auth0 Guardian we bring you the most usable and friction-free multi factor authentication experience available.
          </mj-text>
          <mj-list>
            <li>Enable with a single switch in the dashboard and protect your apps instantly</li>
            <li>Use Push Notifications with support for iOS and Android</li>
            <li>Support for SMS one time codes</li>
            <li>Control how MFA is activated through Auth0 Rules</li>
          </mj-list>

          <mj-button href="#sample">
            <span style="text-transform: uppercase; letter-spacing: 1px;">Get On Board</spans>
          </mj-button>
        </mj-column>
      </mj-section>

      <mj-section background-color="white">
        <mj-column width="100%" vertical-align="top">
          <mj-image width="80" src="http://auth0.github.io/auth0-email-templates/mjml/zero-to-launch/assets/3.png" alt="Zero To Launch" padding-top="30px"></mj-image>
          <mj-text mj-class="subtitle">
            Should you participate in this mission?
          </mj-text>
          <mj-text padding="0 20px 0 20px">
            Customers with the following use cases/scenarios will find great value from this mission:
          </mj-text>
          <mj-list padding="0 20px 0 30px" margin-top="0">
            <li>You’re using Auth0 to protect sensitive apps used by emloyees and you want an extra security factor</li>
            <li>You have built a SaaS app and your customers (particularly business customers) are asking for or expecting fictionless second factor authentication</li>
            <li>You’re using MFA in Auht0 already but are looking to remove the cost of 3rd party MFA providers and improve usability</li>
          </mj-list>
        </mj-column>
      </mj-section>

      <mj-section background-color="#F5F7F9">
        <mj-column width="100%" vertical-align="top">
          <mj-text font-size="26px" color="#212121" padding="30px 20px 15px 20px" margin="0">
            What’s next?
          </mj-text>
          <mj-text padding="0 20px 30px 20px">
            Select the “Get on Board” button to opt in and access this invitation to participate. In the coming weeks, customers who opt-in will receive further information around accessing and using Auth0 Guardian.
          </mj-text>
        </mj-column>
      </mj-section>


      <mj-section background-color="white">
        <mj-column width="100%">
          <mj-text font-size="26px" color="#212121" padding="30px 40px 0 40px" margin="0">
            Get on board and register to learn more about the June mission!
          </mj-text>
          <mj-text color="#555" padding="0 20px 0 20px" margin="0">

            <br/>Happy Authenticating,<br/>The Auth0 Team
            Clayton Moulynox<br/>
            Director - Enterprise Customer Success
          </mj-text>


          <mj-button href="#sample">
            <span style="text-transform: uppercase; letter-spacing: 1px;">Get On Board</spans>
          </mj-button>
        </mj-column>
      </mj-section>
      <mj-section background-color="white" padding="40px 30px 30px 30px">
        <mj-column width="30%" padding="0">
          <mj-text font-size="13px" color="#777" padding="0">
            <a style="color: #777777; text-decoration: none;" href="https://auth0.com/terms">Terms of service</a>
          </mj-text>
        </mj-column>
        <mj-column width="30%" padding="0">
          <mj-text font-size="13px" color="#777" padding="0">
            <a style="color: #777777; text-decoration: none;" href="https://auth0.com/privacy">Privacy</a>
          </mj-text>
        </mj-column>
        <mj-column width="30%" padding="0">
          <mj-text font-size="13px" color="#777" padding="0">
            <a style="color: #777777; text-decoration: none;" href="mailto:info@auth0.co">Contact Us</a>
          </mj-text>
        </mj-column>
        <mj-column width="10%" padding="0">
          <mj-image href="https://twitter.com/auth0/" src="http://cdn.auth0.com/blog/newsletter/twitter.png" alt="auth0" width="15px" padding-top="5px" margin="0" padding="0"></mj-image>
        </mj-column>
      </mj-section>

      <mj-section background-color="#F5F7F9">
        <mj-column width="100%" vertical-align="top">
          <mj-text font-size="13px" padding="0 20px 0 20px" line-height="20px">
            You’re receiving this email because you have and Auth0 account. If you’d rather not see us in your inbox in the future, please <a href="{{unsubscribe_url}}" style="color:#0a84ae;text-decoration:none">unsubscribe</a>.
          </mj-text>
        </mj-column>
      </mj-section>
    <mj-container>
  </mj-body>
</mjml>
