footer.site-footer
  .row
    .col-md-10.pull-right
      nav
        ul
          li
            a(href='https://auth0.com/about') About
          li
            a(href='https://auth0.com/availability-trust') Availability & Trust
          li
            a(href='https://auth0.com/terms') Terms Of Service
          li
            a(href='https://auth0.com/privacy') Privacy
          li
            a(href='http://chat.auth0.com') Support
          li
            a(href='https://docs.auth0.com') Documentation
          li
            a(href='mailto:support@auth0.com') Contact Us
    .left.col-xs-2
      a(href='/') Auth0 ©
