//- Components

.components-section(style='background-color: #fafafa')

  section.jumbotron
    
    h2: img(src='/lib/logos/img/icon-styleguide.svg', alt='Styleguide Icon', width='48', height='')
    h1 Components
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit quis risus eget urna mollis.

  section.content-styleguide

    section

      h2 Header
      p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.

      .playground

        .playground-options
          button.dark-option.is-active(name='', type='') Dark
          button.light-option(name='', type='') Light

        .playground-canvas

        ul.playground-actions
          li.is-active: a(href='#') Show code
          li: a(href='#') Copy HTML
          li: a(href='#') Copy Jade

    section

      h2 Footer
      p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.

      .playground

        .playground-options
          button.dark-option.is-active(name='', type='') Dark
          button.light-option(name='', type='') Light

        .playground-canvas

        ul.playground-actions
          li.is-active: a(href='#') Show code
          li: a(href='#') Copy HTML
          li: a(href='#') Copy Jade

    br
    br
