doctype html5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Styleguide
    link(href='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.11.0/codemirror.css', rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Roboto+Mono', rel='stylesheet')
    link(href='index.min.css', rel='stylesheet')
    link(href='main.min.css', rel='stylesheet')
    link(rel="shortcut icon", href="img/favicon.png")
    script(type='text/javascript', src='//cdn.auth0.com/web-header/latest/standalone.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js')
    
  include templates/mixins/header
  include templates/mixins/playground

  body
    script.
      if(_lrscript) {
        document.body.appendChild(_lrscript);
      }
      
    .container-styleguide
      include templates/utils/sidebar
      
      div.main-content-styleguide(role='main')
        include templates/getting-started
        include templates/design
        include templates/components
        include templates/resources
        
    include templates/utils/scripts
