doctype html5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Styleguide
    link(href='index.css', rel='stylesheet')
    link(href='landing.css', rel='stylesheet')
    link(rel="shortcut icon", href="img/favicon.png")
    script(type='text/javascript', src='//cdn.auth0.com/web-header/latest/standalone.min.js')
    script(src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js")

  body
    include includes/utils/mixins

    .container-styleguide
      include includes/sidebar
      
      div.main-content-styleguide(role='main')
        include includes/getting-started
        include includes/design
        include includes/components
        include includes/resources

    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script(src="//cdn.rawgit.com/vctrfrnndz/jquery-accordion/master/js/jquery.accordion.js")
    
    script.
      function navigation() {
        
        $(window).on('hashchange', setSelected);
        
        function buildNav() {
          var $nav = $('.nav-styleguide ul');
          
          $nav.html('');
          
          $('[data-group]').each(function(i) {
            var $group = $(this);
            var name = $group.attr('data-group');
            var id = $group.attr('id');
            var tpl = [
              '<li data-accordion class="'+ ((i === 0) ? 'open' : '') +'"><a class="'+ ((i === 0) ? 'is-current' : '') +'" href="#'+ id +'">',
              name,
              '</a></li>'
            ].join('');
            
            var $item = $(tpl);
            
            if($group.find('h2[id]').length) {
              var $list = $('<ul></ul>');
              
              $group.find('h2[id]').each(function(i) {
                var name = $(this).text();
                var id = $(this).attr('id') || 'foo';
                
                $list.append('<li><a href="#'+ id + '">' + name + '</li>');
                
                $item.append($list);
              });
            }
            
            return $nav.append($item);
          });
        }
        
        function setSelected(hash) {
          var hash = location.hash || hash;
          var activeClass = 'is-current';
          var $section = $(hash + '[data-group]');
          var $subSection = $(hash).closest('[data-group]');
          var $navItem = $('.nav-styleguide a[href="' + hash + '"]');
          
          $('[data-group], .nav-styleguide a').removeClass(activeClass);
          
          if(hash.length) {
            $('[data-accordion]').removeClass('open');
          }
          
          if($section.length) {
            $section.addClass(activeClass);
          } else if ($subSection.length) {
            $subSection.addClass(activeClass);
          }
          
          $navItem.addClass(activeClass);
          $navItem.closest('[data-accordion]').addClass('open');
        }
        
        buildNav();
        setSelected(location.hash);
      }
      
      navigation();
      
      function accordions() {
        $('[data-accordion]').accordion({
          controlElement: 'a',
          contentElement: 'ul'
        });
      }
      
      accordions();
      
      function playground() {
        var $module = $('.js-playground');
        
        function setFrame($iframe, content) {
          $iframe.get(0).src = "data:text/html;charset=utf-8," + escape(content);
        }
        
        function cleanFrames(html) {
          html.find('iframe').remove();
          
          return html;
        }
        
        function convertChars(str) {
          str = str.replace('©', '&copy;');
          
          return str;
        }
        
        $module.each(function() {
          var $component = $(this);
          var http = location.protocol;
          var dom = cleanFrames($('.playground-real-component', $component));
          var scripts = '<script src\="' + http + '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"><\/script><script src\="' + http + '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"><\/script>';
          var html = '<html><head><link href="' + location.origin + '/index.css" rel="stylesheet"></head><body>' + convertChars(dom.html()) + scripts + '</body></html>';
          
          setFrame($('iframe', $component), html);
        });
      };
      
      playground();
