doctype html5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Styleguide
    link(href='index.css', rel='stylesheet')
    link(href='landing.css', rel='stylesheet')
    link(rel="shortcut icon", href="img/favicon.png")
    script(type='text/javascript', src='//cdn.auth0.com/web-header/latest/standalone.min.js')
    script(src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js")

  body
    include includes/utils/mixins

    .container-styleguide
      include includes/sidebar
      
      div.main-content-styleguide(role='main')
        include includes/getting-started
        include includes/design
        include includes/components
        include includes/resources

    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script(src="//cdn.rawgit.com/vctrfrnndz/jquery-accordion/master/js/jquery.accordion.js")
    script(src="landing/index.js")
