mixin example_block(title, description, code)
  .example-block
    h1= title
    .example-block-content
      p= description
      block
    if(code)
      pre.example-block-code.prettyprint= code

    

doctype html5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    title Styleguide

    link(href='index.css', rel='stylesheet')
    link(href='landing.css', rel='stylesheet')
    link(rel="shortcut icon", href="img/favicon.png")

    script(type='text/javascript', src='//use.typekit.net/iws6ohy.js')
    script.
      try{Typekit.load();}catch(e){}
        
    script(src="//localhost:35729/livereload.js")
      
  body(data-spy="scroll", data-target="#myNavbar", data-offset="0")

    include ../lib/header/index.jade


    .container

      .sidebar
        #myNavbar
          ul(class="nav", role="tablist")
            li
              a(href="#general") General
              ul
                li 
                  a(href="#getstarted") Get Started
            li 
              a(href="#branding") Branding
              ul
                li
                  a(href='#logos')
                    i
                    span Logos
            
                li
                  a(href='#colors')
                    i
                    span Colors
    

            li
              a(href="#css") CSS
              ul
            
                li
                  a(href='#typography')
                    i
                    span Typography
            
                li
                  a(href='#buttons')
                    i
                    span Buttons
                li
                  a(href='#icons')
                    i
                    span Icons
            
            //- 
            //- li 
            //-   a(href="#components") Components
            //-   ul.nav
            //- 
            //-     li
            //-       a(href='#header')
            //-         i
            //-         span Header
            //- 
            //- 
            //-     li
            //-       a(href='#footer')
            //-         i
            //-         span Footer
            //- 
            //-     li
            //-       a(href='#sub-header')
            //-         i
            //-         span Sub Header
            //- 
            //- 
            //-     li
            //-       a(href='#banner')
            //-         i
            //-         span Banner
            //- 
            //-     li
            //-       a(href='#Modal')
            //-         i
            //-         span Modal
            //- 

      .styleguide-content
        
        +example_block("Get Started", "In order to use the styleguide, you can use from cdn as follow:", '<link href="https://cdn.auth0.com/styleguide/latest/index.css" rel="stylesheet" />')
  
      
        +example_block("Branding")
          h5.styled
            a(id="colors") Logos
          include ../lib/logos/demo

          h5.styled
            a(id="colors") Colors
          include ../lib/colors/demo

        hr

        a(id="css")
          h1 CSS

        h5.styled
          a(id="typography") Typography
        include ../lib/typography/demo


        h5.styled
          a(id="buttons") Buttons
        include ../lib/buttons/demo


        h5.styled
          a(id="icons") Icons
        include ../lib/budicon/demo

        hr

        a(id="components")
          h1 Components

        h5.styled
          a(id="sub-header") Sub Header
        include ../lib/sub-header/demo


        h5.styled
          a(id="footer") Footer
        include ../lib/footer/demo


        h5.styled
          a(id="banner") Banner
        include ../lib/banner/demo

        h5.styled
          a(id="modal") Modal
        include ../lib/modal/demo


        h5.styled
          a(id="center-title-content") Center Title Content
        include ../lib/center-title-block/demo


        h5.styled
          a(id="try-banner") Try Auth0
        include ../lib/try-banner/demo


        h5.styled
          a(id="quotes") Quotes
        include ../lib/quotes/demo




    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")

    script(src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
      
