@import 'lib/vars/index.styl';

.container-fluid {
  background-color: #e3e5e7;
}

// Aside Styleguide
.col-aside {
  padding-right: 0;
  padding-left: 0;
}

.aside-styleguide {

  header {
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    
    h1 {
      margin: 15px 0 14px 0;
    }
    
    a, img {
      display: block;
      margin: 0 auto;
    }
  }
  
  footer {
    background-color: rgba(0, 0, 0, .05);
    padding: 5px 0;
    text-align: center;
    
    span {
      color: rgba(0, 0, 0, .4);
      font-size: 11px;
      font-weight: bold; 
      letter-spacing: 1px;
      line-height: normal;
    }
  }
}

.nav-styleguide-list {
  color: #5c666f;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  list-style: none;
  line-height: normal;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  
  > li {
    margin: 0;
    
    > a {
      border-bottom: 1px solid rgba(0, 0, 0, .08);
      color: inherit;
      display: block;
      padding: 20px 0 20px 20px;
      
      > .icon {
        margin-right: 10px;
        
        &:before {
          -webkit-transform: translateY(2px);
          transform: translateY(2px);
        }
      }
    }
  }
}

.nav-styleguide-in-list {
  border-bottom: 1px solid rgba(0, 0, 0, .08);
  list-style: none;
  margin: 0;
  padding: 0;
  
  li {
    background-color: rgba(255, 255, 255, .3);
    margin: 1px 0 0 0;
    
    &:first-child {
      margin-top: 0;
    }
    
    a {
      background-color: rgba(255, 255, 255, .3);
      color: inherit;
      display: block;
      padding: 10px 0 10px 40px;
    }
  }
}

// Content Styleguide
.col-main-content {
  background-color: #fff;
  padding-right: 0;
  padding-left: 0;
  
  &.alt {
    background-color: #fafafa;
  }
}

.content-styleguide {
  overflow: hidden;
  padding: 0 120px 0 60px;
  
  .title {
    border-bottom: 1px solid #d0d2d3;
    color: #eb5424;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    padding: 15px 0;
  }
  
  .box {
    background-color: #e3e5e7;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 0 40px;

    &.box-dark {
      background-color: #222228;
    }
  }
}

// Playground
.playground-options {
  margin-bottom: 20px;
  overflow: hidden;

  button {
    background-color: #fff;
    border: 0;
    color: #9b9b9b;
    font-size: 12px;
    float: left;
    line-height: normal;
    text-align: center
    width: 100px;
    height: 30px;
    
    &.is-active {
      background-color: #44c7f4;
      color: #fff;
    }
  }
  
  .dark-option {
    border-radius: 3px 0 0 3px;
  }
  
  .light-option {
    border-radius: 0 3px 3px 0;
  }
}

.playground-canvas {
  background-color: #fff;
  border-radius: 3px;
  height: 170px;
}

.playground-actions {
  color: #666666;
  font-size: 12px;
  line-height: normal;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  
  li {
    float: left;
  }
    
  a {
    color: inherit;
    padding: 0 40px 0 40px
  }
  
  li:first-child a {
    padding-left: 0;
  }
  
  li.is-active a {
    color: #31afda;
  }
}
