@import 'lib/vars/index.styl';

body
	font-family: "proxima-nova";
	padding-top: 140px;
	background: #e3e5e9
	position: relative;

hr
	margin-bottom: 100px;
	opacity: 0;

.container
	width: 100% !important;
	min-width: 100% !important;
	max-width: 100% !important;

.text-content
	.container
		max-width: 100%;

.text-content .box
	background: #f1f1f1;
	padding: 20px;

header.site-header.site-header
	position: fixed !important
	padding: 20px 10px;
	right: 0;
	left: 0;
	top: 0;
	background: rgba(255,255,255,.8)
	.hiring
		display: none;

.sidebar
	position: fixed;
	background: #111118
	left: 0;
	padding: 30px 30px;
	top: 90px;
	bottom: 0;
	width: 260px;

	a
		color: rgba(255,255,255,.4);
		text-transform: uppercase;



	ul
		margin-bottom: 30px;
		padding: 0;
		li
			padding: 0;
			list-style: none;
			a
				color: white;



.example-block
	background: white;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 100px;
	h1
		font-size: 14px;
		border-bottom: 1px solid #ccc;
		padding: 20px;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin: 0;
		padding: 20px;

	.example-block-content
		padding: 10px 20px;
	.example-block-code.prettyprint
		font-size: 12px;
		background: #101018
		border-radius: 0;
		margin: 0;
		padding: 20px;

		.tag
			color: color_blue_light;

		.atn
			color: #C2C0FC

		.pun
			color: #C5C8C6

		.atv
			color: #A5FF54

.nav

	li ul
		display:none;

	li.active>ul
		display:visible;

.styleguide-content
	margin-left: 300px;
	margin-right: 30px;

.shades
	border-radius: 3px;
	overflow: hidden;
	.shade
		padding: 10px 20px;
		background: #000
