ul.nav.nav-tabs
  li.active
    a(href="") Something
  li 
    a(href="") Something
  li 
    a(href="") Something
  li 
    a(href="") Something

ul.nav.nav-tabs.nav-center
  li.active
    a(href="") Something
  li 
    a(href="") Something
  li 
    a(href="") Something
  li 
    a(href="") Something
