/*==========  Navtabs  ==========*/
.nav.nav-tabs
  border-bottom: 1px solid #f1f1f1
  margin-bottom: 20px;
  li.active
    border: 0;
    a
      border-bottom: 1px solid black;

  li
    margin-left: 14px;
    margin-right: 14px;
    &:first-child
      margin-left: 0;

    a
      border: 0;
      padding-left: 0;
      padding-right: 0;
      &:hover
        border-top: 0;
        border-left: 0;
        border-right: 0;
        background: none;
