.quotes
  blockquote.active
    p Auth0 is offering us a one-stop solution for our authentication needs, whether its social login, enterprise login or some custom system we're using
    author Rick Smit - boekhoudservice

  blockquote
    p I wish all developer services could be as good as this: <a href="http://www.laceysnr.com/2014/02/auth0-serving-internet-of-developers.html" target="_new">laceysnr.com/2014/02/auth0...</a>
    author Matt Lacey - @LaceySnr - Salesforce & force.com MVP

  blockquote
    p We are extremely happy with Auth0. Really a high quality enabler.
    author Niels Flensted-Jensen - grean.dk

  blockquote
    p The SaaS world should take note of the Auth0 team - great service and great product
    author Rhys Campbel - @RhysC

  blockquote
    p Auth0 team is OUTSTANDING at customer support
    author Michele Bustamante - @michelebusta

  blockquote
    p The customer service at @authzero is amazing. Seriously, you guys are my favorite company right now.
    author Robert McLaws - @robertmclaws - AdvancedREI.com

  p
    img(src="https://auth0.com/homepage/img/avatars/avatar-1.jpg").active
    img(src="https://auth0.com/homepage/img/avatars/avatar-3.png")
    img(src="https://auth0.com/homepage/img/avatars/avatar-2.jpg")
    img(src="https://auth0.com/homepage/img/avatars/avatar-4.png")
    img(src="https://auth0.com/homepage/img/avatars/avatar-5.jpg")
    img(src="https://auth0.com/homepage/img/avatars/avatar-6.png")