.ui-switch.ui-switch-labeled
  input(type="checkbox")
  label(data-label-true="Authorized", data-label-false="Unauthorized").status
  
.ui-switch
  input(type="checkbox" checked)
  label.status

.ui-switch
  input(type="checkbox" checked disabled)
  label.status

.ui-switch
  input(type="checkbox" disabled)
  label.status
