.ui-switch
  outline none !important
  box-sizing border-box
  appearance none
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
  height 31px
  width 51px
  position relative
  border-radius 16px
  cursor pointer
  outline 0
  z-index 0
  margin 0
  padding 0
  border none
  background-color #d0d2d3
  transition-duration 600ms
  transition-timing-function ease-in-out
  -webkit-touch-callout none
  -webkit-text-size-adjust none
  -webkit-tap-highlight-color transparent
  -webkit-user-select none

  &::before
    box-sizing border-box
    height 27px
    width 47px
    content ' '
    position absolute
    left 2px
    top 2px
    background-color #d0d2d3
    border-radius 16px
    z-index 1
    transition-duration 300ms
    transform scale(1)
  &::after
    box-sizing border-box
    height 27px
    width 27px
    content ' '
    position absolute
    border-radius 27px
    background #ffffff
    z-index 2
    top 2px
    left 2px
    box-shadow 0px 0px 1px 0px rgba(0, 0, 0, 0.25), 0px 4px 11px 0px rgba(0, 0, 0, 0.08), -1px 3px 3px 0px rgba(0, 0, 0, 0.14)
    transition transform 300ms, width 280ms
    transform translate3d(0, 0, 0)
    transition-timing-function cubic-bezier(0.42, 0.8, 0.58, 1.2)
    background #ffffff
  &:checked
    background-color #4CD964
    background-image -webkit-linear-gradient(-90deg, #4CD964 0%, #4dd865 100%)
    background-image linear-gradient(-180deg,#4CD964 0%, #4dd865 100%)
    background-color #4CD964
    background-image -webkit-linear-gradient(-90deg, #4CD964 0%, #4dd865 100%)
    background-image linear-gradient(-180deg,#4CD964 0%, #4dd865 100%)
    &::after
      transform translate3d(16px, 0, 0)
      right 18px
      left inherit
  &:active
    &::after
      width 35px
  &:disabled
    opacity 0.3
    cursor default
    -webkit-transition none
    -moz-transition none
    transition none
    &:active
      &::before
        height 27px
        width 41px
        transform translate3d(6px, 0, 0)
    &:checked
      &:active
        &::before
          height 27px
          width 27px
          transform scale(0)

.ui-switch:checked::before,
.ui-switch:active::before
  transform scale(0)

.ui-switch:disabled:active::before,
.ui-switch:disabled:active::after,
.ui-switch:disabled:checked:active::before,
.ui-switch:disabled:checked::before
  width 27px
  transition none
