.code-picker
  pre code
    border-radius: 0 0 3px 3px

  .js-copy
    display: inherit;

    +breakpoint("mobile-landscape", "max")
      display: none;

  .bar
    background: $bg-color-dark
    border-radius: 3px 3px 0 0

    +breakpoint("mobile-landscape", "max")
      overflow-x scroll
      position relative

      &:after
        content ''
        position absolute
        top 0
        right 0
        height 100%
        width 50px
        background linear-gradient(to right, transparent 0%, black 100%)
        pointer-events: none

    .list-inline
      +breakpoint("mobile-landscape", "max")
        white-space nowrap
        overflow-x scroll

    > ul
      margin: 0;
      padding: 15px 3px 15px 25px;

      > li
        padding: 0 20px
        font-size 13px

        &:first-child
          padding-left 0

      .active > a
        color: white;


  .dropdown-menu > li > a
    +breakpoint("mobile-landscape", "max")
      padding 0 20px

  .more-dots
    font-size: 45px;
    line-height: 0;
    letter-spacing: -0.2rem;
    top: -3px;
    position: relative;

    +breakpoint("mobile-landscape", "max")
      display none
