#resources(data-group="Resources")
  +header('Resources')
  
  .content-styleguide
    h2#technologies.title Technologies
    p
      include ../../lib/circle-logo/demo

  include ../../lib/budicon/demo

  include ../../lib/buttons/demo

  include ../../lib/logos/demo
