form.form-horizontal.col-xs-10.col-xs-offset-1

  .form-group
    label.col-xs-3.control-label Standard Input
    .col-xs-9
      input.form-control(type="text", placeholder="Placeholder text for input.")

  .form-group
    label.col-xs-3.control-label Read-only Input
    .col-xs-9
      input.form-control(type="text", placeholder="Placeholder text for input.", readonly)

  .form-group
    label.col-xs-3.control-label Disabled Input
    .col-xs-9
      input.form-control(type="text", placeholder="Placeholder text for input.", disabled)

  .form-group
    label.col-xs-3.control-label Error Input
    .col-xs-9
      input.form-control.has-error(type="text", placeholder="Placeholder text for input.")

  .form-group
    label.col-xs-3.control-label Success Input
    .col-xs-9
      input.form-control.has-success(type="text", placeholder="Placeholder text for input.")

  .form-group
    label.col-xs-3.control-label Warning Input
    .col-xs-9
      input.form-control.has-warning(type="text", placeholder="Placeholder text for input.")

  .form-group
    label.col-xs-3.control-label Standard Select
    .col-xs-9
      select.form-control
        option Option 1
        option Option 2
        option Option 3