p Standard Input
input.form-control(type="text", placeholder="Placeholder text for input.")

p Required Input
input.form-control(type="text", placeholder="Placeholder text for input.", required)

p Read-only Input
input.form-control(type="text", placeholder="Placeholder text for input.", readonly)

p Disabled Input
input.form-control(type="text", placeholder="Placeholder text for input.", disabled)

p Error Input
input.form-control.has-error(type="text", placeholder="Placeholder text for input.")

p Success Input
input.form-control.has-success(type="text", placeholder="Placeholder text for input.")

p Warning Input
input.form-control.has-warning(type="text", placeholder="Placeholder text for input.")

p Standard Select
select.form-control
  option Option 1
  option Option 2
  option Option 3