//- Getting started

section.jumbotron
  
  h2: img(src='/lib/logos/img/icon-styleguide.svg', alt='Styleguide Icon', width='48', height='')
  h1 Getting Started
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit quis risus eget urna mollis.

section.content-styleguide

  h1 Why Styleguide?
  p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.
  pre.prettyprint &lt;link href=&quot;https://cdn.auth0.com/styleguide/latest/index.css&quot; rel=&quot;stylesheet&quot; /&gt;

  br

  h1 From CDN
  p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
  pre.prettyprint npm install styleguide

  br

  h1 Installing from Github
  p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
