//
// Breadcrumbs
// --------------------------------------------------
.breadcrumb
  padding $breadcrumb-padding-vertical $breadcrumb-padding-horizontal
  margin-bottom $line-height-computed
  list-style none
  background-color $breadcrumb-bg
  border-radius $border-radius-base

  > li
    display inline-block

    + li:before
      content "" + $breadcrumb-separator + "\00a0" // Unicode space added since inline-block means non-collapsing white-space
      padding 0 5px
      color $breadcrumb-color

  > .active
    color $breadcrumb-active-color


/*==========  Breadcrumb  ==========*/
.breadcrumb
  padding: 0;
  background: none;
  font-size: 13px;

  a
    color: black;
    opacity: 0.56;

  >li+li:before
    border-style: solid;
    border-width: 0.1em 0.1em 0 0;
    content: '';
    display: inline-block;
    height: 0.5em;
    width: 0.5em;
    left: 0;
    position: relative;
    top: 0.45em;
    transform: rotate(45deg);
    vertical-align: top;
    padding: 0;
    margin-right: 0.8em;
    margin-left: 0.6em;

  li
    margin: 0;
