.row
  .col-xs-6

    .logo-branding
      h5 Blue Version
      img(src="css/logos/img/logo-blue-horizontal.png")
      a(href="https://cloudup.com/cmshMvKt2bD", target="_blank") Download

  .col-xs-6

    .logo-branding.logo-dark
      h5 Grey Version
      img(src="css/logos/img/logo-grey-horizontal.png")
      a(href="https://cloudup.com/cfievfeiyjb", target="_blank") Download



h5.styled Badge
.row
  .col-xs-6

    .logo-branding
      h5 Red Version
      img(src="css/logos/img/badge.png")
      a(href="https://cloudup.com/cHfNwqCZae0", target="_blank") Download
