header.new-header
  nav.navbar(role='navigation')
    .container
      h1.navbar-logo
        a(href="/")
          span Auth0
      //- a.no-basic.hiring.animated.bounce.hidden-sm.hidden-xs.hidden-md(href='/jobs') We&apos;re hiring!
      ul.navbar-bar.navbar-left
        li.navbar-item
          a(href="/")
            | Products
            i.icon-budicon-460
          .navbar-dropdown
            ul.options
              li
                a(href="/") Case studies
              li
                a(href="/") Use studies
        li.navbar-item 
          a(href="/") Learn
        li.navbar-item 
          a(href="/") Pricing
        li.navbar-item 
          a(href="/")
            | Customers
            i.icon-budicon-460
          .navbar-dropdown.with-highlight
            .options
              a(href="/") Support
              a(href="/") Partners
              a(href="/") Blog
              a(href="/") Videos
              a(href="/") Jobs
              a(href="/") Open Source
              a(href="/") About us
            .highlight
              h4.section-title Latest on Blog
              .highlight-content
                img(src="http://lorempixel.com/400/400/")
                h5.article-title Powering User Analytics With Identity
                p.article-content
                  | Learn how Auth0 helps with your decision-making process, and makes it
                  | easy to gather data about your users. Explore a specific example of User Analytics, including code snippets.
        li.navbar-item 
          a(href="/") Documentation
        li.navbar-item 
          a(href="/") Resources
      ul.navbar-bar.navbar-right
        li.navbar-item
          a(href="/") Talk to sales
        li.navbar-item
          button.btn.btn-transparent.btn-sm Signup
          
