header.site-header
  nav.navbar(role='navigation')
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        h1.navbar-brand
          a.logo(href="/")
            span Auth0
          a.hiring.animated.bounce(href='/jobs') We&apos;re hiring!
      #navbar-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-left
          li.navbar-item
            a(href="/")
              | Products
              i.icon-budicon-460.toggle-icon
              
            .dropdown-section
              ul.options
                li
                  a(href="/") Enterprise
                li
                  a(href="/") Lock
                li
                  a(href="/") Passwordless
                li
                  a(href="/") Wordpress
          li.navbar-item 
            a(href="/") Learn
          li.navbar-item 
            a(href="/") Pricing
          li.navbar-item
            a(href="/") 
              | Customers
              i.icon-budicon-460.toggle-icon
              
            .dropdown-section.with-highlight
              ul.options
                li
                  a(href="/") Support
                li
                  a(href="/") Partners
                li
                  a(href="/") Blog
                li
                  a(href="/") Videos
                li
                  a(href="/") Jobs
                li
                  a(href="/") Open Source
                li
                  a(href="/") About us
              .highlight
                h4.section-title Latest on Blog
                .section-content
                  .post-content
                    img(src="http://lorempixel.com/400/400/")
                    h5.article-title Powering User Analytics With Identity
                    p.article-content
                      | Learn how Auth0 helps with your decision-making process, and makes it
                      | easy to gather data about your.
                      
                    .footer-content 
                      .pull-left
                        span Sebastián Peyrott
                      .pull-right
                        span February 08, 2016
          li.navbar-item 
            a(href="/") Documentation
          li.navbar-item 
            a(href="/") Resources
        ul.nav.navbar-nav.navbar-right
          li.navbar-item
            a(href="/") Talk to sales
          li.navbar-item
            button.btn.btn-transparent.btn-sm Signup
          
