/* Header */

header.site-header

  .theme-dark &
    color rgba(255, 255, 255, 0.7)
    border-bottom 1px solid rgba(255, 255, 255, 0.1)

  // a
  //   color currentColor

  // .navbar
  //   margin-bottom 0 //Reset navbar default styles
  //   background-color transparent
  //   border 0

  // .navbar-logo
  //   float left
  //   margin 0
  //   position absolute
  //   top 50%
  //   transform translateY(-50%)
  //
  //   > a
  //     display block
  //     background-image: url('//cdn.auth0.com/styleguide/latest/lib/logos/img/logo-grey.png')
  //     background-size contain
  //     background-repeat no-repeat
  //     width 100px
  //     height 36px
  //     color rgba(0, 0, 0, 0)
  //     font-size 0

  .navbar-bar
    float left
    list-style-type none
    margin 0
    padding 0

    &.navbar-left
      padding-left 120px

  .dropdown-menu
    visibility hidden
    color $color-text
    opacity 0
    position absolute
    background-color white
    width 226
    border-radius 3px
    top 50px
    left 15px //Restore margin of the nav item
    margin-top 0
    border 1px solid $bg-color-gray
    box-shadow 0 2px 7px rgba(0,0,0,0.2)
    transition visibility 0s 0.2s, opacity 0.2s, margin-top 0.2s

    &.right-side
      left auto
      right 15px

    &.with-highlight
      height 344px
      width 627px

    .options,
    .highlight
      height 100%
      float left

    .options
      list-style-type none
      width 225px
      padding 0

      li a
        color currentColor
        padding 10px 15px
        display block
        border-bottom 1px solid $bg-color-gray

        &:hover
          background-color $bg-color-gray

      .option-icon
        margin-right 12px

      svg
        fill currentColor

    .highlight
      width 400px
      position relative
      border-left 1px solid $bg-color-gray

      .section-title
        font-size 14px
        margin 0
        padding 10px 15px
        line-height 2
        color rgba(black, 0.7)
        border-bottom 1px solid $bg-color-gray

      .main-content
        text-align center
        margin 0 20px
        position absolute
        top calc(50% + 25px)
        transform translateY(-50%)

        .article-title,
        .article-content
          color $color-text

        img
          max-width 90px
          max-height 90px
          border-radius 50%

        .article-content
          margin-bottom 0

      .footer-content
        margin 0 20px
        position absolute
        bottom 20px
        left 0
        right 0

        .author
          float left

        .date
          float right
