.switchboard(data-columns="3")
  .switchboard-item.disabled(tabindex='-1', data-switch-position="left")
    .content
      h4.name Austin flexitarian iPhone
      .desc DIY food truck authentic, mumblecore poutine slow-carb synth. Brooklyn bitters portland, pinterest man bun chillwave master cleanse craft beer deep v lomo lo-fi celiac before they sold out. Chia gastropub gochujang squid gluten-free, actually waistcoat mumblecore gentrify. Semiotics chicharrones locavore, hashtag 90's raw denim chartreuse venmo vinyl meggings small batch. Keytar mustache franzen paleo.
    .switch
      input(type="checkbox" class="ui-switch")
  .switchboard-item.disabled(tabindex='-1')
    .content
      h4.name 8-bit forage sartorial
      .desc Vegan 90's bicycle rights, hashtag semiotics franzen keffiyeh deep v typewriter stumptown 8-bit slow-carb tacos. 
    .switch
      input(type="checkbox" class="ui-switch" disabled checked)
  .switchboard-item.disabled(tabindex='-1')
    .content
      h4.name 8-bit forage sartorial
      .desc Vegan 90's bicycle rights, hashtag semiotics franzen keffiyeh deep v typewriter stumptown 8-bit slow-carb tacos. 
    .switch
      input(type="checkbox" class="ui-switch" disabled)
  .switchboard-item.disabled(tabindex='-1')
    .content
      img(src="https://cdn.auth0.com/manage/v0.3.1316/logos/build/logo-google/images/logo.svg", width="100", alt="Google")
    .switch
      input(type="checkbox" class="ui-switch")
  .switchboard-item.disabled(tabindex='-1')
    .content
      h4.name 8-bit forage sartorial
      .desc Vegan 90's bicycle rights, hashtag semiotics franzen keffiyeh deep v typewriter stumptown 8-bit slow-carb tacos. 
    .switch
      input(type="checkbox" class="ui-switch")
