.row
  .col-xs-4

    .logo-branding
      h5 Blue Version
      img(src="/lib/logos/img/logo-blue.png")
      a(href="https://cloudup.com/cmshMvKt2bD", target="_blank") Download

  .col-xs-4

    .logo-branding.logo-dark
      h5 Grey Version
      img(src="/lib/logos/img/logo-grey.png")
      a(href="https://cloudup.com/cfievfeiyjb", target="_blank") Download


  .col-xs-4

    .logo-branding
      h5 Badge
      img(src="/lib/logos/img/badge.png")
      a(href="https://cloudup.com/cHfNwqCZae0", target="_blank") Download
