.row
  .col-xs-2  
    .circle-logo(data-name)
      .logo
      .title Sample

  .col-xs-2  
    .circle-logo(data-name="auth0")
      .logo
      .title Sample

  .col-xs-2  
    .circle-logo(data-name="angular")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="ember")
      .logo
      .title Sample
      
  .col-xs-2
    .circle-logo(data-name="relay")
      .logo
      .title Sample
      
  .col-xs-2
    .circle-logo(data-name="nginx")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="falcor")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="node")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="ruby")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="apple")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="php")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="cordova")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="ionic")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="java")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="jquery")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="phonegap")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="nancyfx")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="net")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="netclassic")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="python")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="scala")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="android")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="rails")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="firebase")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="aws")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="salesforce")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="apache")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="xamarin")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="windows")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="servicestack")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="go")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="vanillajs")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="socketio")
      .logo
      .title Sample

  .col-xs-2
    .circle-logo(data-name="react")
      .logo
      .title Sample

  .col-xs-2  
    .circle-logo(data-name="sap")
      .logo
      .title Sample

  .col-xs-2  
    .circle-logo(data-name="spring")
      .logo
      .title Sample
