#boilerplates(data-group="Boilerplates", data-budicon="411")
  +header('Boilerplates', null, "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, repellendus.")
    
  .content-styleguide

    section 
      h2#website Website
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, assumenda!
      +playground({name: "boilerplates/website", isBoilerplate: "true", darkMode: "false", iframe: "true"})
        include ../../lib/boilerplates/website/render
    
