#components(data-group="Components", data-budicon="690")

  +header('Components')

  section.content-styleguide

    section 
      h2#alert Alert
      p Donec ullamcorper nulla non etus auctor frinilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.
      +playground('alerts', '', true)
        include ../../lib/alerts/demo
        
    section 
      h2#buttons Buttons
      p Donec ullamcorper nulla non etus auctor frinilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.
      +playground('buttons', '', true)
        include ../../lib/buttons/demo
                
        
    section 
      h2#try-banner Try Banner
      p Done ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.
      +playground('try-banner', '', true)
        include ../../lib/try-banner/demo
    
    section 
      h2#jumbotron Jumbotron
      p Use the <code>.has-header</code> modifier when used with the transparent header over it. Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.
      +playground('jumbotron', '', true)
        include ../../lib/jumbotron/demo
  
    section

      h2#header Header
      p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.

      +playground('header', 110)
        include ../../lib/header/demo

    section

      h2#footer Footer
      p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.

      +playground('footer')
        include ../../lib/footer/demo


        
    section 
      h2#spinner Spinner
      p Donec ullamcorper null non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.
      +playground('spinner')
        include ../../lib/spinner/demo
        
    section

      h2#modals Modals
      p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.

      +playground('modals')
        include ../../lib/modals/demo
        
        
    section

      h2#navs Navs
      p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.

      +playground('navs')
        include ../../lib/navs/demo
                
    section

      h2#ui-switch UI Switch
      p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.

      +playground('ui-switch', '', true)
        include ../../lib/ui-switch/demo
          
  
    section

      h2#switchboard Switchboard
      p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.

      +playground('switchboard', '', true)
        include ../../lib/switchboard/demo
