#components(data-group="Components", data-budicon="690", style='background-color: #fafafa')

  +header('Components')

  section.content-styleguide

    section

      h2#header Header
      p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.

      +playground('header', 110)
        include ../../lib/header/demo

    section

      h2#footer Footer
      p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.

      +playground('footer')
        include ../../lib/footer/demo
        
    section

      h2#modals Modals
      p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.

      +playground('modal')
        include ../../lib/modal/demo
        
    section

      h2#ui-switch UI Switch
      p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.

      +playground('ui-switch', '', true)
        include ../../lib/ui-switch/demo
          
        
        
    section

      h2#switchboard Switchboard
      p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.

      +playground('switchboard', '', true)
        include ../../lib/switchboard/demo

    br
    br
