#design(data-group="Design", data-budicon="258")

  +header('Design')

  section.content-styleguide
    include ../../lib/typography/demo

    section

      h2#primary-colors Primary Colors
      p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.

      .row

        .col-xs-12.col-sm-6.col-md-3
          .js-color.color.color-red
            span.color-info
              strong color-red
              span(data-hex) #eb5424

        .col-xs-12.col-sm-6.col-md-3
          .js-color.color.color-blue-light
            span.color-info
              strong color-blue-light
              span(data-hex) #44c7f4

        .col-xs-12.col-sm-6.col-md-3
          .js-color.color.color-blue
            span.color-info
              strong color-blue
              span(data-hex) #16214d

        .col-xs-12.col-sm-6.col-md-3
          .js-color.color.color-yellow
            span.color-info
              strong color-yellow
              span(data-hex) #eaca2c

    section

      h2#secondary-colors Secondary Colors
      p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.

      .row

        .col-xs-12.col-sm-6.col-md-3
          .js-color.color.color-orange
            span.color-info
              strong color-orange
              span(data-hex) #ff9a57

        .col-xs-12.col-sm-6.col-md-3
          .js-color.color.color-oil
            span.color-info
              strong color-oil
              span(data-hex) #5c666f

        .col-xs-12.col-sm-6.col-md-3
          .js-color.color.color-green
            span.color-info
              strong color-green
              span(data-hex) #01b48f

        .col-xs-12.col-sm-6.col-md-3
          .js-color.color.color-gray
            span.color-info
              strong color-gray
              span(data-hex) #d0d2d3

        .col-xs-12.col-sm-6.col-md-3
          .js-color.color.color-pink
            span.color-info
              strong color-pink
              span(data-hex) #c879b2

    section

      h2#bg-colors Background Colors
      p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.

      .row

        .col-xs-12.col-sm-6.col-md-3
          .color.bg-color-blue-dark
            span.color-info
              strong bg-color-blue-dark
              span(data-hex)

        .col-xs-12.col-sm-6.col-md-3
          .color.bg-color-oil
            span.color-info
              strong bg-color-oil
              span(data-hex)

        .col-xs-12.col-sm-6.col-md-3
          .color.bg-color-gray
            span.color-info
              strong bg-color-gray
              span(data-hex)

        .col-xs-12.col-sm-6.col-md-3
          .color.bg-color-gray-light
            span.color-info
              strong bg-color-gray-light
              span(data-hex)
              
        .col-xs-12.col-sm-6.col-md-3
          .color.bg-color-success
            span.color-info
              strong bg-color-success
              span(data-hex)
        
        .col-xs-12.col-sm-6.col-md-3
          .color.bg-color-error
            span.color-info
              strong bg-color-error
              span(data-hex)
              
        .col-xs-12.col-sm-6.col-md-3
          .color.bg-color-info
            span.color-info
              strong bg-color-info
              span(data-hex)
              
        .col-xs-12.col-sm-6.col-md-3
          .color.bg-color-alert
            span.color-info
              strong bg-color-alert
              span(data-hex)

    section

      h2#color-hues Color hues
      p Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.

      .row

        .col-xs-12.col-md-4
          ul.hue-palette.color-red
            li
              | &nbsp;
              span.hex
            li
              | &nbsp;
              span.hex
            li
              | &nbsp;
              span.hex
            li
              span.hex #eb5424
              strong Color Red
            li
              | &nbsp;
              span.hex
            li
              | &nbsp;
              span.hex
            li
              | &nbsp;
              span.hex

        .col-xs-12.col-md-4
          ul.hue-palette.color-blue-light
            li
              | &nbsp; 
              span.hex
            li
              | &nbsp;
              span.hex
            li
              | &nbsp;
              span.hex
            li
              span.hex #44c7f4
              strong Color Blue Light
            li
              | &nbsp;
              span.hex
            li
              | &nbsp;
              span.hex
            li
              | &nbsp;
              span.hex
          
        .col-xs-12.col-md-4
          ul.hue-palette.color-blue
            li
              | &nbsp;
              span.hex
            li
              | &nbsp;
              span.hex
            li
              | &nbsp;
              span.hex
            li
              span.hex #16214d
              strong Color Blue
            li
              | &nbsp;
              span.hex
            li
              | &nbsp;
              span.hex
            li
              | &nbsp;
              span.hex
                
