#email-templates(data-group="Email Templates", data-budicon="778")
  +header('Email Templates', "/lib/logos/img/email-templates.svg", "Build and send emails with style")

  .content-styleguide
    section
      h2#newsletter Newsletter
      p Standard company newsletter

      +playground({name: "emails/auth0-newsletter", isEmail: "true", iframe: "true"})
        include ../../build/lib/emails/auth0-newsletter/demo.html

    section
      h2#email-notifications Notifications
      p Notifications to auth0 users

      +playground({name: "emails/notifications", isEmail: "true", iframe: "true"})
        include ../../build/lib/emails/notifications/demo.html

    section
      h2#email-notices Notices
      p Standard company notices

      +playground({name: "emails/notices", isEmail: "true", iframe: "true"})
        include ../../build/lib/emails/notices/demo.html

    section
      h2#email-zero-to-launch Zero To Launch
      p Zero to launch beta tester program

      +playground({name: "emails/zero-to-launch", isEmail: "true", iframe: "true"})
        include ../../build/lib/emails/zero-to-launch/demo.html

    section
      h2#ad-compromised AD: Compromised
      p Anomaly detection email template

      +playground({name: "emails/ad-compromised", isEmail: "true", iframe: "true"})
        include ../../build/lib/emails/ad-compromised/demo.html

    section
      h2#ad-stolen AD: Stolen
      p Anomaly detection email template

      +playground({name: "emails/ad-stolen", isEmail: "true", iframe: "true"})
        include ../../build/lib/emails/ad-stolen/demo.html

    section
      h2#product-verify-email Product: Verify Email
      p Verify Email

      +playground({name: "emails/product-verify-email", isEmail: "true", iframe: "true"})
        include ../../build/lib/emails/product-verify-email/demo.html

    section
      h2#product-verification-code Product: Verification Code
      p Verification code

      +playground({name: "emails/product-verification-code", isEmail: "true", iframe: "true"})
        include ../../build/lib/emails/product-verification-code/demo.html
