#email-templates(data-group="Email Templates", data-budicon="778")
  +header('Email Templates', "/lib/logos/img/email-templates.svg", "Build and send emails with style")
  
  .content-styleguide
        
    section 
      h2#email-notifications Notifications
      p Notifications to auth0 users
      
      +playground({name: "emails/notifications", isEmail: "true", iframe: "true"})
        include ../../build/lib/emails/notifications/demo.html
        
    section 
      h2#email-notices Notices
      p Standard company notices
      
      +playground({name: "emails/notices", isEmail: "true", iframe: "true"})
        include ../../build/lib/emails/notices/demo.html
        
    section 
      h2#email-zero-to-launch Zero To Launch
      p Zero to launch beta tester program

      +playground({name: "emails/zero-to-launch", isEmail: "true", iframe: "true"})
        include ../../build/lib/emails/zero-to-launch/demo.html
