#getting-started(data-group="Getting Started", data-budicon="464", class="is-current")
  +header('Getting Started', null, "There are few ways to initialize depending on the use case.")
    
  .content-styleguide
    //- section
    //-   h2#why-styleguide Why Styleguide?
    //-   p Using our CDN is the simplest solution. Just add the following line in your project's HTML head and you are done.
    //-   pre.hl
    //-     code.html &lt;link href=&quot;https://cdn.auth0.com/styleguide/latest/index.css&quot; rel=&quot;stylesheet&quot; /&gt;

    section 

      h2#from-cdn From CDN
      p Using our CDN is the simplest solution. Just add the following line in your project's HTML head and you are done.
      pre.hl
        - var code = '<link href="https://cdn.auth0.com/styleguide/' + version + '/index.css" rel="stylesheet" />';
        code.html=code

    section

      h2#from-gh Installing from Github
      p Clone the repository to your computer. If you want more information 
        a(href="https://github.com/auth0/styleguide/blob/master/README.md", target="_blank") read here.
      pre.hl
        code.html
          | git clone https://github.com/auth0/styleguide.git
          | cd styleguide 
          | grunt dev
      
      
