#react-components(data-group="React Components", data-budicon="466")
  +header('React Components', "/lib/logos/img/components.svg", "Import components directly into your react app or use the `styleguide.min.js` bundle")

  section.content-styleguide

    section 
      h2#select Select
      p Placeholder text
      
      +playground({name: "select", darkMode: "false"})
        include ../../lib/select/demo
      
      
      
    
