#resources(data-group="Resources", data-budicon="733")
  +header('Resources', "/lib/logos/img/resources.svg",  "Logo, Icons and badges.")
  
  .content-styleguide
    section 
      h2#logos Logos
      p The available file formats include JPG, PNG, SVG and AI.
      p
        include ../../lib/logos/demo

    section 
      h2#technologies Badges
      p Tipically used to reference SDKs or programming languages. 
      include ../../lib/circle-logo/demo
    
    section 
      h2#Icons Icons
      p 
        | Iconography is another language to communicate visually. Built by 
        a(href="http://budicon.buditanrim.co/preview") Budi
      p
        include ../../lib/budicon/demo
    
    section 
      h2#credits Credits 
      p People who contributed to this project
      ul 
        li 
          a(href="http://twitter.com/rickyrauch") Ricky Rauch
        li 
          a(href="https://twitter.com/vctrfrnndz") Victor Fernandez 
        li 
          a(href="https://twitter.com/sanntu") Santiago Escalante  
