#resources(data-group="Resources", data-budicon="733")
  +header('Resources')
  
  .content-styleguide
    section 
      h2#technologies.title Technologies
      p
        include ../../lib/circle-logo/demo
    
    section 
      h2#Icons.title Icons
      p
        include ../../lib/budicon/demo
    
    section 
      h2#logos.title Logos
      p
        include ../../lib/logos/demo
