#resources(data-group="Resources", data-budicon="733")
  +header('Resources')
  
  .content-styleguide
    h2#technologies.title Technologies
    p
      include ../../lib/circle-logo/demo
      
    h2#Icons.title Icons
    p
      include ../../lib/budicon/demo
      
    h2#logos.title Logos
    p
      include ../../lib/logos/demo
