#resources(data-group="Resources", data-budicon="733")
  +header('Resources')
  
  .content-styleguide
    section 
      h3#technologies Technologies
      p
        include ../../lib/circle-logo/demo
    
    section 
      h3#Icons Icons
      p
        include ../../lib/budicon/demo
    
    section 
      h3#logos Logos
      p
        include ../../lib/logos/demo
