#splash(data-group="splash")

  .splash.theme-dark
    .splash-intro 
      span.red
      span.blue
      span.blue-light
      span.gray
      
      h1 Styleguide
      p Conjunction of design patterns, components and resources used across our products.
      
      a(href="").btn.btn-success.btn-lg Fork from github
      a(href="").btn.btn-default.btn-lg Download Sketch
