#splash(data-group="splash")

  .splash.theme-dark
    .splash-intro 
      span.red
      span.blue-light
      
      h1 Styleguide
      p Conjunction of design patterns, components and resources used across our products.
      
      a(href="").btn.btn-success Fork from github
      a(href="").btn.btn-default Download Sketch
