.sub-header
  span.sub-header-text  Text goes here

  ul.external-links
    li
      a(href='http://twitter.com/authzero', target='_blank') Twitter
    li
      a(href='http://github.com/auth0', target='_blank') Github
    li
      a(href='http://chat.auth0.com', target='_blank') Chat With Us
    li
      a(href='mailto:support@auth0.com', target='_blank') Contact Us

.sub-header.sub-header-dropdown

  .dropdown
    button#dropdownMenu1.btn.dropdown-toggle(type='button', data-toggle='dropdown')
      | Application Name
      span.caret
    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
      li(role='presentation')
        a(role='menuitem', tabindex='-1', href='#') Action
      li(role='presentation')
        a(role='menuitem', tabindex='-1', href='#') Another action
      li(role='presentation')
        a(role='menuitem', tabindex='-1', href='#') Something else here
      li.divider(role='presentation')
      li(role='presentation')
        a(role='menuitem', tabindex='-1', href='#') Separated link


  ul.external-links
    li
      a(href='http://twitter.com/authzero', target='_blank') Twitter
    li
      a(href='http://github.com/auth0', target='_blank') Github
    li
      a(href='http://chat.auth0.com', target='_blank') Chat With Us
    li
      a(href='mailto:support@auth0.com', target='_blank') Contact Us