.col-xs-12.col-md-4
  article.card-docs
    i.card-docs-icon.icon-budicon-499.orange
    h2.card-docs-title Getting started
    p.card-docs-description Learn how to connect Auth0 to any social provider
    .card-docs-links
      a.card-docs-link(href="") Applications
      a.card-docs-link(href="") Multifactor Authentication
      a.card-docs-link(href="") Single Sign On
    a.card-docs-more(href="") More

.col-xs-12.col-md-4
  article.card-docs
    i.card-docs-icon.icon-budicon-342.green
    h2.card-docs-title SDKS
    p.card-docs-description Learn about all those difficult items that you heard but were 
    .card-docs-links
      a.card-docs-link(href="") Ionic
      a.card-docs-link(href="") AngularJs
      a.card-docs-link(href="") NodeJs
    a.card-docs-more(href="") More

.col-xs-12.col-md-4
  article.card-docs
    i.card-docs-icon.icon-budicon-546.blue
    h2.card-docs-title APIs
    p.card-docs-description Learn how to integrate Auth0 with other tools and SaaS
    .card-docs-links
      a.card-docs-link(href="") Connect Auth0 to your DB
      a.card-docs-link(href="") Auth0 & AWS API Gateway
      a.card-docs-link(href="") Multi tenants ads with Azure
    a.card-docs-more(href="") More
